[2018-11-29 00:46] devtycoon opened #866 "pipenv install geopandas error"
# Pipenv install error

Collecting geopandas
  Using cached https://files.pythonhosted.org/packages/24/11/d77c157c16909bd77557d00798b05a5b6615ed60acb5900fbe6a65d35e93/geopandas-0.4.0-py2.py3-none-any.whl
Collecting fiona (from geopandas)
  Using cached https://files.pythonhosted.org/packages/25/50/0466d5d83e1859c5ca38351ee932d64cc5635f9d4dad522879e58f4b0018/Fiona-1.8.2.tar.gz
    Complete output f

[2018-11-29 09:04] jorisvandenbossche commented on #866
This is not a bug in geopandas, but an installation problem with one of its dependencies (Fiona).

I assume you are using windows?

Fiona does not provide binary packages when installing through pip for Windows, so it is trying to build from source and not finding GDAL.
I would recommend to use Anaconda to install geopandas on windows (or otherwise, with pip, you can download binaries for Fiona an

[2018-11-29 09:04] #866 closed

[2018-11-29 11:03] sarkyscouser commented on #866
Set up an anaconda environment that points to conda-forge (nothing else) and then install geopandas otherwise you will get lots of conflicts between conda-forge and the default conda channel when it comes to gdal etc

This works for me:
conda create -n new_env_name -c conda-forge python=3.5 geopandas

[2018-11-29 21:35] devtycoon commented on #866
thanks!

also found this link that is telling me to do the same thing or download the wheels and do it manually.
[https://geoffboeing.com/2014/09/using-geopandas-windows/](https://geoffboeing.com/2014/09/using-geopandas-windows/)

[2018-12-03 01:24] galak75 opened #867 "gpd.to_file could support GeoDataFrames with multiple geometry types"
# Context

Since [Fiona 446](https://github.com/Toblerity/Fiona/issues/446) resolution (see [PR 539](https://github.com/Toblerity/Fiona/pull/539)), `fiona.open` allows to provide a schema with a list of geometry types, or even any types (using `Unknown` keyword)

# Current behaviour
Currently, `gpd.to_file` fails for the following cases (using `GeoJSON` OGR driver):
* a gdf containing a shape type

[2018-12-03 11:15] Rbroekie opened #868 "Cannot read and write to fgdb with FileGDB driver"
I want to use geopandas to do some data analysis. First I read the data (can only use OpenFileGDB). Do something. Then I try to write to FileGDB with the dataframe_to_file function. I checked if FileGDB is supported with supported drivers and it is (r,a,w). Still I get an error code when trying to read and write the data. These codes are used:
gdf1 = geopandas.read_file(gdb_requestor, layer=gdb_la

[2018-12-04 07:06] story645 opened #869 "cmap/norm not persisting when passed as arguments"
Mentioned this briefly on gitter, but I'm having trouble with my color map and norm persisting across multiple calls to plot on version 0.4.0. xref:#730, #420.

First I set up a cmap and norm:
[code]
I get the colors I expect when using the .plot method on the entire geodataframe:
[code]
![index](https://user-images.githubusercontent.com/1300499/49424026-5a17c700-f767-11e8-9086-ea4b95eff444.png)

[2018-12-04 13:58] andygarfield commented on #868
The Geodatabase support comes from [Fiona](https://github.com/Toblerity/Fiona/blob/master/fiona/drvsupport.py#L42), which is a wrapper around the GDAL library. As you can [see here](https://www.gdal.org/drv_openfilegdb.html), the GDAL OpenFileGDB driver can only read at this time. To write to File Geodatabases, you will need to build GDAL with the [File Geodatabase API](https://github.com/Esri/fil

[2018-12-04 14:09] andygarfield commented on #865
This seems to be the default CSV driver behavior in GDAL. [Fiona's docs](https://github.com/Toblerity/Fiona/blob/master/fiona/drvsupport.py#L6) recommend using python's built in CSV parser.

Though, a simple workaround would be to convert the pandas DataFrame to a GeoDataFrame.
[code]
Output
[code]

[2018-12-04 14:12] SylvainLan commented on #865
Thanks ! I'll use the python CSV parser then.

[2018-12-04 14:12] #865 closed

[2018-12-04 21:07] jwilson8767 commented on #868
I looked into building GDAL with the FileGDB driver about 8 months ago and never had any success.

[2018-12-05 10:10] Rbroekie commented on #868
I also already tried to build GDAL with the File Geodatabase API without succes. Found some documenatation here:  [https://gis.stackexchange.com/questions/193288/how-to-add-support-for-filegdb-esri-file-gdb-api-driver-in-fiona](url). But could not get it working yet.

[2018-12-05 15:04] galak75 commented on #867
@bnaul sorry for the delay, I was trying to figure out the best way to include Fiona new behavior into geopandas.
 #827 is addressing partly the problem: one use case that might fail with this PR is a gdf having Polygon and MultiPolygon geometries.

I'm working on suggesting another PR (adding a lot of unit tests on both functions `file.infer_schema` and `gdf.to_file`)

let's keep in touch to fix

[2018-12-07 12:09] linwoodc3 commented on #473
@jorisvandenbossche let me know if you don't want us posting issues we come across in here.  But, I found a possible bug when trying to use the `.shift()` method for this build of `geopandas`.

Make any geodataframe and try to use `.shift()` , and you'll get this error:

[code]

[2018-12-09 08:14] jorisvandenbossche commented on #863
Closed by https://github.com/geopandas/geopandas/pull/864

[2018-12-09 08:14] #863 closed

[2018-12-09 08:37] jorisvandenbossche commented on #799
For people searching for it, the error was: KeyError: "['__idx1' '__idx2'] not found in axis"

[2018-12-09 09:06] jorisvandenbossche opened #875 "Release 0.5.0"
We already have quite some new features/fixes/improvements, so I want to release shortly.

Started a changelog here: https://github.com/geopandas/geopandas/pull/874

Main blockers I would still like to get merged:

* Finishing the "writing multiple geometries": https://github.com/geopandas/geopandas/pull/870
* Set geometry with x/y columns: https://github.com/geopandas/geopandas/pull/833

The refa

[2018-12-09 10:15] jorisvandenbossche commented on #867
@bnaul @galak75 Looking at this now, I think it is nice to actually explicitly list all the geometries that are in the geodataframe, so fiona gets all the information we can give it (and so it can already decide to let pass through eg Polygon/MultiPolygon combo for Shapefiles).
I think always having "Unknown" as done in #827 will also work for fiona, but that means that you only get a error messag

[2018-12-10 07:47] jorisvandenbossche commented on #473
@linwoodc3 no, no, posting such reports is *very* welcome!

Are you running on pandas master or pandas 0.23 ?
I think in the meantime, on pandas master there was an ExtensionArray.shift added to enable the DataFrame/Series `shift` method (https://github.com/pandas-dev/pandas/pull/22387), which might solve this.

[2018-12-11 11:43] fmaussion opened #877 "Plot categories changed in 0.4.0"
My apologies if this was raised before, I haven't had the time to do a proper issue search.

The following code used to create a multicolor plot in geopandas 0.3.0 but not 0.4.0 (or master).

Here the file: [clusters.tar.gz](https://github.com/geopandas/geopandas/files/2667357/clusters.tar.gz)

[code]

Outputs:

[code]

![index](https://user-images.githubusercontent.com/10050469/49798135-dc911f80-

[2018-12-11 11:47] fmaussion commented on #877
(note: also the warning is a bit annoying but this is maybe my data)

[2018-12-11 12:41] jGaboardi commented on #877
[The warning seems to be thrown by `numpy`, maybe due to `NaN`s in your dataset.](https://github.com/Unidata/netcdf4-python/issues/766)

[2018-12-11 13:07] fmaussion commented on #877
sorry for not seeing that, too much on my plate right now -> removing NaNs also solves the plot.

It used to be more robust in geopandas v0.3, though. Should I leave the issue open?

[2018-12-11 13:34] martinfleis commented on #877
It is caused by changes in #770. Removing NaNs solves the issue only partially. In 0.3 you those shapes with NaNs were also plotted. I think they should be plotted, just with no value. Opinions?

[2018-12-11 13:49] fmaussion commented on #877
I agree: like matplotlib's imshow or pcolormesh where NaNs are displayed with white (default) or any color specified by the user in cmap.set_bad()

[2018-12-11 14:20] martinfleis commented on #877
Got it. `mn = values.min() if vmin is None else vmin` and `mx = values.max() if vmax is None else vmax` are both returning `nan`. That's why it does not plot colours - it is passing range from nan to nan.
Previous version was passing Series, which ignores NaNs in min() and max(). Now it is passing numpy array which returns NaN for min() and max(),
I'll make PR to fix it.

[2018-12-12 06:06] utkarshshukla2912 commented on #556
I got it solved by updating to shapely-1.6.4.post2 on MAC

[2018-12-12 22:52] #877 closed

[2018-12-13 18:36] kirtan29 opened #879 "ImportError: DLL load failed: The specified module could not be found."
geopanda was working absolutely fine but i had to reinstall anaconda as i got a issue with spyder. Now i cannot import geopandas.
ImportError: DLL load failed: The specified module could not be found.

`Python 3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent c

[2018-12-14 03:38] lvdong183 opened #880 "ttributeError: /usr/local/lib/libspatialindex_c.so.1: undefined symbol: Index_ClearBuffer"
when i executed the script(from geopandas import * ),i encountered the following problems,how can i solve it?  Thanks a lot

AttributeError: /usr/local/lib/libspatialindex_c.so.1: undefined symbol: Index_ClearBuffer

[2018-12-14 12:30] kirtan29 commented on #879
I solved it by following  these steps.
conda config --add channels conda-forge
conda config --add channels anaconda
conda create -n test_python python=3.7.0 geopandas=0.4.0

detail description of the solution is available on stack Overflow.
https://stackoverflow.com/questions/50490515/import-error-when-importing-geopandas

[2018-12-15 05:10] jdmcbr commented on #879
This looks like it would be better directed to https://github.com/conda-forge/fiona-feedstock. That said, I'm guessing you have a mix of packages from different channels. Try:

    conda create -n geopandas-test geopandas -c conda-forge
    activate geopandas-test

and then open a python console and try `import geopandas`.

[2018-12-15 05:11] #879 closed

[2018-12-19 05:58] jdmcbr commented on #721
Closed by #872

[2018-12-19 05:58] #721 closed

[2018-12-19 06:06] jdmcbr commented on #235
Closed by #876

[2018-12-19 06:06] #235 closed

[2018-12-19 06:06] jdmcbr commented on #357
#876 provides access to all classifiers, which I think obviates this.

[2018-12-19 06:06] #357 closed

[2018-12-21 12:37] vhoofk opened #881 "missing fiona.Env() in read_file()"
It seems that `read_file()` is missing the `fiona.Env()` block that was recently added to `to_file()`.

Without this the `GDAL_DATA` environment variable is not set anymore since Fiona 1.8 as can be read in this issue thread:

[https://github.com/Toblerity/Fiona/issues/673](https://github.com/Toblerity/Fiona/issues/673)

In our case this leads to the following exception and GDAL warnings (only rel

[2018-12-21 12:55] apiszcz opened #882 "fiona deprecation warning"
geopandas 0.4
fiona 1.8.4

geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

[2018-12-21 23:33] koshy1123 opened #884 "Changing a geodataframe's row order inplace should invalidate its spatial index"
This bit me recently, but when a geodataframe's order of rows changes "in place", the `sindex` should be invalidated and recomputed. Here's a reproducible example:
[code]

[2018-12-23 11:06] mayanksuman commented on #793
@jorisvandenbossche It is possible to install geospatial stack using pip. For example to install pygdal confirming to system gdal, I use following command on debian box
[code]
That being said the problem with geopandas installation on python3.7 is actually pyproj as the last version uploaded on [PyPI](https://pypi.org/project/pyproj/#files) is more than 2yrs old.

[2018-12-25 06:17] xuqinghan opened #886 "set Point use .loc[idx, 'geometry'] on a gdf with 2 row"
demo.py :
[code]
Error is

only Point failed when gdf.shape[0] == 2, and cant work with new idx.  but LineString and Polygon never failed.

in pandas' internal.py:

[code]
where:
`arr_value = np.array(value)`

only Point  return a 2*1 list [x,y]  so it  will fail when gdf with 2 rows.

could add a patch on GeoDataFrame (override the setitem()? ) for this subtle case ?   ^_^!!

[2018-12-25 13:36] jGaboardi commented on #886
This is a duplicate of #831

[2018-12-27 08:39] jorisvandenbossche commented on #882
This is fixed by https://github.com/geopandas/geopandas/pull/854 and will be included in the upcoming release.

[2018-12-27 10:33] jorisvandenbossche commented on #881
@vhoofk Thanks a lot for the report!

I am going to try to do a new geopandas release as soon as possible after new year (now on holidays), so will include a fix for this. In the meantime, a PR to fix it is certainly already welcome!

[2018-12-27 10:33] #882 closed

[2018-12-27 10:40] jorisvandenbossche commented on #884
@koshy1123 thanks for the report!

A pandas DataFrame has a `_update_inplace` method, that is used in methods like `sort_values` with the inplace option. We should probably override that `_update_inplace` method in GeoDataFrame and additionally call `_invalidate_sindex` in there.

[2019-01-02 05:17] jdmcbr commented on #804
Closed by #808

[2019-01-02 05:17] #804 closed

[2019-01-02 09:08] jorisvandenbossche commented on #799
Yes, thanks @drnextgis

[2019-01-02 09:08] #799 closed

[2019-01-06 15:09] eotp opened #893 "Consistent legend colors over subplots"
I am plotting two maps, each associated with a column (`c1`, `c2`), and with a legend.
I want a consistent coloring for the two maps, however, as in right map one categorical feature is missing (`feature1`), the colors change too.

Basically I am looking for a way of mapping a color to a specific categorical feature over subplots, both shown on the map as well as in the legend, no matter if the ac

[2019-01-10 14:19] elmerehbi opened #895 "Problem with pltoting multiple polygons?"
I cannot seem to be able to replicate this example where not all polygons show well. Might I be missing some module? Or what could be the problem?

![screenshot from 2019-01-10 15-17-32](https://user-images.githubusercontent.com/3155152/50974236-11cc9100-14eb-11e9-94f3-ad66ef929ca0.png)

![screenshot from 2019-01-10 15-19-35](https://user-images.githubusercontent.com/3155152/50974282-2dd03280-14eb

[2019-01-10 14:24] martinfleis commented on #895
Polygon p1 and polygon p2 are on top of each other, you have to specify transparency to see both of them. Use `g.plot(alpha=0.5)`.

[2019-01-10 14:53] elmerehbi commented on #895
@martinfleis  Awesome. Thank you

[2019-01-10 14:53] #895 closed

[2019-01-11 18:17] jorisvandenbossche commented on #812
I will try to at least make a Zenodo DOI for the upcoming 0.5 release.

Anybody advice on how to handle authorship? Adding all contributors to a certain release (but what with people who contributed to earlier releases)? Or listing the current core devs? (but then the question is still who to list of the historical core devs ...)

[2019-01-11 18:22] martinfleis commented on #812
I would follow the example of QGIS (https://www.qgis.org/en/site/getinvolved/faq/index.html). They recommend citing as “`QGIS Development Team (YEAR). QGIS Geographic Information System. Open Source Geospatial Foundation Project. http://qgis.osgeo.org`", so GeoPandas might be similar. If you put authors as GeoPandas Development Team it feels safe to me and everyone can then look who is in the team

[2019-01-20 18:11] linwoodc3 commented on #473
Hi @jorisvandenbossche .  Yes, I am running `'0.23.4'`.  I just opted for the shift on the single column vice the entire geodataframe. Works.

[2019-01-20 20:37] linwoodc3 opened #897 "QUESTION: Zip Files Documentation"
Where is the documentation on reading zip files directly with `geopandas`?  I ask because I'm willing to do a quick pull requests for the docs to add.

If this does not exist, would maintainers be open to a simple doc update; I'll do the pull request.

I found the example in a [Scipy 2018 tutorial here](https://render.githubusercontent.com/view/ipynb?commit=57afd9a46a75b281adb0d36b0492142eb7ca29c9

[2019-01-21 11:34] uvchik opened #898 "Add to documentation: How to plot unfilled polygons onto another map"
It was really hard for me to find out that the facecolor of a plot has to be `'none'` instead of `None` to plot an unfilled polygon. I needed it to plot two tables into one figure (see below).

We could add an information to the API-documentation:
[code]

Or we could add an example to the ["Making maps" section](https://geopandas.readthedocs.io/en/latest/mapping.html).

What do you think?

![windz

[2019-01-22 13:43] DanielFEvans commented on #837
I've encountered such problems before (using Python 2, and not just in geopandas), and traced the problem back to errors raised within libspatialindex - it seems to behave quite poorly in a multiprocessed environment, and there's several comment threads that Google picks up where the developers state they don't support it. There aren't any problems if used in two entirely independent Python proces

[2019-01-22 21:43] jwilson8767 commented on #837
You may try passing `df_zones` directly to the runner. Not sure what you're seeing in `tmp/`.

[2019-01-23 08:02] DmitriyG228 commented on #521
for i in range (len(df)):
    df.loc[i,"geom_str"]=str(df.loc[i,"geometry"])

[2019-01-23 09:43] jorisvandenbossche commented on #837
@sebhoerl Sorry for the late reply, because I have actually a possibly interesting answer: we have been experimenting on a geopandas-dask bridge (in case you are not familiar with dask: it tries to bring multiprocessing/multithreading/distributed computing to the familiar numpy / pandas stack in an easy way).

In the experiment, we did exact what you describe above: a chunked, parallel spatial joi

[2019-01-24 06:40] jdmcbr commented on #852
@ebauch Thanks for the report. It looks like this is only occurring on the gallery page, due to the fact that the contents of the gallery are generated from the 'geopandas/examples' folder, so there isn't a `doc/gallery/index.rst` file under version control. I didn't come across any way to fix this directly for sphinx gallery generated files. @choldgraf Would you happen to have any ideas?

[2019-01-24 08:15] jorisvandenbossche opened #899 "Add a show_versions function"
Similarly to `pandas.show_versions()` and `sklearn.show_versions()`, it would be nice to have a function like that for GeoPandas. We can probably base the code on those examples.

It could list the versions of the direct python dependencies, but also try to show the versions of the underlying GEOS / GDAL libraries.

[2019-01-24 09:48] GloryPassarello commented on #837
@jorisvandenbossche Many thanks, this is great! I were really struggling with multiprocessing & geopandas... I will definitely try it out!

[2019-01-24 15:45] choldgraf commented on #852
Hmmm that one is tough... Im also not sure how you could get around that, other than by committing your built rst files to the repo but you probably don't want to do that...

[2019-01-25 05:57] jdmcbr commented on #897
@linwoodc3 Thanks for raising this. A note on reading zipfiles directly as above would be a welcome addition in https://github.com/geopandas/geopandas/blob/master/doc/source/io.rst

[2019-01-25 06:06] jdmcbr commented on #898
Using `"none"` to get no facecolor applied is getting a little into the details of `matplotlib` to feel like it is appropriate to incorporate into the API docs for `geopandas` (FWIW, `None` means "do the default thing" in most contexts, which happens in this case to _not_ mean "don't plot a faceolor at all"). An additional example in the making maps section would be welcome (or a modification, e.g

[2019-01-25 08:04] jorisvandenbossche commented on #898
Exactly because this is such a detail of matplotlib (so many people will not know) but *is* a common use case, I feel that it would actually be useful to mention this explicitly.

So I would personally be fine with a PR doing the diff above, but as @jdmcbr says, an additional example in the maps section would also be very welcome!

[2019-01-25 09:32] ljwolf commented on #898
The fact that `facecolor='none'` is so in the weeds is why I prefer doing `world.boundary.plot()`. I find that to be both more explicit and clear, but I'm not sure if there's a performance penalty for it.

[2019-01-25 10:40] uvchik commented on #898
@ljwolf That it also a good idea. If you prefer it you can just ignore my PR. In that case we could just add an example to help users like me in the future. But as I wrote in the PR I will not have time until March to think of a good example.

[2019-01-25 12:22] rutgerhofste opened #901 "Spatial Join and maps in Google Colab"
When performing Spatial Joins in Google Colaboratory, the out of the box installation of geopandas does not work. Youd to install additional dependencies:

- descartes for plotting
- rtree and libspatialindex for spatial join.

My notebook can be found [here](https://colab.research.google.com/drive/1JkkdDYnqQcOxtfYsFlfH8zJsNguIu4o8)

The issue has to with Google Colab using pip instead of conda so

[2019-01-25 15:28] galak75 opened #902 "BUG: crs is lost after calling GeoDataFrame.apply() method"
crs is null on `GeoDataFrame.apply(...)` result.
the following unit test fails because `result.crs` is `None`:

[code]
running with the environment below:
[code]

[2019-01-25 20:37] jorisvandenbossche commented on #902
The problem with trying to preserve the crs, in general, is that `apply` is a very generic method for which we cannot make much assumptions about what the result will be.

In your example, you keep the geometry column, but often the result of an apply call will not even have the geometry anymore, or might have transformed the geometry.

So I am not fully sure we should try to preserve it.

[2019-01-25 20:48] jorisvandenbossche commented on #901
We can certainly improve the pip installation instructions in general. For example, as said, more clearly mention that you typically need those optional dependencies as well and how to install them (eg rtree is not that easy).

Pull requests welcome!

[2019-01-26 05:42] jdmcbr commented on #898
I guess from personal experience, there are enough "gotchas" in `matplotlib` that noting them all in the docs of `geopandas` feels a little too much. But I don't have a particularly strong opinion about that.

[2019-01-29 03:07] shakasom commented on #901
A simple workaround on rtree installation is to install Gdal and it will take care of it. Here is the notebook with only installing Gdal, geopandas and descartes to work ploting and spatial join.
[Geopandas Colab](https://colab.research.google.com/drive/1tSmJmjD3sTI31Cg1UCIKiE10dBUmWUG7#scrollTo=3z2rlY3LkQX9)

[2019-01-29 08:21] shakasom commented on #899
I am trying to implement this but I need guidance since this is my first contribution. Where would that function fit? I actually made the basic printing functions and it works in my local machine but I am also trying to figure out how to commit and push this.

[2019-01-30 08:21] dingobar opened #908 "Geopandas for Python 3.7 to_file makes all numerical datatypes "double""
Hi,

I discovered this bug after installing a fresh environment in anaconda, not realizing that geopandas now supports python 3.7: `gpd.to_file('out.shp', driver='ESRI-Shapefile')` will output all numerical dtypes as double. I have tested float64, int64 and all the other integer-types in numpy (int8, int32...).

**Steps to reproduce:**
- Import a shapefile containing an integer
- Write the resulti

[2019-01-30 14:56] uvchik commented on #898
I tested the solution of @ljwolf and found out that it is faster in my case and the more I think about it I like it better than my solution. Therefore, I will close my PR. I still think we should add an example.

[2019-01-31 04:37] jdmcbr commented on #852
Thanks @choldgraf. That certainly would be misleading, given the rst file is being generated. I've not been able to see any way with readthedocs to remove the edit link for a single page (and the "edit on github" link works for all the pages for which we do have rst files under version control), I don't see much of anything we can do here. Happy to re-open this if I'm mistaken though.

[2019-01-31 04:37] #852 closed

[2019-01-31 04:50] jdmcbr commented on #702
Closed by #894

[2019-01-31 04:50] #702 closed

[2019-01-31 18:12] jerheff opened #910 "Segmentation fault when Geopandas imported while using Click and Rasterio"
I'm cross posting a segmentation fault that I'm running into since the issue is due to some interaction of Geopandas, Rasterio, and Click.  In the replication example, importing Geopandas causes a Rasterio function to throw a segmentation fault.  When I remove the Geopandas import the seg fault goes away.

More info here: https://github.com/mapbox/rasterio/issues/1612

[2019-02-01 07:41] jorisvandenbossche commented on #908
Thanks for the report! Do you know if this is specific to Python 3.7?

[2019-02-01 19:52] dingobar commented on #908
It seems to be a 3.7 specific issue as my 3.6 venv works just fine.

[2019-02-02 22:31] jdmcbr commented on #910
Closed per https://github.com/mapbox/rasterio/issues/1612

[2019-02-02 22:31] #910 closed

[2019-02-04 01:39] StevenLi-DS opened #911 "compatibility with Pysal 2.0.0"
Geopandas: `0.4.0`
My firends was trying to plot some maps with `.plot()` method of `GeoDataFrame` but got the following error wiht `pysal` `2.0.0` installed.
![image](https://user-images.githubusercontent.com/33796896/52186055-0b33ef80-27f3-11e9-81b1-742855056405.png)
![image 3](https://user-images.githubusercontent.com/33796896/52186054-0b33ef80-27f3-11e9-95a5-baf3a1b39b44.png)
![image 2](https:

[2019-02-04 07:57] jorisvandenbossche commented on #911
This is already fixed on master (by using only `mapclassify` instead of relying on the full of pysal). I hope to release shortly (in a week or so).

[2019-02-07 04:28] jdmcbr commented on #911
@StevenLi-DS Thanks for filing the report! Next time, copying/pasting the stack trace, rather than providing screenshots, would be preferable. That allows keyword searching as well as potentially copying/pasting on the part of someone trying to reproduce the error, not to mention generally being easier to read.

[2019-02-07 04:28] #911 closed

[2019-02-07 05:26] jdmcbr commented on #908
@dingobar Can you provide more detail about how you're creating the environment, as well as your OS? I did

    conda create -name gpd-double python==3.7 geopandas

in both Linux and Windows, then

    gdf = gpd.read_file(gpd.datasets.get_path("nybb"))
    gdf.to_file("test.shp")

and confirmed that the `BoroCode` column was an int, as expected.

![image](https://user-images.githubusercontent.com/

[2019-02-08 14:50] martinfleis opened #912 "intersection() raises exception when empty"
Hi, I've encountered error which is not affecting 0.4.0 but master only. Intersection of geodataframe and Linestring will cause an Exception when such intersection is empty, instead of providing empty GeoSeries.

    import geopandas as gpd
    from shapely.geometry import LineString
    gpd.__version__
    '0.4.0+53.g39e724b'

    line = LineString([(0, 0), (1, 1)])
    line_gdf = LineString([(2,

[2019-02-08 14:58] jorisvandenbossche commented on #912
A quick check: are you using the same pandas version for both? (or which pandas version are you using?)

[2019-02-08 15:29] martinfleis commented on #912
Yes, '0.23.4' on both. I just tried to clone environment with stable and update only Geopandas to master and the issue is still there.

[2019-02-08 16:09] jorisvandenbossche commented on #912
The reason is the following:

[code]

So the conversion to a numpy array goes wrong (it "unpacked" the geometry collection, resulting in a 2D array of shape (1, 0)). Before (geopandas 0.4.0), we passed the list directly to the `GeoSeries` constructor, and pandas has some utility to convert the list to an array ensuring it stays 1D, apparently. So we can check how pandas does that (or again, relyin

[2019-02-09 00:52] StevenLi-DS commented on #911
@jdmcbr it didn't happen on my end. sorry about that.

[2019-02-10 21:39] KarenChen9999 opened #915 "TopologyException due to self-intersection polygon"
Hi, i have come across this issue frequently when dealing with dissolve function. I understand it is due to polygon self-intersection but what is the best way to fix this issue. I tried a few different methods but it doesn't always work.

1. to ensure all polygon is valid
2. use buffer(0)
3. use buffer with some smaller number i.e. buffer(0.000001) as buffer(0) doesn't work
4. round coordinates in

[2019-02-11 05:46] jdmcbr commented on #915
@KarenChen9999 Having run into issues with the `buffer(0)` trick, the following seems a bit more reliable:

- multi-polygonize the unary union of the exterior of a (possibly invalid or featuring a bowtie polygon)
- for each polygon in the multi-polygon, look for holes in the original (multi-)polygon, and incorporate that hole if inside of that polygon
- create a new multi-polygon from the all of t

[2019-02-11 16:34] jorisvandenbossche commented on #881
Closed by #916

[2019-02-11 16:34] #881 closed

[2019-02-13 21:38] stevenbw commented on #899
@jorisvandenbossche is there anything I can help with here?

[2019-02-15 04:08] r-barnes opened #921 "Fast spatial filtering"
Sometimes I have a subset of objects which I would like to keep only if they intersect/are contained by/are within another subset of objects.

I think the only way of doing this efficiently (with spatial indexes) in geopandas right now is with `sjoin`. However, `sjoin` appends columns from the one frame to the other.

Therefore, I think it would be nice if there was a way to do `sjoin` with (`how=

[2019-02-15 11:51] ljwolf commented on #921
So, would a `df.sfilter(other_df, op='intersects', ...)` method be sufficient?

[2019-02-15 12:02] jorisvandenbossche commented on #921
What I have been thinking about before is adding something like `geopandas.clip` function (alongside `sjoin` and `overlay`), which might be related.
Although that might not just do filtering, but also "clip" individual geometries that don't fall fully inside the other set of geometries, so this `clip` would be more similar to `overlay` but without adding attributes and with only taking the full ex

[2019-02-15 12:02] jorisvandenbossche commented on #921
Do we know of other software that has something like this? (eg QGIS) Could give inspiration for terminology.

[2019-02-15 15:13] ljwolf commented on #921
yeah, clip would imply (to me) that the geometries also get cut. Something like `cfilter` would behave like `cx` but with an arbitrary polygon or GeoSeries/GeoDataFrame rather than a bounding box.

We could probably build this on top of `.cx` already, and make something this work:
[code]
where
[code]

[2019-02-15 21:34] knaaptime commented on #921
is this equivalent to `df1[df1.within(df2.unary_union)]` ?

[2019-02-15 22:26] r-barnes commented on #921
@knaaptime: Unlikely. My understanding is that `within` delegates computation to shapely. Shapely doesn't (to my knowledge) use any kind of spatial indexing. So if you have `n1` polygons in `df1` and `n2` polygons in `df2`, then `df2.unary_union` creates a multipolygon containing `n2` polygons. Each element of `df1` is then compared against all these multipolygons.

In my understanding, `sjoin` ta

[2019-02-15 22:29] r-barnes commented on #921
(It seems like there are at least a few operations here where the entirety of the work needs to be off-loaded to get optimum efficiency. I have some C++ code that determines percent-overlap between two datasets written [here](https://github.com/gerrymandr/compactnesslib/blob/master/neighbours.cpp), but it doesn't yet interface well with Python. That is, it can't take shapely objects as inputs.)

[2019-02-15 22:41] ljwolf commented on #921
Huh, nice library. I've found that relying on [shapely for compactness stats](https://github.com/ljwolf/shapestats) is fast enough :smile:

@r-barnes is right about the no-index implementation of `within`. IIRC, any DE9IM op implemented as a method from shapely is atomic:https://github.com/geopandas/geopandas/blob/c5fbb379a468ef81d84a945e841d81c31bb1e6d9/geopandas/base.py#L53

so, it's not hitting

[2019-02-15 22:54] r-barnes commented on #921
(@ljwolf: I do things like intersect all 2M+ precincts in the U.S. with thousands of possible configurations of the 435 congressional districts. This makes efficiency paramount.)

[2019-02-15 23:57] knaaptime commented on #921
gotcha. i figured that was the efficiency distinction you were drawing, just wanted to make sure

[2019-02-19 08:07] dlhvelasco commented on #461
Hey @jwilson8767 , would you mind sharing your code for faster `sjoin` ? Been using it to count points-in-polygons and as it is, sjoin isnt as fast as I expected. Thanks in advance!

[2019-02-19 09:31] webturtles commented on #473
Trying to get this dev cython gpd branch to work on Anaconda/Windows.  Am I missing a step by doing the following?
Set up new python 3.6 env in Anaconda then:`
[code]
I also ran (just in case):
`conda update cython -c conda-forge`

Either way I get the following:
[code]
Not sure if the way I am approaching it is possible... I won't deny there were clobber messages whilst installing...! Any pointer

[2019-02-19 09:44] jorisvandenbossche commented on #473
The latest pandas release (0.24.0) moved some internal classes, so we will need to update the imports here.

If you manually change the import (in `geopandas/_block.py`) of

[code]

to

[code]

then I think it should still work.

@webturtles happy to further assist if you want to try out this branch! (I need to update the branch with the latest changes in both pandas and geopandas)

[2019-02-19 09:54] webturtles commented on #473
Thanks for quick response.  Tweaking _block.py worked a treat!  If you want me to test on a fresh environment at some point, happy to.  I assume the steps I took were right (poss. excluding the gdal update - was throwing the kitchen sink at it before)

[2019-02-19 16:14] webturtles commented on #473
My working code has decided to take a turn for the worse after using the dev branch.
I am sure this issue is just related to how Geopandas has changed under the hood!
The code
[code]

Returns:
[code]
For info, I also had some issues with numpy and the like to get everything working.  Involved a couple of environment rebuilds, though got there in the end!  I think using conda-forge installs for oth

[2019-02-19 18:19] jwilson8767 commented on #461
@dlhvelasco, I'd love to! I'll post it as a gist tomorrow. In the meantime, you may also want to grab geopandas-cython.

[2019-02-19 18:41] RiccardoDC opened #923 "Reprojection from two identical Coordinate Reference Systems providing different results"
Hello,
When I run Code1 I get a reprojection that is slightly shifted (Output1). When I run Code 2 the reprojection is correct (Output2). I am curious to know why; I changed the input of the to_crs function from manhole.crs to sewer.crs. However, they have the same crs; in fact, they are perfectly aligned in both cases.
It gets even worse if I try to reproject the sewer and the manhole using the c

[2019-02-19 22:55] phildias commented on #923
Is it possible to provide access to the buildings.shp, prova-line.shp and junctions.shp files?

[2019-02-20 10:56] RiccardoDC commented on #923
Thank you for answering. Sure! I attached the files.
[files.zip](https://github.com/geopandas/geopandas/files/2884262/files.zip)

[2019-02-20 12:31] ljwolf commented on #923
Reading the `.prj` files of the three you've sent and also in the output you state above, none are actually precisely the same projection... What's the intended projection for each?

[2019-02-20 23:57] hyperknot opened #924 "How to install geopandas with numexpr and bottleneck using conda"
I have trouble installing a clean miniconda environment + geopandas as per the [official docs][1].

My problem is that even though I was able to install geopandas on it's own, the moment I add the `numexpr` and `bottleneck` accelerator libraries, conda goes into a crazy mode and adds different packages from incompatible sources and the whole system ends up broken, with fiona / `ImportError: libpop

[2019-02-21 03:07] dlhvelasco commented on #461
Thanks again, @jwilson8767. I'm fairly new to this and I'm having problems integrating your code 🤔
Usage would be something like this, right?
[code]

Also, I think the cython version has some [issues](https://github.com/geopandas/geopandas/issues/473#issuecomment-465198717) right now.

[2019-02-21 04:56] jwilson8767 commented on #461
@dlhvelasco, I put an example usage at the bottom of the gist. If you have further questions just comment directly on that gist to avoid swamping this thread.

[2019-02-21 09:57] r-barnes commented on #921
I did some work on this week and posted a reproducer question on StackOverflow [here](https://stackoverflow.com/q/54804073/752843) and then answered my own question [here](https://stackoverflow.com/a/54804074/752843).

The short of it is that I was able to offload all of the GEOS geometries to C++ using pybind11, build a GEOS spatial index, make a bunch of prepared geometries, and parallelize the

[2019-02-21 10:38] jorisvandenbossche commented on #921
@r-barnes Interesting!
I don't have time right now to look at it in detail (hope to do it in the weekend), but I already wanted to point to some work with did on faster spatial joins in a cython branch (so with c/cython instead of pybind11): https://github.com/geopandas/geopandas/blob/geopandas-cython/geopandas/algos.c
That is a C implementation of a spatial join using the STRTree (so possibly ver

[2019-02-21 10:58] jorisvandenbossche commented on #924
@hyperknot can you show the output of `conda list` in the non-working environment?

[2019-02-21 11:00] ocefpaf commented on #924
If you are using latest conda (`>4.6.1`), and have conda-forge on top of `defaults` in your `.condarc`, try to use `conda`'s new "strict" policy for channel preference. That should help you get a more stable environment.

[code]

[2019-02-21 11:00] jorisvandenbossche commented on #924
Quickly tried it out locally in a new env: it seems that by asking for both geopandas and numexpr/bottleneck, it wants to install the gdal and related c libraries from a mixture of defaults / conda-forge, which is the situation you want to avoid.

But so, using the "strict" channel prority should resolve that.

[2019-02-21 11:03] jorisvandenbossche commented on #924
Yep, so what @ocefpaf is saying :-)

To answer some  other questions:

Running a conda config command should create the .condarc if it doesn't exist yet (or otherwise update it). But I would run it *before* installing anything.

I think you can remove it from the list of channels (although not fully sure it still doesn't fallback to defaults), but using the "strict" channel priority should already

[2019-02-21 11:08] jorisvandenbossche commented on #924
@ocefpaf It's good we now have the strict channel priority, but I have to say that it seems that the default behaviour even got worse as it was before. Even without asking for numexpr/bottleneck, just geopandas, it tries to install a broken mixture ...

[code]

which gives errors on importing fiona

[2019-02-21 11:10] jorisvandenbossche commented on #924
Conclusion: I really need to update the installation docs .. ;-)

[2019-02-21 11:29] ocefpaf commented on #924
Yeah, that is bad. I would argue that `strict` should be the default behavior but I'm biased b/c I've been pushing for it since the early days of conda-forge :grimacing:

[2019-02-21 11:31] ocefpaf commented on #924
BTW we just started documenting that too:

https://github.com/conda-forge/conda-forge.github.io/pull/715

[2019-02-21 16:18] RiccardoDC commented on #923
Hello, thanks for answering. Each files comes from a diffrent source. bld from openstreetmap, sewer from a dxt file and converted it as a shp file and, manhole from an inp. file and converted with the inp_to_files function in R. The crs of the file sewer and manhole are the same, in fact they are always aligned in both cases. What I don't understand is why geopandas reprojects the bld correctly if

[2019-02-21 17:16] ljwolf commented on #923
The files for sewer and manhole are *close* and have the same meaning, but they're indeed not *identical* files:

`junctions.prj`
[code]

`prova-line.prj`
[code]

`buildings.prj`
[code]

This looks like it bears similarity with the question you link on stackexchange because of the datum differences, although those look superficial... will need to dig.

[2019-02-21 17:20] RiccardoDC commented on #923
Thank you very much! It is more clear to me now:) Thanks a lot.

[2019-02-22 00:53] hyperknot commented on #924
Thanks a lot for the answers, here is what I came up with, for a purpose-built environment, where defaults channel can be removed.

1. Install miniconda
[code]

2. Add conda-forge and remove defaults:
[code]

3. Update conda and core modules to use conda-forge:
[code]

4. Install geopandas, numexpr, bottleneck, using conda-forge
[code]

5. Clean caches if needed (for example in Dockerfile):
[code]

[2019-02-22 10:04] r-barnes commented on #921
@jorisvandenbossche : The Cython branch may offer a more standard interface than PyBind11 (though PB11 is otherwise exceptionally easy to use). Conceptually, it's similar to what I've done, but it doesn't calculate the area of intersection between the two geometries and it isn't parallelized. Adding these features to the Cython branch wouldn't be too difficult now that I've got them figured out.

[2019-02-22 15:11] jwilson8767 opened #925 "[geopandas-cython] pandas 0.24 ExtensionArray"
I've been trying to get geopandas-cython working with pandas 0.24 and have discovered that there were several breaking changes in the ExtensionArray api. Additionally, I note that GeometryArray does not even subclass [ExtensionArray](https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/base.py), is this api really that new or am I missing something? I'd be happy to start a PR with w

[2019-02-22 15:16] jorisvandenbossche commented on #925
There are open PRs for this, see https://github.com/geopandas/geopandas/pull/701 (for cython branch) and  https://github.com/geopandas/geopandas/pull/835 (for master).
I hope to get back to those at some points, but it will not be in the first few weeks. So if you want to take over, very welcome!

https://github.com/geopandas/geopandas/pull/701 was started before 0.24, so will probably also need s

[2019-02-22 15:20] jwilson8767 commented on #925
Nice! I totally didn't find those when I looked. I'll dig in and see what I can do.

[2019-02-22 15:20] #925 closed

[2019-02-23 07:35] pedrocamargo commented on #921
@jorisvandenbossche ,  The cythonized version of GeoPandas seemed to be extremly promising. Is that still on the cards?  The branch seems to be stale, so I wonder if you guys decided to go another route

[2019-02-24 06:27] pedrocamargo commented on #426
I am currently working on extremely large datasets (100s of millions of points) and this would actually make it possible to use GeoPandas for the job, as creating spatial indices for large datasets takes upwards of several minutes, and preparing spatial indices for datasets and saving alongside said datasets would be ideal.

[2019-02-27 20:14] gboeing commented on #911
@jorisvandenbossche any word on this fix release?

Also, to add a searchable code snippet + stack trace (as I couldn't find this issue when I was searching):

Geopandas (v0.4) doesn't recognize that PySAL (v2.0.0) is installed when running `gdf.plot()` and passing the `scheme` keyword argument. I'm doing this in a conda env on Win 10 with Python 3.7.

[code]
[code]

[2019-03-03 23:03] mmschmitz opened #927 "Cannot import geopandas in Jupyter Notebook"
I included the following commands, and nothing else, into my Jupyter notebook (installed yesterday, 2 March 2019):
[code]

From these commands, I got the following error:

[code]

[2019-03-04 10:10] darribas commented on #911
I'm currently working around this with the following [hack](https://github.com/darribas/gds_env/blob/master/gds_py/install_gds_py.sh#L38):

1. Install PySAL 2.0 and Geopandas 0.4 (maybe via conda)
2. `pip install -U --no-deps mapclassify git+git://github.com/geopandas/geopandas.git@master`

That seems to do the trick.

[2019-03-04 12:52] jorisvandenbossche commented on #927
How did you install geopandas?

[2019-03-04 19:25] mmschmitz commented on #927
I used the conda distribution to install it, per the instructions in http://geopandas.org/install.html. I can double-check my installation, though.

[2019-03-04 20:50] mwtoews opened #928 "Feature request: write OGR dataset, and return handle"
Currently, GeoPandas has `to_file(filename, driver='ESRI Shapefile', **kwargs)` to export, however it is based on Fiona, which generally only supports file-based subsets of these drivers ([see here](https://github.com/Toblerity/Fiona/blob/master/fiona/drvsupport.py)).

It would also be convenient to have the ability to write directly to an OGR dataset, which would return the underlying handle for

[2019-03-04 21:17] sgillies commented on #928
@mwtoews Fiona and OGR's Python bindings would be difficult to use safely together because of global state in the GDAL shared lib. Users could be exposed to weird and hard-to-debug problems.

As to the in-memory dataset, isn't this what the GeoPandas dataframe is? An in-memory dataset?

[2019-03-04 21:47] mwtoews commented on #928
@sgillies good to be aware of the difficulties of potential clashes.

As for returning an "in-memory" dataset, this would be the one created by OGR's [Memory](https://www.gdal.org/drv_memory.html) driver. And the only reason why anyone would need this type of in-memory reference is to gnash it through GDAL/OGR internals like `gdal.Grid`.

A work-around is to write a temporary file to disk:
[code]

[2019-03-04 21:55] mmschmitz commented on #927
Feel free to close the issue - I figured it out, and it was kind of stupid.

I thought I'd installed geopandas via Conda... but I'd actually forgotten to install _for all users_ in Conda using the administrative privileges on my computer. :)

(Be aware about the installation process, future users!)

[2019-03-04 21:55] #927 closed

[2019-03-05 08:15] jorisvandenbossche commented on #911
OK, I will do a small 0.4.1 bug fix release today, to get this out.
I am still intending to do the 0.5.0 release shortly, but since that has been my intention for already some time .. probably better to make sure at least the fiona and pysal compatibility fixes are out.

[2019-03-05 15:29] MorningMoment commented on #911
Hi @StevenLi-DS I also downgraded my Pysal into 1.14.4, but the new error raised:

[code]
(I had installed geopandas 0.4.0  , matplotlib 2.2.2, GDAL 2.3.3 )

I also posted a similar and detailed question at [StackOverflow](https://stackoverflow.com/questions/54995891/unable-to-use-scheme-attribute-when-plot-geodataframe).

Thanks for checking !!

[2019-03-05 17:44] jorisvandenbossche commented on #875
Given that it is taking a bit longer than expected to release 0.5.0, I will do a quick 0.4.1 release today with just the fiona / pysal compatibility fixes (as those start to get annoying for users). And still targetting 0.5.0 for the coming week or two (but with 0.4.1 out, less of a problem if it gets postponed a bit more)

See the 0.4.x branch for what I included in the bugfix release.

[2019-03-06 13:05] avnovikov opened #936 "Small fixes needed to work with pandas 0.24 [cython]"
Cython geopandas will not work with pandas 0.24. Small changes in the import statements required. PR is on the way.

[2019-03-06 13:27] avnovikov commented on #936
Somehow PR didn't pass through.
_block.py
-from pandas.core.internals import Block, NonConsolidatableMixIn, BlockManager
+from pandas.core.internals.blocks import Block, NonConsolidatableMixIn
+from pandas.core.internals.managers import BlockManager

[2019-03-07 14:47] jorisvandenbossche commented on #875
0.4.1 release was pushed yesterday to PyPI, and is also already available from conda-forge

[2019-03-07 14:48] jorisvandenbossche commented on #911
Update: 0.4.1 release was pushed to pypi yesterday, and is also already available on conda-forge

[2019-03-07 19:41] Casyfill opened #937 "geoseries.rotate has no effect"
[code]

And same after rotation:
[code]

[2019-03-07 19:45] Casyfill commented on #937
Sorry - figured out it just rotates every object around it's own origin - not geoSeries center/origin

[2019-03-07 19:45] #937 closed

[2019-03-07 22:13] jorisvandenbossche commented on #937
Yes, it indeed works elementwise. I suppose you will need to turn it into a MultiPoint (with unary_union) to do such a rotation

[2019-03-08 01:29] Casyfill commented on #937
Oh no I just fed it a tuple with centroid coordinates- worked perfectly

[2019-03-08 07:05] StevenLi-DS opened #938 "Logo Proposal for GeoPandas"
A great python package deserves a great logo!

[2019-03-08 09:29] vincent-26 opened #939 "Applying function to all files in directory using PyQGIS/Python?"
Hello everyone how can I apply this function to all files in folder?
The function in question extracts the bands from a raster file (.ecw) and I would like to be able to do it to all the files in folder.
What should I do?

    import gdal

    in_path = "C:/gis_data/ECW"
    out_path ="C:/gis_data/output"

    src_ds = gdal.Open(in_path)

    for i in range(1,src_ds.RasterCount+1):
        out_ds

[2019-03-08 13:22] MorningMoment opened #940 "gdp 0.4.1 still cannot recognize "scheme" when plotting"
I am using Python 3.6.5 and had updated to GeoPandas 0.4.1, pysal 2.0.0.
The plotting code is
`departments_map.plot(column_n, ax=ax, cmap=plt.cm.plasma, scheme='fisher_jenks', k=10, legend=True)`
 But still the "scheme" problem is not solved after I update the GeoPandas.

[code]

[2019-03-08 13:32] jorisvandenbossche commented on #940
From the traceback, it seems that `departments_map` is a DataFrame, and not a GeoDataFrame.

[2019-03-08 14:19] MorningMoment commented on #940
@jorisvandenbossche My apology. Yes I missed that it should be a GeoDataFrame. Problem Solved.
Thanks!!

[2019-03-08 14:19] #940 closed

[2019-03-09 04:57] jGaboardi opened #941 "v0.4.1 import error with CentOS"
* unable to import `geopandas` v0.4.1 (`conda-forge` channel) in clean `miniconda` environment on CentOS
* Linux-3.10.0-693.21.1.el7.x86_64-x86_64-with-centos-7.4.1708-Core
* seems to be related to the ongoing `fiona` compatibility issues
* complete workflow / traceback below

[code]

[2019-03-09 11:35] ocefpaf commented on #941
@jGaboardi in conda >=4.6 there is a new feature, that hopefully will became the default, that ensures the top channel will be used strictly unless a package does not exist on it. Try this:

[code]

[2019-03-09 14:30] jGaboardi commented on #941
@ocefpaf This did the trick! Thanks so much for the quick response!

[2019-03-09 14:30] #941 closed

[2019-03-09 22:25] tiagofassoni opened #942 "About the usability of distances and CRS"
I'd like to start by thanking you all for your great work. Also, that I'm presenting this issue as a way to better understand the problems underneath so I can help and solve the issues. I'm willing to do the necessary pull requests.

Anyway, I mentor some students of data science and a recurrent problem I saw them (and myself) having is import data with latitude and longitude in geopandas and expe

[2019-03-10 05:00] jdmcbr commented on #939
@vincent-26 This looks like a question that would be more appropriate for stackoverflow.com. In any case, it doesn't look like there's any connection to geopandas, so I'll close this.

[2019-03-10 05:00] #939 closed

[2019-03-11 20:02] jwilson8767 commented on #942
For all my projects I end up projecting data to the state plane (units=meters) before using `.distance()` or `.buffer()` I do this so often that I have written my own buffer wrapper function that takes feet, meters, or degrees and attempts to rectify crs issues before applying the buffer to the geometries. I would be happy to contribute this to geopandas if there is interest (perhaps under somethi

[2019-03-11 23:24] tiagofassoni commented on #942
I think the warnings are a great idea! I think there should be:

- A warning on dataframe creation if a CRS has not been set-up.
- A warning on the distance function saying a CRS has not been set-up.
Also, a helper function for units.
- A helper function to help create dataframes from latitude/longitude.

Btw, what is a state plane? (and this is not a ridiculous question, it
shows I can't just sim

[2019-03-12 15:32] jwilson8767 commented on #942
This was just merged in GH-896

Most U.S. States establish (and sometimes codify into law) spatial reference systems for local surveying, which are referred to as "state planes". Usually these are based on the NAD83 datum and are in feet. Some large states (like FL) have several state planes. depending on what part of the state you are working with.

[2019-03-13 15:00] jbellino-usgs opened #943 "Invalid Projection EPSG:102008"
Hello, I have a [shapefile](https://github.com/geopandas/geopandas/files/2961962/box.zip) that uses the ESRI [North America Albers Equal Area Conic](https://epsg.io/102008) projection. When it is read into a GeoDataFrame using the `read_file()` function, the resulting crs is `{'init': 'epsg:102008'}`. When I try to reproject this dataframe, I get `CRSError: Invalid projection: +init=epsg:102008 +t

[2019-03-14 21:04] jorisvandenbossche commented on #943
@jbellino-usgs Thanks for opening the issue!

This might depend on the version of fiona you are using. With fiona 1.8.4, I see the following behaviour:

[code]

So not exactly the same as what you observe, but also not great of course, because the `crs` is not set at all.

[2019-03-18 22:01] jbellino-usgs commented on #943
I was using fiona 1.8.3 and just upgraded to 1.8.4 and get the same response as before with the slightly incorrect `crs` `{'init': 'esri:102008'}`.

[2019-03-19 15:41] ljwolf opened #944 "IndexError when conducting spatial join with empty polygons"
Hey, not sure if this addressed elsewhere, but a search of past results suggests it's not.

[code]
I get a result from this join, but I also get an `IndexError`:

[code]
Not sure how this `IndexError` relates to the result, but I didn't see another issue mentioning this, so I thought I'd raise it.

rtree 0.8.3
geopandas 0.4.1
shapely 1.6.4.post1

[2019-03-19 15:56] jGaboardi commented on #831
This issue still exists in:

[code]

[2019-03-19 16:11] jorisvandenbossche commented on #944
Thanks for the report! I don't think that was already addressed (in any case, also on master getting this error). A bug that was fixed is the case when the *result* is empty.

Note that you actually don't have a classical "error". The error traceback is only printed, but there is still a GeoDataFrame returned (whether this is actually correct or not, that I didn't check yet)

[2019-03-19 16:12] danieljbradley commented on #830
@MonaHemmati This worked for me too.  Thanks for sharing!  #3 is was necessary for me.  I forgot that one and launched jupyter notebook from command line and I kept getting the error. Once I launched from AN, to_crs worked. For #2, Anaconda Navigator did not seem to be updating.  On Windows, I launched Powershell (right click "Run as Administrator") and ran these commands:
[code]
and it updated pr

[2019-03-19 16:19] jbellino-usgs commented on #943
Here is the full output:

[code]

[2019-03-19 16:22] ljwolf commented on #944
I do think the result is correct, judging from a few checks.

It might just be a solution to drop empty polygons and do the join only on non-empty geometries?

[2019-03-19 16:49] zioalex opened #945 "to_file function do not respect schema columns name"
Trying to write to a data file and the reload it to compare them but the schema is different:
[code]
I didn't find a good way to preserve the original schema!

[2019-03-19 17:28] lwasser commented on #830
i'm curious. are you guys on windows? my students are still running into this issue and i wonder if i can ask them to try this as a fix!

[2019-03-19 21:37] jorisvandenbossche commented on #945
Can you clarify what is the difference between both that you are pointing at?

[2019-03-19 21:39] jorisvandenbossche commented on #945
Looking a bit better, I see two differences:

- the column order: `read_file` will always put the geometry column last
- the column names: this is a limitation of shapefiles that they have a limit of 10 characters, so that is the reason the column names are truncated.

Regarding the data types I don't see a difference.

[2019-03-19 21:47] jorisvandenbossche commented on #943
@jbellino-usgs you are on windows, is that correct?

[2019-03-20 06:45] zioalex commented on #945
Yep I meant the column names. Any way to keep the same names?

[2019-03-20 11:57] jorisvandenbossche commented on #945
There is no way around this limitation (except for not using shapefiles, see eg http://switchfromshapefile.org/ with some more background)

[2019-03-20 13:40] jbellino-usgs commented on #943
@jorisvandenbossche Yes, I'm on Windows 10 x64

[2019-03-20 14:39] zioalex commented on #945
Thanks @jorisvandenbossche will read it. Meanwhile I faked it truncating the column name on the fly while doing the test.

[2019-03-20 23:43] bryan-woods opened #947 "error loading included polygon datasets"
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

yields a lot of errors like...
Shell is not a LinearRing
Shell is not a LinearRing
Shell is not a LinearRing
IllegalArgumentException: geometries must not contain null elements

It's getting lots of null geometries...

~/miniconda3/envs/nagini/lib/python3.7/site-packages/shapely/geometry/base.py in wkt(self, **kw)

[2019-03-21 10:16] jorisvandenbossche commented on #947
@bryan-woods Everything was OK in the end?

[2019-03-21 12:30] andygarfield commented on #942
State plane is a good solution when you are working with a project area that might span a few counties. You could use UTM zones in order to capture a project area that spans multiple states or state plane zones. There is an annoying learning curve to this, I agree.

I'm not sure how a great circle function would fit into the api, though there's probably a way. One problem is that it could only giv

[2019-03-21 12:38] andygarfield commented on #942
State plane is a good solution when you are working with a project area that might span a few counties. You could use UTM zones in order to capture a project area that spans multiple states or state plane zones. There is an annoying learning curve to this, I agree.

I'm not sure how a great circle function would fit into the api, though there's probably a way. One problem is that it could only giv

[2019-03-21 13:00] bryan-woods commented on #947
It's something environment related. If I install geopandas via conda it works fine. But when I installed contextily and cartopy, also using conda, it caused the problem with geopandas loading files. I managed to circumvent it by running through a container where it all worked. Something is not right in the conda stack, but I don't know what the problem is.

[2019-03-21 13:02] jorisvandenbossche commented on #947
Can you show the output of `conda list` in the environment that is not working?

[2019-03-21 13:42] bryan-woods commented on #947
[My conda environment](https://github.com/geopandas/geopandas/files/2992258/conda_env.txt)

[2019-03-21 13:54] jorisvandenbossche commented on #947
I recommend to install everything with `conda`. Looking at your environment, it seems you installed geopandas and its dependencies with pip, but then cartopy with conda. GeoPandas and cartopy have some dependencies in common, but the binaries from conda and pip are not compatible.

[2019-03-21 13:54] #947 closed

[2019-03-22 10:07] mangecoeur commented on #680
Just wondering if this had been implemented? I was wondering if it would make it possible to use GeoSeries without having to convert uses of pandas DataFrame to GeoDataFrame? This would make it more similar to Postgis, where geo data types are just another column type (and make it easier to mix geo and non-geo data moving back and forth between python and postgis)

[2019-03-22 10:27] shadeqwerty opened #950 "Creating a new geopandas by equating to another gpd, causes the later to become dependant on the former"
filename="../foobar.shp"                  #........ import any shapefile
db_file1 = geopandas.GeoDataFrame.from_file(filename)
db_file2=db_file1  #... Equating one geopandas to another, essentially creating a copy
db_file2.code=(db_file2.code*2) #.........Where "code" is a valid column header
print (db_file2,"\n",db_file1)

# the output shows that db_file1 has been modified, even though nothing li

[2019-03-22 10:53] awa5114 opened #951 "Plotting polygon with hole goes wrong in case of identical exterior/interior coordinates order"
I am playing around with the `gdf.plot` method which is supposed to facilitate plotting geodataframes using `geopandas`. The reason is that I would like to avoid jumping from QGIS to python while developing scripts and just focus on the programming.

Unfortunately for a simple polygon (granted it has a hole inside) this method seems to have problems. On QGIS I get the following plot:

[![enter ima

[2019-03-22 11:08] awa5114 commented on #951
This seems related to this issue https://github.com/geopandas/geopandas/pull/267

[2019-03-22 12:04] jorisvandenbossche commented on #951
@awa5114 Thanks for opening the issue!
After some investigation, this seems to be due to how descartes is handling the interior (and thus not related to the Collections PR). See https://bitbucket.org/sgillies/descartes/issues/3/plotting-issue-with-interior-polygons

Longer explanation:

Converting the geojson to a GeoDataFrame and plotting it (making the edges visible)
[code]

gives:

![Figure_1](

[2019-03-22 12:35] ljwolf commented on #951
Looks like this is one of those cases where the legacies of de facto standards conflict with one another RE the [right-hand-rule](https://github.com/gasparesganga/php-shapefile/issues/13#issuecomment-349577163).

[2019-03-22 13:16] jorisvandenbossche commented on #951
A little bit more investigation:

- This is the expected behaviour in matplotlib. I don't find any actual explanation of this in the Path docs, but eg this example shows explicitly the effect of the winding direction: https://matplotlib.org/gallery/shapes_and_collections/donut.html#sphx-glr-gallery-shapes-and-collections-donut-py

- And matplotlib does this, because this seems to the default behav

[2019-03-22 13:51] jorisvandenbossche commented on #951
@ljwolf interesting, thanks for that link! Now, what I see there, is that Shapefiles and GeoJSON do the opposite, but both still say that exterior and interior is the opposite direction.
For plotting, matplotlib/svg doesn't care if the exterior is CCW and interior CW or the other way round, as long as the direction is different for exterior/interior.

So although Shapefiles and GeoJSON somewhat en

[2019-03-22 14:51] awa5114 commented on #951
Thanks. This is definitely helpful. For the time being I will stick with defining the interior coordinates in the opposite direction.

[2019-03-22 16:02] jorisvandenbossche commented on #680
@mangecoeur For the ExtensionArray part, there are open PRs. See https://github.com/geopandas/geopandas/pull/835 (for master) and https://github.com/geopandas/geopandas/pull/701 (for cython branch). Those PRs are a bit stale, but I am going to get back to those somewhere in April (unless sombody already wants to take them over now).

But, that is only the aspect of using an ExtensionArray to store

[2019-03-22 16:56] jcusick13 commented on #950
Python is different from some other languages in that setting `a=b` means both `a` and `b` refer to the same address in memory. This [SO post](https://stackoverflow.com/questions/16348815/python-assigning-multiple-variables-to-same-value-list-behavior) helps explain more detail about the issue.

For a quick workaround, try using `db_file2 = db_file1.copy()` in order to later modify `db_file2` with

[2019-03-22 17:00] jorisvandenbossche commented on #950
That explanation is indeed fully correct, thanks @jcusick13 !

[2019-03-22 17:00] #950 closed

[2019-03-22 18:23] kuanb opened #952 "Silent bigint conversion issue"
Large integers are converted to 2147483647 if they exceed this value during export to Shapefile. Conversion occurs silently and, unless users are familiar with 2147483647 and aware that it is the largest value for a 32-bit integer, may become confused as to what had occurred.

How to recreate:

First, create a GeoDataFrame with a large value.
[code]
Here, the resulting GDF's `vals` column has `dty

[2019-03-22 18:39] jorisvandenbossche commented on #952
@kuanb thanks for the report!

What version of fiona are you using?

I see the correct behaviour with fiona 1.8:

[code]

[2019-03-22 18:43] knaaptime commented on #651
Is this still being considered for inclusion? My colleagues and I regularly use parquet for storing geodataframes so I'd be happy to submit a PR if it's of interest

[2019-03-22 18:47] kuanb commented on #952
Hi @jorisvandenbossche thank you for the really quick  response.

I was working in a notebook with the following:
[code]

I then upgraded to fiona v1.8.6 and behavior was as expected - that is, big ints were handled as expected.

So; looks like this was my fault. Apologies and thanks again for the follow up!

[2019-03-22 18:47] #952 closed

[2019-03-22 19:09] jorisvandenbossche commented on #952
No problem, and thanks for the confirmation that the fiona version fixed it!

[2019-03-22 19:28] kuanb commented on #952
@jorisvandenbossche any reason why geopandas only limits fiona to `fiona>=1.0.1`? Would it be appropriate to enforce gpd to use >=0.18 given this observation?

[2019-03-26 09:37] awa5114 commented on #400
Has this been integrated into the main repo? My intersections take forever to run

[2019-03-26 09:46] jorisvandenbossche commented on #400
Yes, this was included in the 0.4.0 release. Would you be able to provide a reproducible example that illustrates the slow performance? (either if you can share the data, or otherwise try to generate some data that has similar characteristics)

[2019-03-27 12:52] awa5114 opened #953 "geopandas fails to plot GeometryCollection"
It looks like geometry collections are not supported by the geopandas `plot` feature. The following will generate an empty plot.
[code]

Am I doing something wrong or is this a bug ? If so how to fix or workaround? Thanks.

[2019-03-27 13:02] jorisvandenbossche commented on #953
Thanks for the report! I don't think you are doing something wrong, this is a bug (or, a not yet supported case). It would be a nice enhancement to actually support this.

[2019-03-27 13:02] awa5114 commented on #867
Has this been implemented yet? I am having other problems with GeometryCollections for example: https://github.com/geopandas/geopandas/issues/953

[2019-03-27 13:03] awa5114 commented on #953
You're welcome, I'm noticing this may be a more fundamental problem, since trying to write the geodataframe to a file causes problems as reported here https://github.com/geopandas/geopandas/issues/867. Is there a way to prevent the intersection from generating GeometryCollections, MultiPolygons, or anything that would be problematic when plotting/writing to a file?

[2019-03-27 13:04] jorisvandenbossche commented on #867
@awa5114 this will be in the next release. But the input / output for different geometry types as discussed here is not related to the problem with plotting you are seeing in #953

[2019-03-27 13:06] awa5114 commented on #867
Is there a way to circumvent this or is this a situation where I have to write a function to clean up the gdf before writing to file?

[2019-03-27 13:08] jorisvandenbossche commented on #953
It might certainly be a more general problem that GeometryCollections are less good supported and tested, but the underlying code-related problem for the I/O or the plotting here are completely independent of each other.

Not sure about that, sorry. I think the intersection does that here by definition, because of the layout of the two lines (you can't represent the result as a LineString).

Somet

[2019-03-27 13:11] awa5114 commented on #953
The functionality to ensure uniform geometry type is implemented already? What specific methods are you referring to? That might solve my problem, if I can convert everything to linestring for example...

[2019-03-27 13:15] jorisvandenbossche commented on #867
Currently there is not yet a way, and you will have to clean the geometries yourself. See also the discussion in https://github.com/geopandas/geopandas/issues/834. But I think it would be interesting to add some functionality for this in geopandas (functionality to convert your geometries to a certain geometry type, like you have https://postgis.net/docs/ST_Multi.html and http://postgis.net/docs/S

[2019-03-27 13:17] jorisvandenbossche commented on #953
No, it is something that GeoPandas could provide, but currently doesn't.

[2019-03-27 13:34] ljwolf commented on #953
To reiterate @jorisvandenbossche's point, there's not really a way to express `x` as a "uniform geometry type" :/

The main idea behind the `GeometryCollection` in OGC is to wrap a `MULTI-`type shape with heterogeneous types. In your example... `x` has both point and linestring components:
[code]
What is the intended "uniform" type for those in your data?

You could "explode" `x` to get its consti

[2019-03-27 13:37] awa5114 commented on #867
I just wrote this function and tested it for a simple use case. Might be useful to others who have similar problems:

[code]

[2019-03-28 11:05] mangecoeur commented on #680
When doing data analytics with Postgres/PostGIS, often you have a mix of numerical tables and GIS tables which could have several geometry type columns. This means that if you are pulling/pushing data from Postgres, you have to decide whether to pull it as a pandas dataframe or a geopandas dataframe. Maybe you start working with purely numerical data then you want to add a GIS aspect -  you have t

[2019-03-30 21:03] hyperknot commented on #924
Some updates on this: What has been working a month ago is totally broken now, I cannot install geopandas via conda-forge.

Here is the full log:
[code]

Does anyone know what happened and how can I possibly fix this?

[2019-03-30 21:19] ocefpaf commented on #924
You must ensure that you are using conda >=4.6, activate `strict` with

[code]

and do not remove `defaults`, strict will take care of a stable env and will download the compiler runtimes you are missing there.

[2019-03-30 21:30] hyperknot commented on #924
@ocefpaf thanks, I thought it must be the same with only a single channel, but I guess maybe `defaults` + strict does make a difference.

My question then is how can I insert conda-forge into the first place of the channels via command line?

[2019-03-30 21:42] ocefpaf commented on #924
It does. A single channel was a terrible workaround from before we had, the proper solution, that is `strict`. The reason is, we (conda-forge) do not build compilers due to CI limitation. We rely on `defaults` to provide that. In the past we vendorized those but it can be error prone. Relying on `defaults` + `strict` is the right way to do that.

Just do ` conda config --add channels conda-forge`

[2019-03-30 21:59] hyperknot commented on #924
Now I get this error:
[code]

The exact command I'm using is:
[code]

[2019-03-30 22:01] ocefpaf commented on #924
Are you on conda >4.6? You have to update your conda first.

On Sat, Mar 30, 2019, 18:59 Zsolt Ero <notifications@github.com> wrote:

[2019-03-30 22:03] hyperknot commented on #924
What should be the order of
- conda config --add channels conda-forge && conda config --set channel_priority strict
- conda update conda -y
- conda update -y --all
?

Or do I need to have two update conda commands?

[2019-03-30 22:32] ocefpaf commented on #924
[code]

[2019-03-30 23:01] hyperknot commented on #924
Thanks @ocefpaf for the detailed help, it works now. If you say that there is no point in generally updating a freshly installed miniconda environment, then I can leave that update command out (but it definitely does a lot of updates, even in a clean env).

[2019-03-30 23:04] hyperknot commented on #924
As I see the biggest difference is having an old Python version in miniconda, which is 3.7.1 and not 3.7.3.

[2019-03-30 23:26] hyperknot commented on #924
@ocefpaf there is one problem with this, especially the update. When I update it, it nicely goes from Python 3.7.1 -> 3.7.3, but then upon installing geopandas, it downgrades it back to 3.7.1
Here is the full log of the install: https://gist.github.com/hyperknot/ede1d092867ca10dbeb5744b0c77f07d#file-conda-install-bug

[2019-03-31 00:22] ocefpaf commented on #924
That is why I said the base env upgrade is not necessary. The solver will adjust for the packages later. I don't think we have all the packages with the right dependencies for Python 3.7.3 yet, so to avoid a up/down grade dance just install what you need and let the solver to its job. (A full stack with latest Python should be available soon BTW, I believe that it is b/c of of the openssl migratio

[2019-03-31 21:18] r-barnes commented on #921
I've updated my answer to fix a memory leak with the prepared objects. I've now tested using `-fsanitize=address` and no leaks are detected.

[2019-03-31 21:33] r-barnes opened #955 "Spatial Join Eats Memory"
Calling spatial join on a dataset creates unacceptable and persistent memory usage.

The following screenshot demonstrates the issue:

![Memory Use in Spatial Join](https://i.imgur.com/nHZ9BeB.png)

I have copied the spatial join source into my code and annotated it. Everything goes fine until this section:
[code]
Going into the function, I have the following memory usage:
[code]
Coming out, I hav

[2019-03-31 23:01] r-barnes commented on #955
Hmm, if I skip this part of the program and use my fast spatial join (see geopandas/geopandas#921) instead, I get similar RAM usage. Eliminating the use of prepared geometries in that code eliminates the growth in RAM usage. So it seems as though making a prepared geometry in GEOS has some kind of persistent effect. I'm not sure how this can be, though.

[2019-04-01 17:17] deppen8 opened #956 "Clipping example for docs"
I often find myself "clipping" a line or polygon geometry by some other polygon geometry. For example, clipping a `GeoDataFrame` of road boundaries by another `GeoDataFrame` of state or county boundaries.

Would an example of this be useful for the Examples Gallery? I work with geopandas a lot in my research and would be happy to put this together if desired.

My clipping code is something like th

[2019-04-01 19:56] psychemedia opened #957 "Intermittent Issue - geopandas query on Spatialite crashes Jupyter notebook"
I have an intermittent query when trying to run queries against a connected spatialite database in a Jupyer notebook kernel. Tring to make an initial query is as likely as note to kill the Jupyter kernel. (On rare occasions, it works fine.)

[code]

Presumably this is a memory error somewhere when handling the geometry?

[2019-04-02 11:29] njanakiev opened #959 "Problem with Translation after Projection"
I run into the issue that the geometry is not properly projected after a translation. I wanted to create the geometry in mercator projection, project it to WGS84 and then move according to some lat lon point:

[code]
![image](https://user-images.githubusercontent.com/9904103/55398843-d2da3480-5549-11e9-8acd-2284a65dd50c.png)

It works when I manually project the coordinates with the `pyproj` packa

[2019-04-02 12:55] hadolop commented on #830
i do not find the location  .../Anaconda3/envs/env_name/share/proj, it never exsit.

[2019-04-02 19:17] johnnytriple3 opened #960 "geopandas and dependencies confirmed installed, Spyder says geopandas does not exist?"
Hello,
Performed conda install for geopandas and dependencies and confirmed, new environment, Spyder IDE on Windows 10.
When attempting "import geopandas", returns error stating 'no module named geopandas'. Added conda-forge channel, as well, not sure what else to do.

Any help would be great!

[2019-04-03 00:27] cfrancois7 opened #961 "How to add label to colobar when legend=True?"
I wish to use geopandas to make my map, but I don't a way to define the label of the colorbar.

[code]
I labelized the x and y axes but not the colorbar.
Otherwise I have to desactivated the legend and pass though matplotlib, it is very ugly.

[2019-04-03 10:54] jorisvandenbossche commented on #960
@johnnytriple3 you probably installed geopandas in a different environment as the one you are running in Spyder.
So either you need to install Spyder in the same environment, or select the correct Python interpreter in the Spyder settings (to point to the environment in which geopandas is installed)

[2019-04-03 11:19] jorisvandenbossche commented on #959
@njanakiev Thanks for opening the issue!

If I understand the issue correctly, I think this is due to how geographic coordinates (lat, lon) and projections work.
In the first case, you have a square in Mercator (at 0, 0) and convert this to lon/lat (still at 0, 0). After translating this square to (4.90, 52.38), this is still a square in geographic coordinates, but because you are away from the eq

[2019-04-03 12:12] njanakiev commented on #959
Thanks for the clarification @jorisvandenbossche!

I understand, switching between projections got me confused. So the translation does not take the projection into account, which makes sense since it is just moving the geometry.

[2019-04-03 12:12] #959 closed

[2019-04-03 15:38] yobuntu commented on #65
I think pyproj will now skip transformations if crs are the same which make the check almost useless.
see https://pyproj4.github.io/pyproj/html/optimize_transformations.html

[2019-04-03 15:42] yobuntu opened #963 "Huge performance breakdown since pyproj 2.0.0"
The method used by geopandas to transform crs  is 1000 times slower since pyproj 2.0.
a new method can be 100 times faster instead of 1000 times slower.
see : https://pyproj4.github.io/pyproj/html/optimize_transformations.html
see: #962  for an implementation exemple (i couldn't make it pass CI since i don't know how to require pyproj>2

[2019-04-04 16:57] micahcochran commented on #65
see https://pyproj4.github.io/pyproj/html/optimize_transformations.html

It does as of pyproj version 2.1.2, see [pyproj CHANGELOG](https://github.com/pyproj4/pyproj/blob/master/sphinx/history.rst).

[2019-04-05 09:53] mazzma12 opened #964 "Performance on collecting points coordinates"
Hi,

I noticed that accessing a Point coordinates through the geopandas / shapely API is very slow (3 magnitudes).

### How to reproduce :

[code]

I searched for an explanation in the doc and issues, unfortunately I could not find any.

* Is there a faster way to access geometry coordinates for Points ?
* Is this a geopandas limitation ? shapely ? cython ?

If this is a `shapely` limitation, how

[2019-04-05 13:31] jorisvandenbossche commented on #964
@mazzma12 thanks for opening the issue!

Regarding the timings, you are actually timing two quite different things: `cities.geometry.x` gets the geometry column and then needs to extract the x coordinate for each geometry, while ``cities['longitude']`` only get a column out of the dataframe. So this last one will always be faster.

That said, the performance of accessing of the x coordinates could

[2019-04-05 15:10] mazzma12 commented on #964
Hi @jorisvandenbossche , thank you for this fast reply which gives more context to understand the difference and where it comes from.

I agree with you that the 2 things are not the same, I was just surprised with the massive gap of performance -especially for large dataset. , Considering that the dataframe is already loaded in memory with the shapely object, I would expect a bit of overhead to ac

[2019-04-05 17:21] awa5114 commented on #953
Is anyone working on this enhancement? If not I could try to pick it up at some point...

[2019-04-05 18:15] jorisvandenbossche commented on #953
Not that I am aware of, so feel free to pick it up. If you have any questions, don't hesitate to ask here.

[2019-04-07 21:43] mullenkamp opened #965 "Update to pyproj > 2.1 or switch to different package for crs transformations"
Hi all,

The current implementation of CRS transformations uses an old version of pyproj (1.9.6). Newer versions have added significant improvements (#963 and [pyproj change log](https://pyproj4.github.io/pyproj/html/history.html)). These have addressed some of the prior deficiencies and issues from version 1. There has also been talk of replacing pyproj with fiona or gdal implementations (#315 ).

[2019-04-08 16:14] scottlynn73 opened #966 "Installing from conda-forge fails on python 2.7"
Hi,
I am trying to install geopandas into a fresh conda environment with python 2.7- trying to install 0.3.0 but I'm getting the error below.

![image](https://user-images.githubusercontent.com/12271098/55739811-b9d9f380-5a21-11e9-9227-27435b001cb9.png)

[2019-04-08 16:31] Manikandankasi01 opened #967 "error while saving geodataframe as mapinfo .tab file"
Hi,

I'm getting below error while exporting geopandas dataframe as mapinfo .TAB file.

Code:

`import geopandas as gpd

p=r"D:\data.TAB"
testdata = gpd.read_file(p)
testdata.to_file("output.TAB", driver="MapInfo File")`

Traceback (most recent call last):
  File "fiona\ogrext.pyx", line 1167, in fiona.ogrext.WritingSession.start
  File "fiona\_err.pyx", line 246, in fiona._err.exc_wrap_int
fiona.

[2019-04-08 16:37] ocefpaf commented on #966
Please open conda-forge packaging question in the `geopandas` feedstock: https://github.com/conda-forge/geopandas-feedstock/issues

Can you try issuing these commands:

[code]

For more info please see: https://conda-forge.org/docs/user/tipsandtricks.html

PS: everything works for me on Linux but I see you are on Windows. I'll try to check that later today.

[2019-04-08 17:40] jorisvandenbossche commented on #967
Can you show the result of `df.head()` and `df.info()` ? (or ideally, provide a reproducible example)
You get the error message *"Note that Mapinfo files don't support list field types"*. Do you have columns with lists?

[2019-04-09 04:14] Manikandankasi01 commented on #967
thanks for your quick response.
this is not a list. its a geodataframe.
PFA for df.head() & df.info results.

Thanks,
Mani
![df_head](https://user-images.githubusercontent.com/30194069/55772901-f2261400-5aab-11e9-9183-0d1d5c6426e5.PNG)
![df_info](https://user-images.githubusercontent.com/30194069/55772907-f5210480-5aab-11e9-83b7-0dcb9479b1ac.PNG)

[2019-04-09 07:52] jorisvandenbossche commented on #967
What I mean is that the error message indicates is that one of the *columns of the GeoDataFrame* contains lists (so the values in one of columns), not that `df` itself is a list.

From the pasted image, we can't see all columns. Can you past the actual plain text version? (eg run it in an IPython console, that is easier to copy paster, or otherwise set `pd.options.display.notebook_repr_html = Fals

[2019-04-09 20:07] jorisvandenbossche commented on #965
Thanks for the question! I think the longer term goal is definitely to use proj4/pyproj, and even to better integrate with it (eg use the new CRS class as the `GeoDataFrame.crs` attribute). Short term we will need to wait somewhat on adoption of it throughout the ecosystem (eg have an installable gdal / fiona that is compatible with it).
I will answer tomorrow a bit more in depth, or create a new

[2019-04-11 06:37] Manikandankasi01 commented on #967
Hi Jorisvan.

PFB for reproducible code.

`%matplotlib inline
from shapely.geometry import Point
from geopandas import datasets, GeoDataFrame, read_file
from geopandas.tools import overlay

# NYC Boros
zippath = datasets.get_path('nybb')
polydf = read_file(zippath)

# Generate some circles
b = [int(x) for x in polydf.total_bounds]
N = 10
polydf2 = GeoDataFrame([
    {'geometry': Point(x, y).buffer

[2019-04-12 07:13] shubham2323 commented on #736
How did you solve this issue??

[2019-04-12 19:05] jorisvandenbossche commented on #967
@Manikandankasi01 thanks for the reproducible example!

Indeed, I can also confirm that it gives that error. It actually also does that with the nybb dataset itself:

[code]

I am not familiar with the MapInfo file format, so I don't know if it has any limitations or specific requirements in usage (https://www.gdal.org/drv_mitab.html indeed mentions that list types are not supported). But at least

[2019-04-12 19:10] jorisvandenbossche commented on #967
Although field type 12 should be int64? List of ints is field type 13?

[2019-04-14 06:43] Manikandankasi01 commented on #967
Thanks jorisvan for your response.

Actually I couldn't get the exception raised during mapinfo. Tab export. In my first example most of the columns are objects and few columns are float & int64. Even though columns in data frame are series then why it's throwing exceptions as list fields.

I don't know what field 12 referancing.

Is there any work around for sort this issue?
Any help on this much

[2019-04-14 23:31] ImportanceOfBeingErnest commented on #869
I found that this works fine if giving each `plot` call a new instance of the same norm, in the sense of

[code]

To fix this:

https://github.com/geopandas/geopandas/blob/8a61854a156434e0c5377f5eae3a352362f6c9a4/geopandas/plotting.py#L106-L109

needs to look like

    if values is not None:
        collection.set_array(np.asarray(values))
        collection.set_cmap(cmap)
        if not kwargs.ge

[2019-04-15 14:30] caspervdw commented on #680
The performance boost described in your blogs @jorisvandenbossche  would for me absolutely outweigh the API changes. Most API changes are actually rather small (adding .geo. at many places) so migrating to the new API would not take too much effort for most users.

The API is of course a matter of application. As a regular pandas user I was a bit surprised that I could operate on the GeoSeries by

[2019-04-16 19:18] jorisvandenbossche commented on #963
Closed by https://github.com/geopandas/geopandas/pull/962

[2019-04-16 19:18] #963 closed

[2019-04-17 08:22] jiezhengxu opened #972 "ENH: Check GeoSeries.intersects(GeoSeries) against all geometries, not only pair-wise"
edit (20/03/04) by @martinfleis: _See the discussion below for the context._
<hr>

[code]
Result:
0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
dtype: bool
0     False
1

[2019-04-17 13:17] #912 closed

[2019-04-17 16:01] #867 closed

[2019-04-17 16:10] jorisvandenbossche opened #974 "Writing GPKG file failing on Windows / Python 2.7"
From https://github.com/geopandas/geopandas/pull/870#issuecomment-484003547

Currently, the tests for GPKG writing on Appveyor + Python 2.7 are skipped.
The error we see is (https://ci.appveyor.com/project/jorisvandenbossche/geopandas-us6w0/builds/23408016/job/v7g468n7dml8t43v):

[code]

So it gives an error indicating that sqlite was not properly build with rtree enabled. However, this should be

[2019-04-18 08:20] jorisvandenbossche commented on #972
@jiezhengxu without more context it is very difficult to understand your issue or question. Can you explain what you are trying to do? And can you also try to provide a reproducible example? (some code that we can run)

[2019-04-18 08:23] jorisvandenbossche commented on #967
@Manikandankasi01 Sorry, I am not familiar enough with MapInfo to further help. You might want to raise an issue with `fiona`.

[2019-04-18 09:49] jorisvandenbossche commented on #960
Since we got no further reply, I am going to close this issue. But feel free to comment if you still have problems!

[2019-04-18 09:49] #960 closed

[2019-04-18 09:51] jorisvandenbossche commented on #945
Since the actual issue (limitation of shapefiles) if out of scope of geopandas itself, going to close this issue.

[2019-04-18 09:51] #945 closed

[2019-04-18 09:57] jorisvandenbossche commented on #924
Since it seems you now got it working, going to close this issue. If you have further installation problems with the conda-forge package, you can open an issue at https://github.com/conda-forge/geopandas-feedstock/

[2019-04-18 09:57] #924 closed

[2019-04-18 09:58] jorisvandenbossche commented on #923
@RiccardoDC @ljwolf this can be closed? (didn't fully follow the issue)

[2019-04-18 10:00] jorisvandenbossche commented on #908
@dingobar can you provide some more information that @jdmcbr asked about? And if possible, provide a reproducible example?

[2019-04-18 10:03] jorisvandenbossche commented on #966
Since there were no further updates, I am going to close this issue. But @scottlynn73 , if the commands that @ocefpaf mention above do not help, feel free to further ask or open an issue at https://github.com/conda-forge/geopandas-feedstock/issues

[2019-04-18 10:03] #966 closed

[2019-04-18 10:08] jorisvandenbossche commented on #901
I recently did a PR to update the installation docs: https://github.com/geopandas/geopandas/pull/926, which now hopefully make it clearer that, if installing with pip, you need to install additional libraries. But feedback certainly welcome!

[2019-04-18 10:08] #901 closed

[2019-04-18 12:30] ljwolf commented on #923
I'd leave open because it's:
- replicable
- clearly providing a wrong result
- uncertain whether it's a pyproj or input data issue.

[2019-04-18 14:42] #196 closed

[2019-04-18 14:43] jorisvandenbossche commented on #746
Closed by https://github.com/geopandas/geopandas/pull/728

[2019-04-18 14:43] #746 closed

[2019-04-18 16:00] jorisvandenbossche commented on #875
The two blocker issues I wanted to include (mentioned above) are now merged, so I would like to work towards a 0.5 release this week (finally!)

Are there remaining PRs that should be merged or issues that should be addressed?
Certainly the geocoding one (https://github.com/geopandas/geopandas/pull/975) I think

Further, one annoying thing to release now is that the docs are not building on readth

[2019-04-18 19:12] jorisvandenbossche opened #978 "Add a Code of Conduct for the GeoPandas project"
I propose to adopt a Code of Conduct for the GeoPandas project, and more specifically based on the Contributor Covenant.

---

I *think* we never had a situation up to now where we would have needed to act upon one, but, you never need to wait until it is too late and it also the signal you give with it to community members and newcomers.
(it is also mentioned in https://github.com/geopandas/geopa

[2019-04-18 19:38] jorisvandenbossche commented on #812
I wanted to look into this again, to activate Zenodo, now the 0.5 release is (finally) imminent.

But it appears I already unknowingly activated it (probably by looking at it last time) .. ;), and it already made a DOI for the 0.4.1 release: https://zenodo.org/record/2585849

I am not sure how it automatically created the author list. It put the two maintainers (in github permissions meaning, Kels

[2019-04-18 20:28] story645 commented on #978
Outsider here, but I like that the Jupyter one is the most concrete and has a whole enforcement protocol. Anonymous form + email sounds good (and let people know who's on the committee in case they have to report somebody on it).

[2019-04-18 21:13] koshy1123 opened #980 "Empty geometries treated differently in GeoSeries compared to Shapely"
This confused me, and I couldn't find any relevant documentation explaining this behaviour - hoping someone can shed some light on this. Notice how 2 empty geometries are "equal" in shapely land, but become "not equal" in a geoseries using the check [`.geom_equals`](http://geopandas.org/reference.html#geopandas.GeoSeries.geom_equals)
[code]
**Package versions**
[code]

For anyone curious _why_ I w

[2019-04-18 21:19] koshy1123 commented on #980
My theory is that it is related to:
[code]

[2019-04-18 21:26] koshy1123 commented on #980
Maybe GeoSeries doesn't like `GEOMETRYCOLLECTION EMPTY`?
[code]

[2019-04-18 21:28] koshy1123 commented on #980
Ah, maybe related to: https://github.com/geopandas/geopandas/issues/953
GeometryCollections not being supported would explain this.

[2019-04-18 21:39] martinfleis commented on #978
I like the idea of having a Code of Conduct. Looking at examples above, I like the text of Contributor Covenant, but also like the Jupyter's explicit points. It seems to be much clearer than free flowing text one tends to skip. I slightly tend to prefer Jupyter, but I do not really mind, both are good.

Google group sounds like a good solution. I would be for including anonymous form as well, some

[2019-04-18 22:15] jGaboardi commented on #978
FWIW, here is the [Code of Conduct](https://github.com/pysal/governance/blob/master/conduct/code_of_conduct.rst) we recently adopted in PySAL.

[2019-04-19 07:21] jorisvandenbossche commented on #980
No, the difference you see there is only a matter of the representation in a GeoSeries (which could be improved!)

Yes, I think that is more or less correct. In the GeoPandas ops, it is checked whether one of both geometries are empty, and then it is considered False (and missing values are handled by considering them as empty). So at this moment, in the operations, we don't really distinguish emp

[2019-04-19 15:26] samsammurphy commented on #420
So is there now a simple solution to this?

[2019-04-19 16:06] maxhully opened #982 "UnsatisfiableError when installing from conda-forge"
I am getting an UnsatisfiableError when trying to install geopandas in a fresh conda environment. To replicate:

[code]
I am using conda 4.6.12 on Windows 10. Is this a known issue?

[2019-04-19 16:41] ocefpaf commented on #982
Please open issue regarding the `conda-forge` package at https://github.com/conda-forge/geopandas-feedstock/issues

Can you follow the instruction [from our docs](https://conda-forge.org/docs/user/tipsandtricks.html#how-to-fix-it) and try again? I was not able to reproduce your problem with the right configuration (`conda-forge` on top of `defaults` and `strict` channel enabled.)

[code]

[2019-04-19 20:23] mborus opened #983 "Legend incorrect if you define your own colors ranges"
This may be a matplotlib issue, but I have not been able to re-create the problem without geopandas.

When you define your own color map with irregular intervals, the legend colors are in the wrong intervals - the are all the same size.

	levels = [0, 1, 1000, 10000, 25000, 40000, 51000, 500000, 1000000]
	colors = ['black', 'darkgrey', 'grey', 'yellow', 'green', 'red', 'orange', 'white']

![grafik

[2019-04-21 20:54] maxhully commented on #982
I set my configuration as prescribed in the docs and still got the same error. I also ran `conda config --show` and verified that the `channel_priority` was `strict` with `conda-forge` over `defaults`.

[2019-04-22 12:35] ocefpaf commented on #982
The lack of a rebuild of `qt` with `openssl`, see https://github.com/conda-forge/qt-feedstock/pull/98, is really hurting us on everything that depends on `qt` (in this case `matplotlib`).

@jorisvandenbossche can we depend on `matplotlib-base` here instead of `matplotlib`? That would allow users to change the backend to agg and use it without waiting on `qt`.

[2019-04-22 16:26] josemarfdc commented on #867
@awa5114 I believe this functionality is implemented with `gdf.explode()`

[2019-04-23 20:12] jorisvandenbossche commented on #982
Yes, sure.
matplotlib is actually only an optional dependency, but I rather keep it in general, as almost everybody will need it (in order to keep descartes, to avoid that users need to install descartes manually)

[2019-04-24 10:18] ocefpaf commented on #982
Thanks. I'll give that a try soon. Still, for `geopandas` to work with jupyter (or anything that need `qt`) we need to fix `qt` :-(

The good news is that we already fixed `qt` on macOS and Linux, the bad news is that Windows is quite difficult and we don't have enough Windows experts.

[2019-04-24 20:03] jorisvandenbossche commented on #875
Readthedocs is working again! (many thanks to them for raising the memory limit)
So now will try to fix the geocoding one (#975), and then we are ready to release.

[2019-04-25 11:57] jorisvandenbossche commented on #875
Released! https://github.com/geopandas/geopandas/releases/tag/v0.5.0

Conda-forge packages are ready, sdist + wheel uploaded to PyPI and readthedocs is updated: https://geopandas.readthedocs.io/en/stable/. Will send out the announcement.

[2019-04-25 11:57] #875 closed

[2019-04-26 09:17] martinfleis commented on #875
@jorisvandenbossche documentation on geopandas.org is still showing old v0.4.0. It is not a mirror of stable readthtdocs?

[2019-04-26 17:11] jdmcbr commented on #875
@martinfleis Good catch, I had intended to do something on this last night, but ran out of time.

Currently, geopandas.org is based on the docs on the gh-pages branch. We'd discussed mirroring readthedocs, but as I recall (please correct me if I'm wrong @jorisvandenbossche), we needed some transfer of ownership from @kjordahl. I've just updated the gh-pages branch at release for 0.3.0 and 0.4.0.

[2019-04-29 14:22] lyncher33 opened #988 "Could not find file libspatialindex_c library"
Upon importing geopandas library I am getting error stating "OSError: Could not find libspatialindex_c library file".  This is in a Databricks notebook running on Apache Spark 2.4.0.  The notebook has been running without error for several weeks.  Now suddenly getting this error?

[2019-04-29 14:52] martinfleis commented on #988
Hi, thanks for the report.

How did you install geopandas and its dependencies? libspatialindex is one of the dependencies of rtree so you may try to follow installation instructions of rtree (http://toblerity.org/rtree/install.html). However, if you install all packages from `conda-forge` as explained in documentation (https://geopandas.readthedocs.io/en/latest/install.html) this should not happe

[2019-04-29 15:26] lyncher33 commented on #988
Thanks for the prompt response martinfleis.  I believe we installed both geopandas and rtree via PyPI but I will have to double-check as I am not the admin.  Likewise, I will advise the admin to attempt to reinstall using conda-forge if possible.

[2019-04-30 08:37] jorisvandenbossche commented on #875
We have an open issue for this: https://github.com/geopandas/geopandas/issues/290. Let's continue the discussion there.

[2019-04-30 08:41] jorisvandenbossche commented on #290
This came up again after the 0.5 release. Having the geopandas.org docs separately hosted from geopandas.readthedocs.io gives some extra work (need to build the docs locally and push to gh-pages branch, need to think about this every release).
The argument before seemed to have been the stability of readthedocs builds. That has been a problem recently as well, but that is mainly an issue for the "

[2019-04-30 08:50] martinfleis commented on #290
I agree, It would be ideal if we used geopandas.org as a custom domain (https://docs.readthedocs.io/en/latest/custom_domains.html) pointing at "stable" build. However, we needed the help of RTD support this time to make it work (rtfd/readthedocs.org/issues/5598). How reliable is it? We might run out of memory again, RTD might refuse to give us another increase and we might end with no up-to-date d

[2019-04-30 09:11] jorisvandenbossche commented on #290
I would say this is even an argument to point geopandas.org to readthedocs for now and use the geopandas.org url everywhere (in the readme, docs, ..), instead of the current readthedocs links (which we can start doing if geopandas.org points to the readthedocs version). That also makes it possible to, if we have a problem with readthedocs in the future, point geopandas.org again at gh-pages to kee

[2019-04-30 11:07] martinfleis commented on #290
That makes sense. Then we would have an absolute control and we can point geopandas.org wherever we want to.

Okay, I'm up for it, since all builds are passing now.

[2019-04-30 15:42] martinfleis commented on #988
I will close this now as it is probably installation/dependency issue which is covered in documentation. If the problem persists even after installation from `conda-forge` let us know.

[2019-04-30 15:42] #988 closed

[2019-05-04 12:04] humitos commented on #290
Hi! I'm one of the maintainers at RTD. I'm very happy that you want to user RTD as your main documentation hosting :smiley:

Despite using or not RTD to host the documentation, I suggest you to use the domain that you control as a the main URL everywhere (`geopandas.org` or `docs.geopandas.org`). That way, you are not locked-in to any service.

Regarding your build time/memory out, I checked your

[2019-05-06 04:46] StevenLi-DS commented on #232
@darribas I'm sorry. I didn't find the code in the post you linked. Is there any way to change the alpha of the edge in the `.plot()`?

[2019-05-06 20:58] StevenLi-DS commented on #232
seems like just set `facecolor='none'` and then the alpha will only apply to the `edgecolor`
`gdf.plot(facecolor='none', alpha=0.2, edgecolor='k')`

[2019-05-07 13:42] cg-david opened #989 "Attribute Error in Fiona when calling Pandas"
Before I installed geopandas, I used

`conda install fiona shapely pyproj rtree`

(I already have pandas on my machine) to satisfy all dependencies. Afterwards tried

`conda install --channel conda-forge geopandas`

as well as

`conda install geopandas`

But even with `conda update -all` I get

`AttributeError: type object 'fiona.ogrext.FeatureBuilder' has no attribute '__reduce_cython__' `

when

[2019-05-07 14:04] jorisvandenbossche commented on #989
@cg-david can you check your fiona install?

[code]

[2019-05-07 14:05] jorisvandenbossche commented on #989
And also, can you show the result of `conda list` ?

There is something wrong with the `fiona` package (which is being used by GeoPandas to read files)

[2019-05-07 15:35] aijanai commented on #245
Hi,
I can't make the toy example that OP wrote down to work.

[code]

yelds to:

[code]
What am I doing wrong? Using Python 3 with Jupyter and Conda

[2019-05-07 16:21] jorisvandenbossche commented on #245
@aijanai can you open a new issue for that? And while doing so, can you mention the version of pyproj you are using? (`import pyproj; pyproj.__version__`)

[2019-05-07 16:53] aijanai opened #990 "Can't change crs"
Hi,
I can't make this toy example  work:

[code]

It yelds to:

[code]

What am I doing wrong?

Using:

- Python 3.7.3
- Jupyter Docker image jupyter/scipy-notebook latest
-  conda 4.6.14
-  pyproj '2.1.3'

[2019-05-07 16:53] aijanai commented on #245
Thanks, here it is: https://github.com/geopandas/geopandas/issues/990

[2019-05-08 08:25] cg-david commented on #989
Hi @jorisvandenbossche, thanks for taking your time!
Fiona version is `'1.8.6'`

Output of `conda list` (quite long :D )

`
# packages in environment at /opt/anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
affine                    2.2.2                    py37_0
alabaster                 0.7.12

[2019-05-08 08:30] jorisvandenbossche commented on #989
So you have a mixture of packages from the default channel and from conda-forge, which is not recommended (there can be binary incompatibilities between the packages), see the note here https://geopandas.readthedocs.io/en/latest/install.html#using-the-conda-forge-channel

Since you have most of the default channel, can you try to force install fiona (and gdal, libgdal) again? (to have them from th

[2019-05-08 09:00] cg-david commented on #989
Okay, I removed fiona, gdal and libgdal with `conda remove` and installed them new without -c conda-forge.

Within the uninstall process, I got the following warning:

[code]

Within the installation process, I got the following warning:

[code]

Now `import geopandas as gpd` works. I also re-installed pynio and rasterio (as well `conda install -c conda-forge xarray cartopy pynio pseudonetcdf` **w

[2019-05-08 09:05] jorisvandenbossche commented on #989
Conda-forge is indeed often more (or quicker) up to date with latest releases. But, unfortunately, the packages from both channels are not always binary compatible, so therefore it is advisable that you choose to either go fully for conda-forge, or either stick with the versions available on the default channel (installing extra pure python packages from conda-forge should not be a problem).

But

[2019-05-08 09:05] #989 closed

[2019-05-08 09:12] aijanai commented on #990
SOLVED

It was pyproj 2.1.3. By setting it to 1.9.6, it works.
Spotted on the list on dependencies that conda uses. Dockerized Jupyter makes just difficult to apply the correct lib without deleting bunch of dirs and restarting the kernel.

What is the dependency of geopandas to this on pip? Because the error was mainly triggered by the following combination:
[code]
This leads to the installation o

[2019-05-08 09:17] jorisvandenbossche commented on #990
@aijanai Thanks for opening the issue!

OK, but that still means we need to figure out why it was failing with pyproj 2.1.3 (as geopandas is supposed to work with the latest pyproj).

It's a strange one, as that CRS definition that is failing should be totally valid. And I can't reproduce it locally.
But so originally you installed it with pip? Could you try to install it with conda?

[2019-05-08 09:21] jorisvandenbossche commented on #990
Actually, could you show the output of `conda list`? As doing the `conda install -y -c conda-forge osmnx` should already install all of those other packages that you are afterwards installing with pip, so not sure it was actually installed with pip.
Also, when I do `conda install -y -c conda-forge osmnx` in a clean env, I also get pyproj 1.9.6 and not 2.1.3

[2019-05-08 09:36] aijanai commented on #990
Doing it in a clean environment yelds to a working installation:
[code]

Note that geopandas is not the latest, nor pyproj:
[code]

But when I started my project, I just used `pip install geopandas descartes shapely fiona pyproj six`. This yelded almost certainly to download geopandas==0.5 and pyproj=2.1.3. When I added `conda`on top of it, it did not redownload the correct lib version since it al

[2019-05-08 09:44] aijanai commented on #990
Anyway, yes, it's a mistery on why pyproj failed since now I can't reproduce it:

Steps:
1) Installs on a clean env all latest and greatest:
[code]

Execute following:
[code]
It used to fail, now it runs fine :|

Can't reproduce the steps I followed to mess that up to the point of crashing that way

[2019-05-08 09:45] #990 closed

[2019-05-08 10:36] jorisvandenbossche commented on #990
@aijanai Thanks for trying to reproduce it again!

[2019-05-08 11:04] aijanai commented on #990
My duty.

You library rocks the ages!

[2019-05-08 18:18] StevenLi-DS opened #991 "DOC: detailing docstring and add lon & lat as args in points_from_xy()"
I'm so glad to see the `gpd.points_from_xy()` function in `0.5.0` . The function needs two args:

[code]
This requires the users to know the order of longitude and latitude. I wonder if they could be optional args so that the users don't have to remember the order so
either
`geometry = gpd.points_from_xy(lon=df.longitude, lat=df.latitude)`
or
`geometry = gpd.points_from_xy(lat=df.latitude, lon=df.

[2019-05-08 20:20] martinfleis commented on #991
Hi, that sounds like a reasonable idea to me. I don't see why not, it clarifies the arguments. If we keep the order it still remains compatible with current version.

Would you be willing to do a PR for that?

[2019-05-08 22:35] StevenLi-DS commented on #991
@martinfleis I would love to but given my python programming skill, I'm not able to do that. Sorry about that.

[2019-05-09 07:47] martinfleis commented on #991
No worries. Thanks for the idea, hope it will be implemented soon.

[2019-05-09 12:21] wbijster opened #992 "ValueError on setting a geometry to a multipolygon ("equal len keys and value")"
I have 2 geodataframes with a geometry column and I copy some geometries from 1 to the other. This works well with Polygons but returns a ValueError for any (valid) MultiPolygon.

`geodata01.loc[index, 'geometry'] = geodata02.loc[index, 'geometry']`

This works well with Polygons. Only with MultiPolygons I get:

[code]
I also cannot do assignments of a buffered or simplified MultiPolygon either (t

[2019-05-09 12:36] jorisvandenbossche commented on #992
@wbijster Thanks a lot for opening the issue!
I suppose `index` is a scalar value? (you are assigning a single MultiPolygon?)

[2019-05-09 12:39] jorisvandenbossche commented on #992
Small reproducible example (using the New York borough dataset, which are all MultiPolygons):

[code]

The reason is that pandas checks the length of the value you want to assign, to see if it matches with the number of elements you are assigning to (here a single element, since the index is a scalar).
So we might need to discuss this on the pandas side how to deal with that.

As a work-around, yo

[2019-05-10 08:52] wbijster commented on #992
@jorisvandenbossche many thanks for your excellent help! My index was a scalar indeed. Your workaround with putting the scalar in a list works well!

And just FYI for anyone like me that finds it challenging to understand what is going on:

1. Instead of adding the index scalar to a list, I can also add it to a boolean mask based on df.index == myscalar. This has the same effect.

2. In my case th

[2019-05-10 09:43] jorisvandenbossche commented on #992
You're welcome!

This seems to be a regression in pandas. I opened https://github.com/pandas-dev/pandas/issues/26333 for that. Will try to fix it there for the next pandas release.

[2019-05-11 03:21] snowman2 commented on #65
I would recommend using pyproj.CRS.is_exact_same for skipping transformations. Even though pyproj does skip the transformation, you can skip even iteration over an empty operation with this check.

[2019-05-11 09:59] jorisvandenbossche commented on #991
I think it is in any case good for a user to have some understanding of it ..

But agree that explicit keyword names can make that more readable. For some bikeshedding on the naming, I would rather go for `lon` and `lat`.

[2019-05-11 09:59] jorisvandenbossche commented on #991
Actually, in the original PR, there was a case made against adding lon/lat: https://github.com/geopandas/geopandas/pull/75#issuecomment-28706436

[2019-05-11 12:05] jorisvandenbossche commented on #65
Indeed, it would still be beneficial to skip on the geopandas level, so we don't need to reconstruct the geometries from the unconverted coordinates.

[2019-05-11 15:50] #790 closed

[2019-05-11 15:51] #824 closed

[2019-05-11 15:57] StevenLi-DS commented on #991
@jorisvandenbossche I actually remembered that someone talked about this with me when I was using `Point` in Shapely. https://github.com/geopandas/geopandas/issues/826 I get all NaNs due to the order misspecification. But I just tried and the `points_from_xy` seems to accept the order misspecification. This might be error prone for the users since for some reasons all the .csv dataset I have alway

[2019-05-11 18:33] jorisvandenbossche commented on #991
Adding it to the docstring is certainly a good idea!

Giving an error message is not really possible I think, as it is difficult to detect (most often switching lon and lat gives *some* location on earth, just not the one you wanted).

[2019-05-12 08:33] yardstick17 opened #994 "CPLE_AppDefinedError while reading a geojson file"
[code]
Upgrading fiona-1.7.12 to fiona-1.8.6 fixed the issue.
Refer here for more: https://github.com/Toblerity/Fiona/issues/510#issuecomment-351783288

Updating the requirements.txt for fiona>=1.7.11 might fix the whole issue.

[2019-05-13 07:41] Herjar commented on #990
I had the same issue and also fixed it by installing pyproj 1.9.6, but I am not using conda.

[2019-05-13 11:21] jorisvandenbossche commented on #990
@Herjar can you still reproduce the error?
(as the error should not happen. If you can find a way to reproduce it, that would be very welcome. Because if it actually happens in some circumstances, we should try to fix it)

[2019-05-15 08:21] Sorgann commented on #990
I created a docker with this Dockerfile
[code]
Pyproj version is `Version: 2.1.3`

If I use this jupyter and I try :
[code]

I have this error :
[code]

I hope it can help you to reproduce this error.

[2019-05-17 00:10] henrymartin1 opened #996 "Index Bug in geopandas/io/sql/read_postgis.py"
Original Code from read_postgis.py:
[code]

When infering the CRS, geopandas checks for the element in `geoms` with index = 0 instead of the first element. If 0 is not in the index (and the `index_col` is set) it is not possible to read the table.

Proposed fix:
Change `geoms[0]` to `geoms.iloc[0]` (line 60)

Proposition:
[code]

[2019-05-17 09:41] martinfleis commented on #996
Hi,
thanks for the report. However, you are apparently using older version of Geopandas, as this issue has been fixed in #856, which is part of 0.5.0 release. The affected line currently looks like this:

     srid = shapely.geos.lgeos.GEOSGetSRID(geoms.iat[0]._geom)

Try updating Geopandas. If the problem persists (as it should not based on your description), let us know. I will close this for no

[2019-05-17 09:41] #996 closed

[2019-05-17 11:40] henrymartin1 commented on #996
Thanks for the quick answer! And sorry for not checking the version...

[2019-05-17 11:45] ljwolf commented on #791
closed by #995

[2019-05-17 11:45] #791 closed

[2019-05-17 17:06] roehnan opened #997 "jenks plot legend issue"
I noticed that depending on the number of classes, Fisher-Jenks (or Natural Breaks) classification incorrectly represents the classifications when plotted. The first class is essentially set to itself:

![image](https://user-images.githubusercontent.com/22568428/57944199-0d462980-788b-11e9-82f2-ab4c7bb1fc4f.png)

I am not sure why the plot legend shows "0.38 - 0.38".

I've attached the shapefile t

[2019-05-17 17:10] jGaboardi commented on #997
The was determined not to be a `pysal` issue in pysal/pysal#1099.

[2019-05-18 01:09] snowman2 commented on #943
I tinkered with this a bit:
[code]
And so, the code returned by fiona is incorrect as it is the ESRI and not the EPSG code.

However, using the WKT version of the string works fine:
[code]

This should no longer be an issue when `geopandas` starts using the `pyproj.CRS` class with the WKT string output from fiona.

[2019-05-18 03:53] snowman2 commented on #990
With pyproj>=2.0 you need to remove the `no_defs` when using `init=epsg:..` syntax. I don't know exactly why, just that it is the case.

[2019-05-18 03:55] snowman2 commented on #245
With pyproj>=2.0 you need to remove the no_defs when using init=epsg:.. syntax. I don't know exactly why, just that it is the case.

[2019-05-18 03:59] snowman2 commented on #923
I believe this issue is due to the loss of projection information when converting from the WKT form of the projection to a PROJ string. See: https://proj4.org/faq.html#what-is-the-best-format-for-describing-coordinate-reference-systems

[2019-05-18 08:38] martinfleis commented on #997
Hi, it is not a bug, that just how your data looks like. Fisher Jenks binning will generate these bins:

                 Fisher_Jenks

    Lower          Upper            Count
    =====================================
            x[i] <= 0.380               1
    0.380 < x[i] <= 0.474               6
    0.474 < x[i] <= 0.507               5
    0.507 < x[i] <= 0.552               7
    0.552 <

[2019-05-18 13:21] snowman2 commented on #245
More info on nodefs not working: https://github.com/OSGeo/proj.4/issues/201

[2019-05-19 04:43] awa5114 commented on #834
I have to disagree... I am trying to write a geodataframe with the following contents:

[code]

The last two records are MultiPolygons. I get an error when I use the GeoJSON driver:

[code]

[2019-05-19 04:48] awa5114 commented on #867
@josemarfdc Indeed it is... I tried it and it works. Thank you very much.

[2019-05-19 12:04] mayanksuman opened #999 "geopandas conflict with xarray under python3.7"
The following code produce error NetCDF error (`OSError: [Errno -101] NetCDF: HDF error: b'data/data.nc'`) under python3.7.
[code]
The order of importing geopandas is not important. However, following code is working fine.
[code]
I guess that some defaults regarding string is being changes by loading geopandas in python3.7. If that is the case, then geopandas may have potential conflict with other

[2019-05-19 13:11] martinfleis commented on #999
Hi, thanks for the report.
Can you provide sample data? I am unable to reproduce the issue with my data. How did you install geopandas and xarray? Can you provide `conda list` output?

[2019-05-19 13:46] mayanksuman commented on #999
The sample data is attached herewith.

The error is observed only in case of python3.7. Example code runs without any issue with pthon3.6.

I have installed both `geopandas` and `xarray` using `pip 18.0` on `python3.7.3`.

[data.zip](https://github.com/geopandas/geopandas/files/3195111/data.zip)

[2019-05-19 14:23] martinfleis commented on #999
Thanks. I think the issue is some dependency conflicts. Both geopandas and xarray are recommended to be installed using conda from `conda-forge` channel. Conda should resolve these dependency conflicts for you. In my `conda-forge` environment on python 3.7.3 everything works as it should. Python geospatial stack is a bit dependency hell, so we always recommend using `conda-forge` if possible. If n

[2019-05-19 14:47] sgillies commented on #834
@awa5114 that's a limitation of GDAL's GeoJSON driver. The format specification allows multiple geometry types.

[2019-05-19 15:01] #997 closed

[2019-05-19 15:28] sgillies commented on #999
If you install geopandas using pip, without conda, pip will fetch a fiona wheel (binary package) from PyPI. The fiona wheel contains its own copies of libhdf5 and libnetcdf so that users can get started with fiona without having to think about its C library dependencies.

$ unzip -l ~/Downloads/Fiona-1.8.6-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_

[2019-05-19 18:19] jorisvandenbossche commented on #999
@sgillies Thanks a lot for the analysis!

Is there something you think fiona could do about it? Or open an issue somewhere else to see if there can be such coordination?

Closing here, as there is nothing geopandas can do about (although we could postpone the import of fiona in geopandas to only do that when actually reading a file, then just importing geopandas will not have this effect, but in m

[2019-05-19 21:27] #999 closed

[2019-05-20 08:14] jorisvandenbossche opened #1000 "Refactor internals based on ExtensionArray interface"
For the next release (0.6.0), I want to focus on refactoring the internals using the pandas ExtensionArray interface (https://pandas-dev.github.io/pandas-blog/pandas-extension-arrays.html, https://pandas.pydata.org/pandas-docs/stable/development/extending.html#extension-types)

What does this entail:

* Converting the basic GeometryArray (https://github.com/geopandas/geopandas/pull/993) to a full

[2019-05-20 08:41] jorisvandenbossche opened #1001 "Release 0.6.0"
Issue to track the 0.6.0 release.

The main item I want to focus on is:

- the refactor using the ExtensionArray interface: https://github.com/geopandas/geopandas/issues/1000

[2019-05-20 12:39] jorisvandenbossche opened #1003 "New pyproj.CRS based interface for the .crs in GeoPandas"
There has been some discussion lately about pyproj / the projection library dependency, eg https://github.com/geopandas/geopandas/pull/885 (which proposed to remove pyproj dependency in favor of fiona, which also relates to https://github.com/geopandas/geopandas/issues/315) and https://github.com/geopandas/geopandas/issues/965 about pyproj 2 compatibility.

**~Short term~**: we need to guarantee c

[2019-05-20 12:41] jorisvandenbossche commented on #965
Closing this in favor of the new issue I opened at https://github.com/geopandas/geopandas/issues/1003. Feedback there more than welcome!

[2019-05-20 12:48] jorisvandenbossche commented on #1003
I personally think having an actual, more user friendly CRS class instead of the current proj4 string or dict is an important new feature for GeoPandas in terms of usability / user friendliness.

To get an idea of this CRS class: http://pyproj4.github.io/pyproj/dev/api/crs.html

But some questions about the approach:

* Are we OK with relying on another library (pyproj) instead of having the CRS c

[2019-05-20 13:19] jorisvandenbossche commented on #245
@snowman2 can you give a bit more background? (in case you understand it :-))

In any case, also with the latest pyproj (and proj 6.0.0), I don't get such error, for me `pyproj.Proj({'init': 'epsg:4326', 'no_defs': True})` works fine (it would also be a quite compatibility break to no longer accept it, even if `no_defs` is unnecessary)

[2019-05-20 18:50] jorisvandenbossche commented on #899
@ocefpaf @sgillies

For shapely, we can find information about the GEOS it is build against with (or at least, the installed GEOS it finds at run time, I suppose):

[code]

Is that the appropriate API to use?

For fiona, I can do something like:

[code]

[2019-05-20 19:23] ocefpaf commented on #899
I usually do `shapely._buildcfg.geos_version` b/c I like the tuple response in case I need to check only MAJOR and or MINOR, for that reason I use `fiona.gdal_version` instead of `fiona.env.get_gdal_release_name()`.

[2019-05-20 19:59] jorisvandenbossche commented on #943
On the other hand: http://epsg.io/102008 does list it (but it indeed seems it is not included in the proj.db looking at the source: no projected systems above 100000 are included)

Something to report to fiona?

[2019-05-20 20:00] jorisvandenbossche commented on #943
Although I suppose this is actually due to the used epsg source. Because on my machine, I got an empty `{}` for `crs`, probably indicating it did not found an epsg code)

[2019-05-20 21:22] snowman2 commented on #245
Based on the issue https://github.com/OSGeo/proj.4/issues/201, `no_defs` is no longer needed as it is always applied anyways.

[2019-05-21 00:11] snowman2 commented on #245
Huh, I guess I should have checked it out first.
[code]

[2019-05-21 03:43] snowman2 commented on #1003
I would recommend pinning `pyproj >=2.2.0` after it is released if you choose to use the `pyproj.CRS`. This will make the transition smoother and the behavior of `geopandas` consistent. Otherwise. depending on the version of `pyproj` transformations or the `crs` variable will have different results. For example, `pyproj>=2.2.0` takes into account the new axis swapping that occurs in PROJ (see: htt

[2019-05-21 04:14] snowman2 commented on #245
I wonder if it was fixed here: https://github.com/pyproj4/pyproj/pull/184

[2019-05-21 04:17] snowman2 commented on #245
Nope, the boolean is not in the string.

[2019-05-21 11:08] arredond opened #1004 "Appending to file as optional parameter in to_file()"
I'm not sure how hard this would be, but having the option to append to an existing file (SHP, GPKG, GeoJSON, etc) would be a nice feature (for example, to avoid reading a large file, concating a few rows and then writing again).

Since GeoPandas [simply uses `fiona.open(filename, 'w')`](https://github.com/geopandas/geopandas/blob/master/geopandas/io/file.py#L101), this could be as simple as optio

[2019-05-21 11:22] jorisvandenbossche commented on #1004
I think that would be certainly a welcome addition to `to_file`. We can provide a `mode` keyword for that, so the user can specify `mode='a'`. See also the docs about it: https://fiona.readthedocs.io/en/latest/manual.html#appending-data-to-existing-files

If you need any help for a PR, feel free to ask any questions! There are some contributing docs at https://geopandas.readthedocs.io/en/latest/co

[2019-05-21 12:31] arredond commented on #1004
Awesome! I'll get to it and hope to provide a PR soon enough

[2019-05-22 12:01] waeiski commented on #942
I applaud this idea!

I have an idea about taking the idea of mere inclusion of great circles slightly further. A very welcome functionality would be enabling nearest-neighbor type operations that use geodesy/great circles to accurately determine the nearest feature (between points, lines and polygons). For instance, one might have point feature observations across different oceans and determining

[2019-05-22 21:42] rafa-guedes commented on #999
I just had similar issue in python2.7 (I also used pip to install geopandas and xarray). In my case the work around was importing geopandas before xarray.

[2019-05-23 18:03] awa5114 commented on #991
This is already the case I think? `x` and `y` are already optional arguments... See below example

[code]

There is nothing to implement here.... should this issue be closed?

[2019-05-23 18:09] awa5114 commented on #841
Should this be closed? It appears to have been merged in the referencing issue #842?

[2019-05-23 18:30] StevenLi-DS commented on #991
@awa5114 I actually think x and y is hard to remember and in many dataset I use they are stored as Lon and lat...

[2019-05-23 18:32] martinfleis commented on #991
On the other hand, some people use Geopandas to handle abstract datasets where latitude and longitude doesn’t really make sense while x and y works always. Even though you have to remember which is x and which y.

[2019-05-24 00:36] mcrlf commented on #999
I hit the same issue

[2019-05-24 00:47] snowman2 commented on #923
I tried it out with #998, and it definitely appears that you have 3 different projection systems:
![image](https://user-images.githubusercontent.com/8699967/58295114-30913d00-7d93-11e9-9b28-d72666329e3c.png)
![image](https://user-images.githubusercontent.com/8699967/58295133-44d53a00-7d93-11e9-81b7-bec26e717f9e.png)

[2019-05-24 00:52] snowman2 commented on #923
But, all the same, I get the same results as presented in this issue, even using the WKT strings. So, that is not the issue.

[2019-05-24 00:57] snowman2 commented on #923
I also attempted:
[code]
But, the sewer lined up properly with the manholes even in this case. So, I am not convinced that it is an issue with the input data either.

[2019-05-24 01:08] snowman2 commented on #923
Same issue with fiona transform as well:
![image](https://user-images.githubusercontent.com/8699967/58295756-6ab00e00-7d96-11e9-8db8-51972d9c6f67.png)

[2019-05-24 01:29] snowman2 commented on #923
And if you go to the bld crs, everything is wonky:
![image](https://user-images.githubusercontent.com/8699967/58296437-58839f00-7d99-11e9-8868-dda32e1bb861.png)
![image](https://user-images.githubusercontent.com/8699967/58296471-6b966f00-7d99-11e9-91df-a6fbecf82eca.png)

[2019-05-24 01:34] snowman2 commented on #923
Looks like the results with PROJ are different as well:
[code]
[code]
[code]

[2019-05-24 05:51] awa5114 commented on #991
So then what is needed to close this issue? I would like to submit a PR but am unsure what needs to be done here...

[2019-05-24 07:03] StevenLi-DS commented on #991
@awa5114 seems like folks have different ideas on this one. I will close this issue now, but I think to add the specification about lon and lat in the docstring for some users like me who deal with dataframe would be very helpful.

[2019-05-24 07:17] awa5114 opened #1005 "Running tests in pycharm environment"
Dear all,

I would like to run the tests from within my pycharm IDE, hopefully so that I can write my own tests if I would like to submit a pull request.

How can I achieve this? Thanks!

[2019-05-24 08:36] jorisvandenbossche commented on #1005
I am not familiar with PyCharm, so can't give exact advice. I would recommend searching for how to run python tests in pycharm. See eg https://stackoverflow.com/questions/6397063/how-do-i-configure-pycharm-to-run-py-test-tests

Note that in general, you can always run tests from the command line (separate command line or the console integrated in pycharm) using `pytest geopandas` from the repo dir

[2019-05-24 08:40] jorisvandenbossche commented on #1000
cc @geopandas/collaborators

[2019-05-25 03:47] jdmcbr commented on #841
Good catch @awa5114, thanks.

[2019-05-25 03:47] #841 closed

[2019-05-25 12:25] jorisvandenbossche opened #1006 "BUG: GeoDataFrame.astype(..) does not return a GeoDataFrame when possible"
Using the `astype` method on a GeoDataFrame, looses the subclass and returns a plain DataFrame:

[code]

One could argue that this is a bug in pandas (and can also probably solved in pandas), but on the short term, we can solve that by overriding `astype` in the GeoDataFrame class.

[2019-05-25 13:45] jorisvandenbossche opened #1007 "ENH: add affine_transform as method to GeoSeries"
We already have some of the `shapely.affinity` functions (https://shapely.readthedocs.io/en/stable/manual.html#affine-transformations) exposed on a GeoSeries (translate, scale, rotate), but the generic `affine_transform` is not. It would probably be useful to add this as well (see eg this [SO](https://gis.stackexchange.com/questions/323750/re-project-geojson-from-pixel-space-to-lat-long-in-python)

[2019-05-25 23:17] snowman2 commented on #1001
Projects is a nice feature to track issues/PRs related to a release:
https://github.com/geopandas/geopandas/projects

I am currently using it for pyproj, and I like it so far. https://github.com/pyproj4/pyproj/projects

[2019-05-26 00:11] snowman2 commented on #943
It works with the changes in #998
![image](https://user-images.githubusercontent.com/8699967/58375786-ce664280-7f20-11e9-94ed-0ea29029ecd4.png)

[2019-05-26 01:02] snowman2 commented on #563
I did some profiling of the two different tools in python:
![image](https://user-images.githubusercontent.com/8699967/58376088-b0501080-7f27-11e9-98f9-cde0e41c51b2.png)

It definitely appears that `rtree` (libspatialindex) has much better performance when looking up geometries. Although it is a bit slower to create the rtree index, it is a one time operation and the lookup speed is around 35x fast

[2019-05-26 15:32] donlo commented on #1007
Would like to give a try on this enhancement!
I guess this enh would be achieved by adding method in GeoPandasBase and GeometryArray class respectively? Are there any other things that I shall be aware of?
Havent contributed directly to codebase before so forgive me for asking stupid questions lol

[2019-05-27 16:19] martinfleis commented on #280
I am trying to resolve this rather old issue. In a current situation, we are using `sphinx-gallery` to generate gallery of examples. However, it works only with specifically designed .py files. We have 9 examples in the master brach, but only 4 of them are shown within gallery, rest of the are not .py files but jupyter notebooks. That is the main issue at the moment.

There is a possibility to con

[2019-05-27 20:51] theroggy commented on #974
Same using python 3.6 on windows...

[2019-05-28 06:15] jorisvandenbossche commented on #974
@theroggy how did you install geopandas / fiona?

[2019-05-28 12:53] awa5114 commented on #1006
`astype` is in the class definition for `pandas.core.generic.NDFrame` which is a superclass of `pandas.DataFrame`. What makes you think this might be a bug in pandas? The conversion seems to be done correctly:

[code]

[2019-05-28 16:46] awa5114 commented on #1006
I just submitted a pull request to address this. Please let me know if it works...

[2019-05-28 19:34] maxhully commented on #680
What about releasing the GeometryArray as a separate "core" package that GeoPandas depends on/enriches with additional behaviors? I'm imagining that the higher-level functionality like plotting, spatial joins, and overlay/dissolve, for example, would all belong in the full GeoPandas package, while the core package would focus solely on nailing the lower-level GeometryArray implementation. (If it s

[2019-05-28 19:58] theroggy commented on #974
@jorisvandenbossche I used the following commands:
`conda create --name orthoseg python=3.6
  conda activate orthoseg`
`conda install --channel conda-forge keras-gpu tensorflow-gpu rasterio geopandas scikit-image owslib spyder`
`pip install segmentation-models   # No conda package available`

[2019-05-28 20:36] #1005 closed

[2019-05-28 21:47] martinfleis commented on #974
@theroggy Can you show output of `conda list`? You might have mixed conda channels, if your channel priority is not set to strict.

[2019-05-28 21:55] theroggy commented on #974
[code]

[2019-05-28 22:34] theroggy commented on #974
@martinfleis , as I noticed sqlite isn't coming from conda-forge in the listing above, I had a look at the "strict channel priority.
So I changed .condarc to contain this:
[code]
However, then I got errors installing because some dependencies/packages couldn't be installed. I suppose  because eg. keras-gpu doesn't seem to be available in conda-forge. So I removed the channel_priority: strict, but

[2019-05-29 19:51] awa5114 opened #1010 "AppVeyor and local builds slightly different"
I am trying to get my system to a state where it can replicate both the travis and AppVeyor builds. I would like to be able to test my work locally before I submit pull requests. For this I used the environment.yml file to setup a development environment. I then wrote a batch file to launch pycharm from the appropriate environment such that all necessary variables (eg `PROJ_LIB` and `GDAL_DATA` ar

[2019-05-30 01:53] awa5114 commented on #1010
Also please take a look at my [stackexchange question](https://stackoverflow.com/questions/56370674/travis-ci-build-replication-on-windows-machine) related to this.

[2019-05-30 03:43] awa5114 commented on #1010
I noticed that on my local system the following tests are skipped, but in the Travis build they are not:

 - test_read_postgis_binary
 - test_read_postgis_null_geom

I tried to debug them in PyCharm and I think the problem is related to this:

[code]

Yet I do have `sqlite3` installed in my environment. The test is getting skipped because in the `try .... except` block an exception (the one above)

[2019-05-30 04:14] awa5114 commented on #1010
Allright... almost there. I was under the impression that AppVeyor was only testing for python 2, however upon a second look I realize there is also a python 3 build. The right environment files to use are `requirements.txt` and `requirements.test.txt` for Windows.

When I reran the tests I saw that I was getting near identical results with the remote build on AppVeyor. However there is one linger

[2019-05-30 04:58] awa5114 commented on #1010
I got it... finally. It turns out that the culprit was my cython version.... I had `cython 0.29.9` while in the AppVeyor build it uses `0.29.7`. I have two comments:

 - Does this mean that the more recent version of cython actually drops the duplicate point? If so it might render https://github.com/geopandas/geopandas/issues/521 obsolete?
 - The lesson learned here is that environments must be id

[2019-05-30 04:59] awa5114 commented on #521
Please take a look at above reference. The drop_duplicates test passes with an xpass in a recent AppVeyor build which implies that duplicates may be already removed?

[2019-05-30 05:39] awa5114 commented on #1010
Upon second thought I think the fact that this test sometimes 'xfails' on my local machine may have more to do with pycharm than anything else... will update thread once I find the problem

[2019-05-30 06:57] awa5114 commented on #521
Please take a look at the following script:

[code]

The output should be :

[code]

As you can see the "duplicate" is getting dropped in the first iteration, but subsequently not in the next n iterations. This has consequences on the test `test_drop_duplicates_series`. I uncovered this in https://github.com/geopandas/geopandas/issues/1010 in which I realized that the AppVeyor build was showing `x

[2019-05-31 13:44] martinfleis commented on #974
@theroggy after lengthy trials with different envs, I have found what is causing the issue. If you have clean env with geopandas only, everything works. Once you install rasterio, it breaks. Why, I have no idea. During installation of rasterio, Conda does this downgrade, so I guess the issue will be somewhere in it:

    The following packages will be DOWNGRADED:

      gdal

[2019-05-31 16:37] bnaul commented on #846
I'd be interested in fixing this as I find this behavior pretty counterintuitive. But at the same time I can imagine this "fix" being a pretty big breaking change (I know my own code has `index_right` hard-coded here and there). @jorisvandenbossche or anyone else, do you think the next release is "big" enough for this behavior to change or should it wait until a really major version?

[2019-05-31 23:27] theroggy commented on #974
@martinfleis thank you for putting this effort into it. I did an install of gdal, which triggered installing the new version of gdal again (amongst others) and also a downgrade to the previous rasterio version... and now the rtree error is gone :-).
So it seems there is an error in the dependencies of the newest version of rasterio?

Thanks a lot!

[2019-06-01 01:13] jschito commented on #621
I had the same issue an in my case it was an encoding error while reading the GeoJSON. I expected that the encoding of the input GeoJSON was UTF-8, but instead, it was ANSI. After I encoded the GeoJSON to UTF-8, everything worked properly. I noticed the error on the first occurrence of a special case in the properties (e.g. the German Umlaut ä, Ä, ö, Ö, ü, Ü), thus, I thought it could have somethi

[2019-06-01 16:28] martinfleis commented on #846
@bnaul I vote for fixing this in the next release. After all, it is a bug. The longer it will take to fix it the more issues it might cause.

[2019-06-02 23:11] StevenLi-DS commented on #956
@deppen8
I had the same issue before:
https://github.com/geopandas/geopandas/issues/790#issuecomment-413039213

[2019-06-03 10:35] StevenLi-DS opened #1011 "Unary predicates for overlapped points"
It seems like the all [unary predicates](http://geopandas.org/reference.html) are related to `Polygon`.  I think it might be a good idea to add one that tests if there is any (partly) overlapped point, like a unary predicate version of `geom_almost_equals` or something. I know `.duplicated()` won't work, so in the meantime is there a workaround?

[2019-06-03 10:52] StevenLi-DS commented on #1011
This is a workaround I can think of but it will be very slow for a long DataFrame. Is there any more efficient way to do this?

[code]

[2019-06-04 05:57] jorisvandenbossche commented on #1011
@StevenLi-DS can you give a bit more context on what you want to achieve, or what is not working?

You link to the unary predicates, but in what sense are they only valid for Polygons?

Is it basically `duplicated` that you want? (It doesn't work now, but it should be supported in the next version)

[2019-06-04 08:59] adrHuerta commented on #999
I have the same issue like @rafa-guedes, but in python3.6x

[2019-06-04 17:18] caiodu commented on #673
Is it possible to compare arrays with different sizes ? I keep getting 'ValueError: arrays must all be same length' when comparing geodataframes with different sizes :/

[2019-06-04 20:03] martinfleis commented on #673
Hi @caiodu,
 What exactly are you trying to do? For clarity I would recommend either opening new issue (if it is an issue or might be) or post your question on https://stackoverflow.com/questions/tagged/geopandas (if you need help with workflow). It is better for future reference.

[2019-06-05 01:30] juancruzms opened #1013 "Help: Putting two shapefiles together with geopandas"
So i have two shapefiles which i have imported to my notebook using geopandas:

-map_df2 is a polygon map which contains the locations and limits of every neighboorhood in Buenos Aires.

-map_df contains a number of points which indicate the location of each public work that has been done in Buenos Aires during a certain time period.

I want to plot them together (map_df has to overlay/ be imposed

[2019-06-05 05:22] StevenLi-DS commented on #1011
Assume I have a dataset contains many points and I want to know if there are any overlapped points spatially. I guess `duplicated` could work. But does it basically just check the geometry columns as a string or something? What if I got two points that are very very close or half overlapped?

[2019-06-05 05:27] jorisvandenbossche commented on #1011
If they are very close but not the same, then they do not overlap. Points cannot "overlap" without being the same, since they have no area?

[2019-06-05 11:30] Lashuk1729 commented on #1013
Try the following code as you want to plot all the points(locations) from one map on to another map.
[code]
Although I did not read the exact files but the process is same.
![image](https://user-images.githubusercontent.com/29592212/58952310-f707fb00-87b0-11e9-9e9d-430acfeaf698.png)

I hope this helps.

[2019-06-05 12:08] StevenLi-DS commented on #1011
@jorisvandenbossche This makes sense. Then is there any way to tell if two points are very very close? Create a buffer around each point and use `geom_almost_equals`?

[2019-06-05 12:55] jorisvandenbossche commented on #1011
Possible options are calculating the distance between the points and setting a distance limit yourself, or you could use `geom_equals_exact` which takes a `tolerance` argument.

[2019-06-05 12:56] juancruzms commented on #1013
Hello Lashuk,

I tried using your code and i get the "Unknown property marker" attribute error.

I took some screenshots of the whole thing:

<img width="753" alt="new4" src="https://user-images.githubusercontent.com/51389829/58957878-7b796000-8756-11e9-8ea1-9f2527407396.png">

And finally:

<img width="502" alt="new3" src="https://user-images.githubusercontent.com/51389829/58957900-86cc8b80-8756-

[2019-06-05 13:01] juancruzms commented on #1013
Hello Lashuk,

You code worked perfectly! I had been trying to figure this out for days. Thank you so much for your help, i appreciate it.

[2019-06-05 13:03] martinfleis commented on #1013
Glad to hear that. Issue resolved, closing.

[2019-06-05 13:03] #1013 closed

[2019-06-11 05:26] donlo commented on #846
would like to pick up this issue to work on
shall the desired output be like below?

[code]

[2019-06-12 17:01] shalvat opened #1014 "Problem with Azimuthal Equidistant Projection"
I tried to manually define Azimuthal Equidistant Projection by:

world = world.to_crs('+proj=laea +lat_0=90 +lon_0=0 +x_0=0 +y_0=0 +a=6371007.181 +b=6371007.181 +units=m +no_defs ')

This suppose to be centered on the north pole. The output is below:

![image](https://user-images.githubusercontent.com/48362322/59371027-2df78700-8d44-11e9-9439-880ed5be3cd3.png)

If I change latitude to 80 degree. T

[2019-06-13 18:11] toddrme2178 opened #1017 "Working without descartes"
I am trying to package geopandas for openSUSE.  The problem is the dependency on descartes.  It doesn't appear to be maintained upstream.  Worse, however, is that it doesn't have a license.  It says the license is "BSD", but there are a bunch of "BSD" licenses.  More importantly, all versions of the license forbid distributing the program without the license text, but there is no license text.  Th

[2019-06-13 18:20] jorisvandenbossche commented on #1017
Thanks for raising the concern.

(cc @sgillies in case it reaches you here more easily)

Another option would be to include the code into geopandas itself. In the end, descartes is only around 80 lines of code (apart from tests etc).

For the plotting tests, we should indeed add a general skip if matplotlib/descartes are not installed (as both are optional). But as you indicate, this is only usefu

[2019-06-13 18:36] toddrme2178 commented on #1017
@jorisvandenbossche You would have to re-implement it yourself.  Using the code directly has the same problem with packaging it: it doesn't have a license that says what you can and cannot do with it.

[2019-06-18 15:48] Luke-Shaw commented on #736
I'm using conda: many things I tried didn't work (updating any/all packages and trying older versions), but what was successful fixing this issue was a complete Anaconda uninstall and reinstall.

[2019-06-20 13:11] lokendrarathore opened #1018 "TypeError: invalid path: UnparsedPath, While reading shapefile"
I am trying to read a shapefile using `geopandas.read_file` but it gives an error. My commands are as follows:

`import geopandas as gp`
`fl=r"M:/rathore/vic_5km/L2_data/L2_data/DAMSELFISH_distributions.shp"`
`data=gp.read_file(fl)`

The error I am getting is as follows:

`TypeError: invalid path: UnparsedPath(path='M:/rathore/vic_5km/L2_data/L2_data/DAMSELFISH_distributions.shp')`

[2019-06-20 16:49] tommylees112 opened #1019 "Plot chloropleth with consistent `legend` and bins"
# How do I set a consistent colorscheme for three `axes` in the same figure?

The following should be a wholly reproducible example to run the code and get the same figure I have posted below.

Get the shapefile data from the [Office for National Statistics](http://geoportal.statistics.gov.uk/datasets/8edafbe3276d4b56aec60991cbddda50_1?selectedAttribute=lad15cd). Run this in a terminal as a `bash`

[2019-06-20 19:21] knaaptime commented on #1019
Under the hood, geopandas uses [mapclassify](https://github.com/pysal/mapclassify), and the easiest way to achieve what you want would be to just use it directly:

[code]

![image](https://user-images.githubusercontent.com/4213368/59875359-6e16c500-9355-11e9-8122-f62274705e98.png)

[2019-06-21 09:52] tommylees112 commented on #1019
That's so great thank you. If you would forgive me - I have 2 questions about your plots.
1. I didn't get the lovely colorbar you had as a legend
2. I need the colorbar to be discrete with the bin labels

[2019-06-21 16:50] knaaptime commented on #1019
ah, sorry about that. I included `legend=True` in the last plot, which shows the colorbar. If you need the other style legend, I think I would just change the middle plot back to the original

i.e.

[code]

and if you play around with changing the legend location in the `legend_kwds` argument you can probably get it to sit on the far right side of all three plots

[2019-06-21 20:53] knaaptime commented on #1019
[code]

![image](https://user-images.githubusercontent.com/4213368/59950818-f5cf0300-942b-11e9-9152-c327c4bae4de.png)

[2019-06-23 12:15] jorisvandenbossche opened #1022 "Windows + Python 2.7 CI build is broken (installation issue)"
Just a note that currently Appveyor is red on master (and all PRs) due to an installation problem of the conda env. See eg https://ci.appveyor.com/project/jorisvandenbossche/geopandas-us6w0/builds/25467210/job/c50x207nmv6881nb

The underlying issue is that conda-forge doesn't support gdal for windows + Python 2.7, so it is mixing things with defaults.

We could still try to do the full env from de

[2019-06-24 10:29] martinfleis commented on #1022
Are there specific plans when? We might want to announce it ahead.

[2019-06-24 16:06] martinfleis commented on #1019
Thank you, @tommylees112 for your question and you, @knaaptime for the precise answer. Issue resolved, closing.

[2019-06-24 16:06] #1019 closed

[2019-06-24 16:18] martinfleis commented on #1018
Hi,
thank you for the report. I am looking at your question on SO (https://stackoverflow.com/questions/56697108/error-reading-shapefile-with-geopandas-in-python) and I don't think it is a GeoPandas issue.
Try whether the issue persists if you open your file directly with Fiona.

    import fiona
    c = fiona.open('M:/rathore/vic_5km/L2_data/L2_data/DAMSELFISH_distributions.shp')

If so, you can t

[2019-06-24 16:39] martinfleis commented on #1014
Hi, thank you for the report. I don't think it is a bug. Just Antarctica. This projection causes the distortion of the shape of Antarctica to the level which is not legible as it covers whole map. You can see it if you plot with alpha `world.plot(alpha=0.5)`

![Unknown](https://user-images.githubusercontent.com/36797143/60036210-96305c00-96a6-11e9-9b22-345f04696c2c.png)

 I would recommend using t

[2019-06-25 12:23] #1014 closed

[2019-06-25 14:51] toddrme2178 commented on #1017
This license issue seems to have been fixed upstream.  See upstream [bug 5](https://bitbucket.org/sgillies/descartes/issues/5/license).  It still may be an issue for those installing from pypi since there hasn't been a release with the license yet, and I already asked for a new release so hopefully that will be fixed soon.  But for our purposes the issue is resolved.

There may be other reasons yo

[2019-06-26 14:42] #1011 closed

[2019-06-26 14:48] StevenLi-DS commented on #825
@ljwolf I posted a solution [here](https://stackoverflow.com/questions/52503899/format-round-numerical-legend-label-in-geopandas). I wonder if there is any way to simplify the workflow. Could you pls take a look.

[2019-06-28 03:25] jorisvandenbossche opened #1025 "TST: maplassify test broken"
I suppose the recent mapclassify release now produces different output for some of the classifications, which broke our tests because we are checking the exact legend content (which is based on the mapclassify result).

See eg https://travis-ci.org/geopandas/geopandas/jobs/551597804, which gives:

[code]

cc @ljwolf

[2019-06-28 03:28] jorisvandenbossche commented on #1025
Didn't try it locally yet, but now looking at the error message above, it seems that `k=3` was passed but that the output is no longer a list of three labels, but of 5. So in some way the specification of 3 classes is not recognized by mapclassify anymore.

[2019-06-28 04:24] jorisvandenbossche commented on #1018
This was also further discussed in https://github.com/Toblerity/Fiona/issues/767, so closing here

[2019-06-28 04:24] #1018 closed

[2019-06-28 09:19] martinfleis commented on #1025
I have found the reason. mapclassify is changing names of classifiers, so `Fisher_Jenks` is now deprecated in favour of `FisherJenks`. Because not every classifier allows predefined number of bins `k` we are checking it and drop `k` if it is not supported.

    spec = getspec(schemes[scheme].__init__)
            if 'k' not in spec.args:
                del classification_kwds['k']

`mc.classifier

[2019-06-28 12:20] AbderrahmenM opened #1026 "StopIteration Error when I import geopandas"
I am trying to execute PyInstaller on a my script. I installed all of the required packages and the .exe is succesfully created.

But when I execute it on another machine, I get he Following error:

This is the list of packages I installed on the machine that executes PyInstaller:

:

I am on Centos7 machine with Python2.7.5 and PyInstaller3.4.

Thank you.

[2019-06-28 13:15] sjsrey commented on #1025
The changes in mapclassify are for renaming to be consistent with PEP-8 (and some minor enhancements). The deprecated classifiers should return the same classification results, but they were changed to wrapper functions that return instances of the newly named classifiers. That strategy is inducing the breakage here.

I could do a pr to reflect the new name changes here.  Let me know if that would

[2019-06-28 15:26] sjsrey commented on #1025
With the changes in [mapclassify](https://github.com/pysal/mapclassify/pull/40) and proposed in  [geopandas](https://github.com/geopandas/geopandas/compare/master...sjsrey:mcfix?expand=1), the tests are passing locally for me.

I will be cutting a release of mapclassify on pip later today. Will also [PR](https://github.com/geopandas/geopandas/compare/master...sjsrey:mcfix?expand=1) once that is do

[2019-06-28 15:54] martinfleis commented on #1025
Thanks for this work. This fixes our tests and import of classifiers, but we will not be able to provide any deprecation period. It just cutoff all renamed classifiers, because we are checking the validity of passed `scheme` argument against `mapclassify.classifiers.CLASSIFIERS`. I would rather do some additional work on our side to keep deprecation warning for some time (in line with mapclassify)

[2019-06-28 16:00] jorisvandenbossche commented on #1025
Yes, that sounds a good idea. It should not be that hard to map the existing names with underscores to the new names (although this probably needs to depend on the mapclassify version).

[2019-06-28 16:03] ljwolf commented on #1025
we can probably play with something like `mapclassify.classifiers.CLASSIFIERS.get(new_name, old_name)` to avoid explicit version checking against mapclassify?

[2019-06-28 17:57] sjsrey commented on #1025
Once mapclassify 2.1.1 is on conda, [this](https://github.com/sjsrey/geopandas/commit/177591be0209ecf317f3e9cfc7d8528e3d3197a0) should handle the test failure _and_ allow for the deprecation warnings.

[2019-06-28 21:04] martinfleis commented on #1025
Have you tried it? I think it will drop `k=3` in the next step because `spec = getspec(schemes[scheme].__init__)`  will give us `mapclassify.classifiers.DeprecationHelper` where `k` is not an argument.

    if classification_kwds['k'] is not None:
            try:
                from inspect import getfullargspec as getspec
            except ImportError:
                from inspect import getar

[2019-06-28 21:24] sjsrey commented on #1025
I did run it locally with mapclassify 2.1.1 and all the tests in geopandas pass.
Because of the rewrite, `getspec(schemes[scheme].__init__)` should no longer return `mapclassify.classifiers.DeprecationHelper`.

[2019-06-28 22:44] sjsrey commented on #1025
It appears to be passing on travis for the [builds](https://travis-ci.org/sjsrey/geopandas/builds/551885216) that are using mapclassify 2.1.1.

[2019-06-29 14:02] StevenLi-DS opened #1027 "[Feature Request] automatically reproject to WGS84 if saving a file as GeoJSON"
`geopandas: '0.5.0'`

I had this projection issue as well before:
https://stackoverflow.com/questions/56806907/gis-shapefile-converted-to-geojson-has-unexpected-coordinate-format

 As GeoJSON only supports WGS84. does it make more sense to automatically reproject the `GeoDataFrame` being saved as a GeoJSON file?

https://macwright.org/2015/03/23/geojson-second-bite.html

[2019-06-29 14:04] StevenLi-DS commented on #790
@austinorr I believe you brought this issue to me before. What do you think of https://github.com/geopandas/geopandas/issues/1027 ?

[2019-06-29 14:12] StevenLi-DS opened #1028 "[Feature Request] add "projection" or "crs" arg in .plot()"
I often found myself changing the `crs` of a `GeoDataFrame` not because of any geometric reasons but simply want the plot to look better.

I think it might be convenient  to use a `projection` or `crs` arg in the `.plot()` function than changing the `crs`

[2019-06-29 15:03] ljwolf commented on #1028
Would method chaining work well enough for you?

`usa.to_crs(epsg=5070).plot()`

[2019-06-29 15:29] StevenLi-DS commented on #1028
@ljwolf
OMG...
Of course, this would work. (Asking stupid questions should be a symptom of lack of sleep)
feel free to close...😂

[2019-06-29 15:33] #1028 closed

[2019-06-30 11:27] martinfleis commented on #1027
I don't really like automatic reprojection. It can cause issues if your CRS is not properly set, if you intentionally want to use different CRS... I would not decide on behalf of users what to do with their data.
You can always do `df.to_crs(epsg=4326).to_file("file.json", driver="GeoJSON")`

However, raising a warning makes sense though.

[2019-06-30 16:11] austinorr commented on #1027
I disagree, I think most people want to export their geodataframe to geojson without having to know trivia like epsg:4326 is the only valid geojson projection. Users don’t get to use their own crs for geojson (according to the spec), so if their frame is not projected, we should assign 4326, and if it is projected we should be converting their data to the correct projection so that the output is v

[2019-06-30 18:40] StevenLi-DS commented on #1027
Btw, is there any update regarding GeoJSON in geopandas? I remembered before that if I save a file as GeoJSON and then read it back again and check the .crs, it would return None or nothing, but know the projection is actually saved?

[2019-06-30 19:59] austinorr commented on #1027
If that pattern is still true (read geojson has no .crs) then I think we should choose one of the following options: either to respect the specification of geojson and assume the epsg:4326; or go for explicit > implicit and try to read the geojson projection tag if it exists, else assign None. Either way we should also add a test to dump to geojson and reload to see if it preserves the crs correct

[2019-06-30 20:06] snowman2 commented on #1027
Even though EPSG:4326 is the expected standard, you can lose quite a bit of accuracy converting from one projection to another. Additionally, in the GeoJSON spec it also states other CRS can be used:

Since GDAL/OGR supports saving GeoJSON to different CRS, I think following their lead is probably the best way to go.

But, I wouldn't be opposed to raising a warning if you save to a projection that

[2019-06-30 20:32] StevenLi-DS commented on #1027
ok...If GeoJSON actually supports storing crs information, then I think a warning is fine.

[2019-06-30 21:52] sgillies commented on #1027
@snowman2 I think it's worth pointing out that OGC urn:ogc:def:crs:OGC::CRS84 is the official system for GeoJSON, not EPSG 4326. Using the latter as shorthand for the former is going to be problematic in the future where systems based on GDAL 2 and GDAL 3 need to coexist, yes?

The sentence in the GeoJSON spec that you referenced means to acknowledge that projected data which happens to be structu

[2019-06-30 22:16] jorisvandenbossche commented on #1027
Is this something that should also change on the fiona side (it is fiona that lets GDAL write a GeoJSON file with a non-WGS84 crs) ? Or do you see it the responsibility of the user of fiona to not provide a crs in such a case.
It would feel a bit strange for geopandas to add a special case checking for GeoJSON in `to_file` before passing the data to fiona.

[2019-07-01 00:50] snowman2 commented on #1027
@sgillies, the clarification and the example of a non-standard use case were very useful.

You are definitely correct, thanks for pointing this out :+1:.

I did some digging to better understand what you were saying:
[code]
The main difference is the axis order. It appears that the OCG CRS is the same as `+init=epsg:4326` due to the axis order, however the `+init=epsg:4326` syntax is deprecated in

[2019-07-01 12:41] asmith26 commented on #1007
Looks like this can be closed following https://github.com/geopandas/geopandas/pull/1008 ?

[2019-07-01 21:45] austinorr commented on #1027
@snowman2 and @sgillies, thanks for setting me straight with the CRS84 and epsg:4326. In looking into the standard I had wrongly concluded that they were equivalent and missed the coordinate order inversion. Thanks for the examples to clearly illuminate the difference.

In rereading my response above I also see that I was terse and a bit stubborn in insisting that there’s only one valid projection

[2019-07-01 22:09] jorisvandenbossche commented on #1027
Note that CRS84 or epsg:4326 are (for better or worse) in practice equivalent within geopandas, as we currently always store data as (x, y), regardless of the order prescribed by the CRS.

[2019-07-02 18:37] jorisvandenbossche opened #1031 "Drop Python 2.7 support"
We should decide on when to drop Python 2.7 support, so that we can announce it somewhat in advance.

Proposal: make the upcoming 0.6 release (https://github.com/geopandas/geopandas/issues/1001, with the ExtensionArray work) the last one to support Python 2. And then drop Python 2 for the 0.7 after that (which will probably be the initial cython work).

cc @geopandas/collaborators

[2019-07-02 18:37] jorisvandenbossche commented on #1022
No specific plans, opened an issue about it -> https://github.com/geopandas/geopandas/issues/1031

[2019-07-02 18:45] jorisvandenbossche commented on #1026
@AbderrahmenM There is a `next(..)` call on that line:

https://github.com/geopandas/geopandas/blob/89a04e00e85947b8b88f6fcbf87b3d2ae6719734/geopandas/datasets/__init__.py#L7-L8

which might not be needed.

But also not sure why it fails in your case, as the directory should always exist (it's the file that is being run at that moment). Or how does PyInstaller package those? Maybe if they are zipp

[2019-07-02 20:23] jorisvandenbossche commented on #1025
@sjsrey thanks! I opened a PR from your commit, and added some changes to add compatibility for older versions / people specifying the older name.

[2019-07-02 21:01] jorisvandenbossche commented on #1025
PR is here: https://github.com/geopandas/geopandas/pull/1033

[2019-07-02 21:05] joehuanguf opened #1035 "BUG: Exporting a GeoDataframe with column 'fid' to GeoPackage will delete that column"
**Steps:**

1. Create a GeoDataframe with a column `'fid'`

2. Export as a GeoPackage using `to_file()`

3. Read the exported GeoPackage

**Bug**

The `'fid'` column should exist, but is missing.

[2019-07-02 21:09] kuanb commented on #1035
Example script to recreate:

[code]

Output will be as follows:
[code]

`fid` is trimmed at some point during the export/import operation.

I noticed in `ogr2ogr` documentation the flag for preserving fid. I wonder if this is related to the need to pass through specific parameters/flags to fiona?

Link: https://gdal.org/programs/ogr2ogr.html#cmdoption-ogr2ogr-preserve-fid

[2019-07-02 21:44] kuanb commented on #1035
Update:

This is expected behavior for the driver and occurs on write. GPKG uses "fid" as the index. If present, it is assigned as the index "id." A more clear example would be to use a number other than 1 for the "fid" value in the above example. Let's say we use "12" instead.

The resulting output would have the "fid" column missing from the columns but the index value for the first row would be

[2019-07-03 01:29] jorisvandenbossche opened #1036 "Use always_xy option in the pyproj Transformer"
Related to https://github.com/pyproj4/pyproj/issues/355#issuecomment-507896053, and another short term fix to ensure compatibility with recent pyproj versions (xref https://github.com/geopandas/geopandas/issues/1003).

We should use the `always_xy` option in `Transformer.from_proj` (https://pyproj4.github.io/pyproj/stable/api/transformer.html#pyproj.transformer.Transformer.from_proj), if available

[2019-07-03 01:31] #1022 closed

[2019-07-03 01:33] snowman2 commented on #1036
Addressed in #998.

[2019-07-03 01:37] jorisvandenbossche commented on #1036
About switching to the new pyproj CRS class -> I would like to do that fully at once (meaning: requiring pyproj > 2.1, so that the geopandas user has an consistent interface for `.crs`, not depending on the pyproj version). That was at least my initial idea, maybe I should let that go ..

And for fully requiring PROJ 6 / pyproj 2, I think we should wait a bit longer (last time I checked fiona / gd

[2019-07-03 01:38] #965 closed

[2019-07-03 01:39] jorisvandenbossche commented on #315
Closing in favor of https://github.com/geopandas/geopandas/issues/1003 (discussion about switching to pyproj's CRS interface).

I think the general idea now is to rely on pyproj on this, certainly now CRS conversion related functionalities are moving to PROJ in the general ecosystem.

[2019-07-03 01:39] #315 closed

[2019-07-03 01:42] snowman2 commented on #1036
If you are not ready to have the CRS class returned, I could modify the PR to always return a dict.

[2019-07-03 13:50] jorisvandenbossche commented on #1025
Closed by https://github.com/geopandas/geopandas/pull/1033

[2019-07-03 13:50] #1025 closed

[2019-07-03 15:07] mjpieters opened #1037 "Accept a GeometrySequence object as input for GeoDataFrame geometry"
A Shapely `GeometrySequence()` instance should be acceptable as input for the `geometry` argument to `GeoDataFrame()`, as it represents an ordered sequence of points, and `GeoSeries()` already accepts the type.

E.g., starting with a numpy array of longitude and latitude values, creating a `MultiPoint()` object is as simple as using `asMultiPoint()`, which is also extremely efficient as it simply

[2019-07-03 15:21] mjpieters commented on #1037
Side note: it appears that `geometry=list(points)` is faster than `geometry(gpd.GeoSeries(points.geoms))`:

| input size | `list(points)` | `geometry(gpd.GeoSeries(points.geoms))` |
| ---------: | ------------- | ----------------|
| 1000       | 6 ms              | 35 ms                 |
| 10.000    | 35 ms            | 300ms                |
| 100.000 | 343 ms           | 3.3 s

[2019-07-03 18:53] kuanb commented on #1035
I took some additional notes on what is happening and captured it here: http://kuanbutts.com/2019/07/02/gpkg-write-from-geopandas/

Ultimately, I am not sure if this is a decision GeoPandas should be making. I can see the argument that this is something that a user might want to specifically handle themselves.

The only item I think might be valid in terms of making a modification to GeoPandas wou

[2019-07-04 13:06] jorisvandenbossche commented on #1025
Would it be worth to do a 0.5.1 bug fix release with this patch?

[2019-07-04 13:43] sgillies commented on #1003
@jorisvandenbossche @snowman2 one big downside to using pyproj in geopandas is that your project will now have two C extension dependencies that link with PROJ. This exposes your users to issues of binary compatibility and will increase the cost of "customer" support. At least that is my experience from supporting shapely, fiona, and rasterio, and this is why I told @snowman2 that I was 👎 on havin

[2019-07-04 13:57] snowman2 commented on #1003
@sgillies, pyproj and Fiona have been dependencies in geopandas for a long time now. Also, there are multiple projects that use both of them out there. I think instead of avoiding using them together due to potential binary wheel issues, we could look for ways to make them work better together.

Also, I think geopandas recommends using conda for installation, and that is a non-issue there.

[2019-07-04 14:25] jorisvandenbossche opened #1039 "Vendoring descartes? (or take over functionality)"
Triggered by https://github.com/conda-forge/geopandas-feedstock/pull/59, where matplotlib and descartes are removed from the packages that are automatically installed for geopandas (note: only for conda of course, not for pip), I was wondering if it would be an idea to vendor descartes. In the end, it is less than 100 lines of code and rather stable (not much changes over the last years).

Reason

[2019-07-04 14:27] jorisvandenbossche commented on #1039
We should at least update the installation notes (https://geopandas.readthedocs.io/en/latest/install.html) to make clearly mention how to install "essential" optional packages as well.

[2019-07-04 14:30] jorisvandenbossche commented on #1003
As @snowman2 says, pyproj is already a dependency of geopandas for a long time (for doing the actual coordinate conversion, this issue proposes to integrate more tightly with pyproj to also use their new CRS class). So we already have this problem.

In general, I think those multiple dependencies to the same C library will get unavoidable. Unless fiona would subsume all functionality of pyproj, fo

[2019-07-04 17:24] Zaitsev opened #1040 "pyproj >= 2 segmentation fault"
This code cause Seg-fault on conda env (python 3.6.7)
[code]
[code]

[2019-07-04 17:35] jorisvandenbossche commented on #1040
@Zaitsev Thanks for the report!
How did you install geopandas and pyproj? Can you show the output of `conda list` and `conda info` ?

Possibly related: https://github.com/pyproj4/pyproj/issues/351

[2019-07-04 17:40] Zaitsev commented on #1040
conda list --explicit > conda-environment-forge.txt
[code]

[code]
LIST
[code]

[2019-07-04 17:42] Zaitsev commented on #1040
conda env export > conda-environment-forge.yml
[code]

(ocli) ➜  satdata-watch cat /etc/os-release
[code]

[2019-07-04 17:52] jorisvandenbossche commented on #1040
From that list, I see "pyproj 1.9.6", not > 2. Can you check by `import pyproj; pyproj.__version__` ?

In general, you have quite a mixture of package sources. Eg fiona coming from pypi seems a bit suspicious as well.

[2019-07-04 17:55] Zaitsev commented on #1040
Yet, its my fault, downgraded while writing....
` pip install -U pyproj`
[code]

[2019-07-04 17:56] Zaitsev commented on #1040
Yes, but using GDAL + geopandas + many others leads to this spaghetti....

[2019-07-04 18:00] jorisvandenbossche commented on #1040
You are install pyproj now with pip (which includes PROJ sources), but you have PROJ installed from conda, so ending up with two copies. Can you try installing pyproj using conda?

Some spaghetti yes, but normally not that much as you have should be needed. Eg fiona is available on conda forge as well (and it seems almost all other geospatial packages like gdal and its dependendies are coming from

[2019-07-04 18:25] snowman2 commented on #1040
I am curious, does `pyproj==2.1.3` work?

[2019-07-04 18:46] ocefpaf commented on #1040
Indeed the mix of channels and pip/conda sources there make it really hard to debug and highly unlikely to work. I don't know the recommendation for `bioconda` these days but I recall that the preferred channel order, to ensure stability, was:

[code]

Also, if you are not using `bioconda` I recommend removing that. In addition be sure that you are using latest conda (`conda update conda`) and act

[2019-07-04 19:22] Zaitsev commented on #1040
Thanks. Seems my env really corrupted

[2019-07-04 19:22] #1040 closed

[2019-07-04 20:06] sgillies commented on #1039
👍 to vendoring or copying descartes. I don't have any plans to make another release of that project or keep it up to date with future versions of matplotlib, so bringing it inside geopandas could remove a fragile dependency.

[2019-07-04 21:53] jorisvandenbossche commented on #1039
@sgillies Thanks for that feedback, that's good to know

cc @ResidentMario might be relevant for you as well

[2019-07-05 02:42] ResidentMario commented on #1039
@jorisvandenbossche that's :+1: with me.

[2019-07-05 07:27] lorifan opened #1041 "wrong country code ISO_3 for France in naturalearth_lowres dataset"
Not sure this is the right place to mention it, but code iso_3 for France should be 'FRA' not -99.

[code]

[2019-07-05 12:43] JimShady commented on #369
^ What @phildias said.

[2019-07-05 12:46] martinfleis commented on #369
I already have this script implemented in momepy, but GeoPandas is in fact much better place for it. I’ll do a PR in a couple of days.

[2019-07-05 13:48] jorisvandenbossche commented on #1041
Could you check if this is also the case in the original data? It's from http://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-countries/
The script that generates the version bundled with geopandas is in https://github.com/geopandas/geopandas/blob/master/geopandas/datasets/naturalearth_creation.py

If it something in the actual data, you can report issues with that at https

[2019-07-05 13:49] jorisvandenbossche commented on #1041
Some related discussion: https://github.com/nvkelso/natural-earth-vector/issues/12

[2019-07-06 01:28] martinfleis commented on #1031
Sounds good to me. I don't think there is a reason to keep the support for a longer period than this.

[2019-07-06 01:58] martinfleis commented on #1025
I think it might be worth it. Having mapclassify 2.1.1. in env now breaks most of "old" plotting schemes without deprecation warning. Regarding #1033, do you want to keep backward compatibility with underscore names forever? It might cause incoherence in future. You might have `NewClassifier` added to mapclassify and while `fisher_jenks` and `fisherjenks` will both work, `new_classifier` will not

[2019-07-06 01:58] #1007 closed

[2019-07-06 02:07] jorisvandenbossche opened #1042 "CoordinateIndexer (.cx) is relying on pandas internals"
See https://github.com/pandas-dev/pandas/issues/27258, recent change in pandas broke some CoordinateIndexer tests.

The current implementation of CoordinateIndexer:

https://github.com/geopandas/geopandas/blob/7c66c93f0f76de53615c02810e817ef57fb6a8de/geopandas/base.py#L734-L761

is relying on some pandas internals. We should see if we can make this cleaner.

I actually think this only needs the `_

[2019-07-06 13:26] jorisvandenbossche commented on #1025
Certainly not forever, but I thought to not yet warn right now. We still need the old option for people running older version of mapclassify anyway, so it would only be a warning depending on the version of mapclassify.

Maybe doing the bug fix release with the PR as is (no warning), and then add a warning in master?

[2019-07-06 14:33] jorisvandenbossche commented on #1035
@kuanb thanks for the exploration, very useful!

There is also some related discussion to FIDs in fiona in https://github.com/Toblerity/Fiona/issues/327. Additional problem in handling this consistently is that it probably also depends on the driver.
And some discussion about id's specific for GeoJSON:https://github.com/geopandas/geopandas/issues/390

Also not sure what is best here. We *could* se

[2019-07-06 14:37] martinfleis commented on #1025
That sounds like a good plan to me.

[2019-07-06 20:32] jorisvandenbossche commented on #1000
The initial refactor PR is merged: https://github.com/geopandas/geopandas/pull/835

Some follow-up issues from the initial PR:

- [ ] expand support of `fillna` (now only for scalar values)
- [ ] change the missing value handling? Let `align` result in missing values instead of empty geometries; change default `fillna` of filling with empty geometry; let `isna` ignore empty geometries
- [ ] remove

[2019-07-08 07:06] ratnanil commented on #817
I just asked a question in this regard on Stackoverlflow https://stackoverflow.com/questions/56929855/binary-unary-predicate-functions-cross-comparing-all-objects-with-all-other-ob

[2019-07-08 07:18] awa5114 commented on #868
What is the status of this? Are there any plans to have geopandas be able to write to File Geodatabases?  This is very important for users who would wish to combing `arcpy` functionality with `geopandas`!

[2019-07-08 07:27] martinfleis commented on #868
@awa5114 This is more question for `fiona` as we are using it to handle reading and writing files. There is a discussion on this topic already, so I would try to check with them https://github.com/Toblerity/Fiona/issues/565.

[2019-07-08 12:17] jorisvandenbossche commented on #868
From that issue, and the discussion above, it seems that the main problem is that it is not easy to get installed and configured. Not something we can do much about in geopandas itself, unfortunately.
It would be good if there were distributions that included it. cc @ocefpaf do you know if this is something that conda-forge would be interested in adding? (I don't know if that is even possible, or

[2019-07-08 14:44] jorisvandenbossche opened #1045 "Recent EA refactor compat code imports pytest"
This should only be required when actually running tests, so need to split the compat code in one for main library and one for tests.

Noticed this in the failing readthedocs build: https://readthedocs.org/projects/geopandas/builds/9337078/. Wondering if we should try to test this on travis.

[2019-07-08 15:01] jorisvandenbossche opened #1047 "BUG: _validate_geometry_data raising error for Series with list-like data"
From the doc build:

[code]

I don't see it locally anymore with the latest geoplot, so it might be not present anymore there, but still, this seems a bug in geopandas we should try to fix.

[2019-07-08 15:06] jorisvandenbossche commented on #1047
Ah, the usage of `_validate_geometry_data` has been fixed in https://github.com/geopandas/geopandas/pull/835 by using `from_shapely`, which handles this case fine. Probably good to add a test though.

[2019-07-08 17:05] #1047 closed

[2019-07-08 17:30] #1045 closed

[2019-07-08 19:45] jorisvandenbossche commented on #1039
Another option would also be to take over maintenance (if that is something that @sgillies would be fine with)

@ResidentMario the "that's fine with me", was that towards the "vendoring descartes in geopandas" ? But, would you in such a case want to rely on the functionality for that from geopandas instead of relying on descartes (for the latest versions).
If we are both using it, it would be good

[2019-07-08 19:51] martinfleis commented on #1039
If we want to take over, does it make sense to keep it as a separate package if it is just 100 lines? I would vote for vendoring it in geopandas. It just complicates maintenance.

[2019-07-08 20:10] ResidentMario commented on #1039
`npm` has plenty of code packages that are 100 lines or less. There's less of a tradition of this in Python, but `descartes` does seem to me to be a package whose size crosses the threshold of having a feature-set large enough and complex enough to warrant being its own package.

Vendoring `descartes` would mean adding this functionality to `geopandas`, which would mean expanding the scope of the

[2019-07-09 13:48] jorisvandenbossche commented on #1039
I think the expansion of scope is quite OK (we already have quite some code for handling the plotting). Looking at the descartes code again, and factoring away the code in there that is only needed for handling non-shapely geometries or other geom types, the code we need is basically:

[code]

So if we include this functionality in geopandas, I would probably not even "vendor" descartes, but just

[2019-07-09 15:14] dzanaga opened #1051 "GeoDataFrame .loc method returns pandas Series instead of GeoSeries?"
If I select a row with .loc from a GeoDataFrame, I get out a Series instead of a GeoSeries. Is this an intended behavior?

[2019-07-09 16:49] martinfleis commented on #369
Apparently, this has been already implemented in #671 as `explode()`. I think it is a bit of issue with our documentation as it does not include it (same for `collect()` which is the opposite of `explode`). I will close this and open another issue to resolve the visibility of it.

[2019-07-09 16:49] #369 closed

[2019-07-09 16:57] martinfleis opened #1052 "DOC: Some methods (explode, collect) are missing in docs"
There are couple of methods in the code which are not included in the documentation (even though they have docstrings) like `explode()` and `collect()`. We should check which methods are missing and add them to reference guide and at least `explode()` should be included in the user guide as well.

I will do that myself, I just wanted to point out that it is happening, so we can think about possibl

[2019-07-10 12:48] martinfleis opened #1053 "ENH: add rename_geometry() method"
As @jorisvandenbossche mentioned in #1038, we should have a `rename_geometry()` method, because currently renaming the geometry column needs something like `.rename(columns={'my_geom': 'geometry'}).set_geometry('geometry')`.

It should not be complicated to do it.

I imagine something like `df.rename_geometry('new_name')` to make it as simple as possible.

[2019-07-11 02:29] jorisvandenbossche commented on #1052
I was going to ask "do you mean dissolve() instead of collect()", because I wasn't even aware of this function :-)

`explode()` should indeed certainly be added to the reference (and somewhere in the user guide ideally as well, or an example).

[2019-07-11 15:03] JimShady commented on #1003
Just come across this discussion. Using to_crs is incredibly slow in GeoPandas. Is there a recommended way to improve this? A specific version of pyproj perhaps, or have all improvements already been implemented?

[2019-07-11 15:06] snowman2 commented on #1003
@JimShady, are you using the latest version of geopandas (I believe it is 0.5)?

[2019-07-11 15:09] JimShady commented on #1003
@snowman2

    geopandas.__version__
    '0.4.1'

    pyproj.__version__
    '2.2.1'

I should update geopandas from Github?

[2019-07-11 15:10] martinfleis commented on #1003
0.5.0 is on conda-forge and PIP, you don't need to install master from GH.

[2019-07-11 15:10] snowman2 commented on #1003
You should be able to upgrade from pypi. The new version is much faster.

[2019-07-11 15:10] jorisvandenbossche commented on #1003
@JimShady can you open a new issue for this? (this issue is only about the user interface, not about the performance)

[2019-07-11 15:13] snowman2 commented on #1003
I am realizing the problem. I think there are some metadata issues on conda-forge that caused your problem. I would re-create your environment with a pin for geopandas.

[2019-07-11 15:15] JimShady opened #1055 "Install GeoPandas 5.0 from Conda"
Continuing discussion from here:

https://github.com/geopandas/geopandas/issues/1003#issuecomment-510525667

It seems I need to update GeoPandas to v.5 using Conda to improve performance of to_crs(). Could someone suggest how please?

    conda install -c conda-forge geopandas=5.0
    Solving environment: failed

    PackagesNotFoundError: The following packages are not available from current chan

[2019-07-11 15:16] JimShady commented on #1003
https://github.com/geopandas/geopandas/issues/1055

[2019-07-11 15:17] martinfleis commented on #1055
Current geopandas version is 0.5.0, not 5.0. You have to pin it as `geopandas=0.5.0`.

[2019-07-11 15:20] JimShady commented on #1055
Sorry about that. Thanks. Now installed. It's likely I'll see speed improvements of ``to_crs`` now ?

[2019-07-11 15:24] martinfleis commented on #1055
You should, there has been some work done in #962. If not, let us know. As this issue is about installing, which is now resolved I will close it. If you want to discuss `to_crs` performance more, follow @jorisvandenbossche advice and open a new issue specifically for that.

[2019-07-11 15:24] #1055 closed

[2019-07-11 22:12] jorisvandenbossche commented on #1025
Bugfix release is on pypi! https://pypi.org/project/geopandas/
(conda-forge will automatically follow shortly)

[2019-07-13 08:37] aalva14 commented on #1053
Hi I will be looking into this.

[2019-07-13 13:23] awa5114 commented on #1053
@martinfleis  Do you guys reserve issues for specific users like @aalva14 in this case or can anyone jump in and suggest a pull request?

[2019-07-13 13:41] jorisvandenbossche commented on #1053
Since @aalva14 commented first, let's give them some time to do a PR.

[2019-07-13 13:47] awa5114 commented on #1052
In an attempt to address this I tried to `make html` as the "Contributing to geopandas" part of the website suggests. Since I am cloning the `geopandas` project from my fork of the master repo, I am importing geopandas directly from my current working directory. My local clone then in turn imports supporting dependencies from a dedicated conda environment, which does not have `geopandas` installed

[2019-07-13 13:53] awa5114 commented on #1053
sounds good.

[2019-07-14 10:40] Rabscuttler commented on #1051
You will only get a GeoSeries if all values in the selected row or column are shapely geometric objects, from the docs here: [http://geopandas.org/data_structures.html](url)

So I think it is intended.

The code snippet below shows this behaviour:

`import pandas as pd`
`import geopandas as gpd`

`df = pd.DataFrame(
    {'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     '

[2019-07-14 14:08] awa5114 commented on #1006
I just brought some changes to the pull request, but have lingering problems. Any help would be very much appreciated...

[2019-07-15 18:01] #1010 closed

[2019-07-15 21:02] jorisvandenbossche commented on #1010
Sorry for not responding here earlier. The drop_duplicates test was a flaky one due to a bug in pandas (and so was randomly sometimes passing and sometimes failing, hence the XPASS or XFAIL).

[2019-07-16 09:09] martinfleis commented on #1052
You can install your forked version of Geopandas to your env, that should resolve it.

    cd D:\github_projects\geopandas
    pip install .

However, if you did not make conda env from `environment.yml` in `doc` I would recommend doing it just for generating of html. We have pinned versions of dependencies and it also includes all sphinx extensions. Actually, ideally use `environment.yml` from #1

[2019-07-16 09:19] martinfleis commented on #1051
As @Rabscuttler nicely explained, GeoSeries is "a vector where each entry in the vector is a set of shapes corresponding to one observation", so this is indeed intended behaviour. I will close this issue now, if we want to discuss it more we can always reopen.

[2019-07-16 09:19] #1051 closed

[2019-07-16 12:15] meetyg opened #1060 "Lat Long order is wrong in WKT example"
In regards to documentation of converting WKT format to geopandas GeoDataFrame, the order of LAT LONG is wrong.
See #690
In the WKT POINT, you put the Lat first, amd then Long. It should be the opposite.
When plotting the WKT example, and comparing it to the simple Long Lat example, you can clearly see that the WKT points are not placed where they should be.

From what I understand, WKT should fol

[2019-07-16 21:47] martinfleis commented on #290
Bumping up this issue as it is present again after 0.5.1 release. @jorisvandenbossche is there anything we can do about it? Ideally pointing geopandas.org to stable build on readthedocs?

[2019-07-17 14:44] martinfleis commented on #290
We will have to touch DNS records anyway. After #1063 we have got following warning:

[2019-07-17 16:35] Davidswinkels opened #1064 "Create method to access x, y values of Linestring in GeoSeries"
In the [GeoSeries class](https://github.com/geopandas/geopandas/blob/master/geopandas/geoseries.py) there is a method to access the coordinates of points (gdf.geometry.x, gdf.geometry.y) and in the [GeopandasBase class](https://github.com/geopandas/geopandas/blob/master/geopandas/base.py) there are methods to access the coordinates of polygons (gdf.geometry.exterior, gdf.geometry.interior). For Li

[2019-07-17 16:45] martinfleis commented on #1064
Can you explain a bit what would be expected output? From `gdf.geometry.x` you will get float. From `gdf.geometry.exterior` you will get LinearRings. These are not the same, LinearRings does not mean coordinates (in a sense x, y does).

[2019-07-17 16:51] Davidswinkels commented on #1064
By accessing the geometry of LineStrings I would expact an array of floats.

Now it returns:
LINESTRING (132963.5300000012 517536.5240000002, 132965.1081000008 517537.3447999991)

Expected return when accessesing the LineString as coordinates:
[(132963.5300000012, 517536.5240000002), (132965.1081000008, 517537.3447999991)]

[2019-07-17 17:02] martinfleis commented on #1064
Got it. It should not be complicated to do, as you can already use `list(gdf.geometry[0].coords)` to get your intended outcome for the first row.
I am not totally sure we want to add more geometry type-specific methods, so let's see what others think about it. For now, you can use this to get the same result as you want.

    def coords(geom):
        return list(geom.coords)
    coords = streets_

[2019-07-17 17:15] snowman2 commented on #1064
With the point method, `x` returns a single float value per row. So, you can be sure that the single value output is associated with the row. I would vote to have a different property for this use case (maybe `coords`?) for geometries that would return arrays of coordinates.

[2019-07-17 20:26] martinfleis commented on #1064
We could use `coords` for what shapely does, but that does not work for polygons. if we made it working for polygons as well, it might become confusing that `geoseries.coords` works while `geoseries[0].coords` does not (for polygon).
Keeping aside the name for a moment, this would be ideal output?

    Point: [(0, 0)]
    LineString: [(0, 0), (1, 1)]
    MultiLineString: [((0, 0), (1, 1)), ((-1, 0

[2019-07-17 20:46] snowman2 commented on #1064
It does not necessarily have to work for polygons. It can fail for that case. Then, just like shapely they could do:
`gdf.geometry.exterior.coords`/ `gdf.geometry.intterior.coords` for polygons.

[2019-07-18 13:08] rutgerhofste opened #1066 "Kernel dies when writing to geopackage"
I love geopandas however I struggle with exporting the geodataframe to a geopackage. Often, to_file works with driver = "ESRI Shapefile" but given the shapefile limitations on column number and column name length, I prefer the geopackage standards.

I'm running geopandas on a large virtual instance on AWS with 32GB of RAM and plenty of storage. However when I export a geodataframe to geopackage, h

[2019-07-19 08:57] martinfleis commented on #1066
That is really hard to debug. I quite often save geodataframes of 10x more rows and 5x more columns than you have to geopackage and I have never encountered an issue, even on a laptop with 8GB of RAM (it just takes a while). It might be caused by encoding conversion? Just guessing here, as I usually don't specify encoding so that is the only difference I can see. Have you tried letting Fiona decid

[2019-07-19 09:25] martinfleis commented on #1000
I vote for this. For GeoSeries definitely, as we have a very clear definition "_A GeoSeries is essentially a vector where each entry in the vector is a set of shapes corresponding to one observation_". I would not return Series in this case, I would raise an error as you suggested. It feels much cleaner that expecting that user actually wanted Series.
Similarly for GeoDataFrame, definition is clea

[2019-07-19 15:15] hkyq opened #1067 "Segmentation fault when running example"
My issue is that when using `projections`, I get a segmentation fault.

#### Code Sample
In a (python3) virtual env:

[code]

Then run this code (modified to find specific problem from [the example](geopandas.org/_downloads/fbe79febef9215b6b9c2eb610b2d6e4f/plotting_with_geoplot.py)):

[code]

#### Environment Information
[code]

[2019-07-19 15:25] hkyq commented on #1067
Seems like [this](https://github.com/SciTools/cartopy/issues/1285#issuecomment-473476512) fixed it, odd.

[2019-07-19 15:25] #1067 closed

[2019-07-19 19:02] galak75 opened #1068 "crs is lost when calling representative_point()"
calling `reprensetative_point()` method on a `GeoSeries` returns a `GeoSeries` without any `crs`:

[code]

[2019-07-20 05:10] yxdragon opened #1069 "ask for help "how geodataframe implemented" (any process return an geodataframe with crs)"
Hi, geopandas's devolopers, may be this question should not be asked here, but I am a little tired to find the maillist, sorry!

I am writting a ui framework for image and dataframe analysis, [ImagePy](https://github.com/Image-Py/imagepy), It support image and dataframe well, and give a friendly activity ui. So I want to write some plugin wrapper geopandas and gdal, then build a tool like arcgis.

[2019-07-20 13:16] martinfleis commented on #1068
Thanks for the report. Honestly, I have no idea why is that happening as it uses exactly the same function (`_delegate_geo_method`) as `buffer` or `simplify` and they return a crs. I can't figure it out at the moment, so if anyone is willing to dig into it, please do so.

[2019-07-20 19:40] martinfleis commented on #1052
@awa5114 Do you plan to address this issue? I have started and then stopped after you mentioned that you are working on it. Just to know whether wait or proceed.

[2019-07-26 02:14] mattijn opened #1070 "geoseries copy"
As is mentioned in the [docstring](https://github.com/geopandas/geopandas/blob/master/geopandas/geoseries.py#L230:L237) of `geoseries.copy`:

[code]

But this doesn't work:
[code]
[code]

[2019-07-26 04:46] StevenLi-DS commented on #697
I have an issue that may relate to this. I'm trying to set the midplot of a color to `0`.
[code]
![download](https://user-images.githubusercontent.com/33796896/61926338-2ed42900-af3e-11e9-91e6-46e9d940adce.png)

If I comment out the last line of code, I will get the following error.
[code]
I've tried with other matplotlib plots, like `ax.scatter`, which works fine. Am I missing something?

[2019-07-26 15:06] StevenLi-DS commented on #697
I think there should also be a `colorbar=Ture` instead of `legend=True` since the color doesn't really believe like a legend.

[2019-07-26 15:18] StevenLi-DS commented on #961
@cfrancois7 This's more like a StackOverflow question.

I believe you have to create a color yourself and then modify it for now

[code]
It seems like folks are talking about adding a abliity for this kind of control by adding a `colorbar_kwds`: https://github.com/geopandas/geopandas/issues/697

[2019-07-26 15:34] StevenLi-DS commented on #697
I encounter this quite often that folks seek a way to set the midpoint of a colorbar to `0`. Please consider adding an arg in the `olorbar_kwds` like `dict(center=0)` or something to support this:

[code]
![download](https://user-images.githubusercontent.com/33796896/61963146-0299c600-af99-11e9-9ec0-15ff4dac7168.png)

[2019-07-27 02:46] bahaugen commented on #1068
What version of the library are you using? I ran the same commands using v0.5.1 and I couldn't reproduce the error.

[code]

[2019-07-27 09:56] martinfleis commented on #1068
@bahaugen can you post your `conda list`? I have 0.5.1 as well and I can reproduce it. With 0.5.1, 0.5.0 even 0.4.0. I would like to know what could cause it, as version of geopandas is clearly not.

[2019-07-27 12:08] bahaugen commented on #1068
Hmm, that is interesting. Here is the conda list of my environment.

[code]

[2019-07-27 13:14] martinfleis commented on #1068
Thanks. However, this is beyond my knowledge. I can replicate the behaviour in the Conda env generated this way  `conda create -n gp -c conda-forge -c defaults --override-channels python=3 geopandas` on all macOS, Linux and Windows. And there is basically no difference between environment generated by this command and the one you listed above. I have no clue. `buffer` works, using the exactly the

[2019-07-27 18:54] bahaugen commented on #1068
Short Version: I think this is fixed on the master branch but not on the 0.5.x branch

Long Version:
When I was running the code above I was in the directory of my local copy of the geopandas repo. When I imported geopandas it was checking my current directory for libraries and found the master branch of the geopandas repo. I think the relevant code was changed in #993 which has been merged into m

[2019-07-27 20:33] martinfleis commented on #1068
Confirmed. Apology not needed, you actually resolved the issue! Thank you!

I confused myself as well by looking at the code on master and not seeing the reason for this behaviour.

Thank you @galak75 for reporting and @bahaugen for resolving. Closing now as it is already fixed in master by #933.

[2019-07-27 20:33] #1068 closed

[2019-07-28 09:52] martinfleis commented on #697
We can think about adding keywords for controlling this behaviour, feel free to draft a PR.

Regarding your example, personally I would not add it to docs, but we can make an example out of it. However, not in a way you showed as color scheme is not the same in blues and reds (dark blue is much more extreme value than dark red), so the map is slightly misleading in this case.

[2019-07-28 17:17] StevenLi-DS commented on #697
@martinfleis Could you label this issue as PR wanted and or something?

[2019-07-29 15:24] galak75 commented on #1068
Very good news!!
@martinfleis, @bahaugen : Thank you a lot for digging into it !
:1st_place_medal:

[2019-07-30 10:38] HTenkanen opened #1074 "Spatial join error after using `explode()`"
@jorisvandenbossche There is a specific situation that produces an error with `.sjoin()`.

I receive a following error:
[code]

I was able to narrow this down, and the error only happens after using `df.explode()` function to turn MultiPolygons into multiple Polygons.

Here is an example to produce the error using some data from OSM:
[code]

The solution for fixing this was to `reset_index()` afte

[2019-07-30 11:52] jorisvandenbossche commented on #1074
Thanks for the reproducible example!
The `explode` method results in a geodataframe with a MultiIndex, and this seems to result in that failure. So resetting the index is indeed a good workaround for now. We should look in general at how MultiIndex is supported (or not) in spatial join.

[2019-07-31 09:58] harmbuisman opened #1075 "Colors provided to plot color argument do not match patches"
A geopandas dataframe has the option to plot the frame. This also has a color argument which can be provided a list of colors.

The colors do however not match the patches in each row, even though the list of colors provided is the same length as the number of rows in the geopandas data frame.

Running the following code using the attached geojson file in [bug_df.zip](https://github.com/geopandas/

[2019-08-01 20:29] jorisvandenbossche commented on #1000
Yes, I think that is indeed a problem if we would want to make GeoDataFrame strict.
I think the pattern is something like `geopandas.GeoDataFrame(data_without_geometry).set_geometry(geometry_data)` (while people should rather do `geopandas.GeoDataFrame(data, geometry=geometry_data)` in this case). Is that correct?

But I agree that for GeoSeries it should be easier to be strict.

The main issue th

[2019-08-02 01:55] StevenLi-DS commented on #991
@martinfleis I keep seeing folks getting errors due to the misspecification of the lat and lon order. Any way `lat` and  `lon` can be added as args in the function?

[2019-08-02 08:41] martinfleis commented on #991
@StevenLi-DS looking back to this issue and related discussion, we have decided to add a doctrine explaining `lat` `lon` vs `x` `y`, but it never happened. Do you think it would be enough to put it there? I hoped that example in documentation is clear enough: `geopandas.points_from_xy(df.Longitude, df.Latitude)`.

I don't want to use `lat` `lon` instead of xy for the reasons listed and linked abov

[2019-08-02 14:38] awa5114 commented on #1052
I would like to work on it, but if it is something which needs to be fixed immediately I don't want to be an obstacle. I am new to making contributions and trying to finish off this one https://github.com/geopandas/geopandas/pull/1009 first.

In any case if you don't mind leaving it to me I will get to it ASAP.

[2019-08-02 14:40] martinfleis commented on #1052
@awa5114 no rush, this is just documentation, nothing crucial. It is yours :). Thanks!