[2022-06-15 15:56] msumon94 commented on #2372
@brendan-ward  thank you very much

[2022-06-16 14:05] martinfleis opened #2465 "Gohlke's wheels will be discontinued before July 2022"
Hey,

I just noticed that [Gohlke's wheels will be discontinued before July 2022](https://www.lfd.uci.edu/~gohlke/pythonlibs/). Once that happens, it will significantly affect installation of fiona on Windows for `pip` users. I think that this may even be seen as a bit of emergency situation on our side.

One option would be to try to port wheel building infrastructure from pyogrio to fiona but I

[2022-06-16 16:11] jorisvandenbossche commented on #2465
I always had the idea that the work we did for pyogrio should be ported to fiona as well (we put a lot of effort in it, and we should ensure we benefit as much as possible from that). I also mentioned this already in Fiona (https://github.com/Toblerity/Fiona/discussions/1073#discussioncomment-2484730). I have been thinking to at least do a first step myself at some point (do a first basic port, an

[2022-06-16 18:45] martinfleis commented on #2465
I think we need at least one IO engine as a default dependency and depending on the state of Fiona wheels, we may want to have pyogrio there in 0.11.

[2022-06-17 02:26] emaildipen opened #2466 "conda install pygeos error"
Everytime I tried to install the following message shows up
The following packages are causing the inconsistency:

  - conda-forge/noarch::earthengine-api==0.1.249=pyh44b312d_0
  - conda-forge/noarch::geeadd==0.5.4=pyhd8ed1ab_0
  - conda-forge/noarch::geemap==0.7.9=pyh9f0ad1d_0
  - conda-forge/noarch::google-api-core==1.26.2=pyhd8ed1ab_0
  - conda-forge/noarch::google-api-python-client==2.0.2=pyhd

[2022-06-17 11:34] Franc-Brs commented on #2375
hi @adrien-berchet and thank you for your answer!

I post here the traceback that I have with GeoAlchemy2==0.12.1 (with 0.10.2 it is ok). If it's not an error of mine I'd like to open an issue of course :)

<details>
<summary>traceback</summary>
<pre>
web_1  | Traceback (most recent call last):
web_1  |   File "/usr/local/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1819, in _execu

[2022-06-17 12:04] adrien-berchet commented on #2375
Hi @Franc-Brs
I changed a lot of things regarding the reflection mechanism of spatial tables in `GeoAlchemy2==0.12` and how it interacts with Alembic, so it's quite expected that a few things might break. In your case, I suspect that the migration script creates the table or the column without the flag `spatial_index=False`. So the column is created, an index is automatically created with it, and

[2022-06-17 12:18] Franc-Brs commented on #2375
Ok, thank you. I'm not quite sure where I should put the declaration of the bool `spatial_index`. here you can find my [`env.py`](https://github.com/Franc-Brs/flask-ol-postgis/blob/main/services/web/migrations/env.py) and [`alembic.ini`](https://github.com/Franc-Brs/flask-ol-postgis/blob/main/services/web/migrations/alembic.ini): I added one line to alembic.ini and some functions to env.py in orde

[2022-06-17 12:27] adrien-berchet commented on #2375
Ah sorry I should have been more explicit, the `spatial_index=False` should be in the migration script (from your traceback it should be in `/usr/src/app/migrations/versions/c7707dc7c45a_.py`).
Anyway, `GeoAlchemy2==0.12.1` provides [Alembic helpers](https://geoalchemy-2.readthedocs.io/en/latest/alembic_helpers.html) to be used in migration scripts and there are also hpers to [auto-generate migrat

[2022-06-17 14:05] Franc-Brs commented on #2375
ok thank you for the link to docu and for the insight. I was able to run the stack without error and with the latest `GeoAlchemy2` release by adding the spatial index bool value (to `False`) in my `models.py`. I will dive in the links that you provided asap: I noticed that when I try to use the helpers as explaind (importing in the env.py)

<details>
<summary>traceback</summary>
<pre>
web    | Tra

[2022-06-17 15:44] adrien-berchet commented on #2375
Ok, that's a good first step then :-)
For your error, I realize that the doc is wrong... The `include_object` was removed and is not needed anymore. I created a PR to fix the doc: https://github.com/geoalchemy/geoalchemy2/pull/386. You can already check there the (hopefully) correct snippets for Alembic.

[2022-06-17 19:34] latot opened #2467 "ENH: Support MySQL/MariaDB"
Hi, actually geopandas support postgis, I think would be great to have support for MySQL/MariaDB.

- ```to_mysql```
- ```from_mysql```

I try uploading data with the postgis function, so I can confirm it does not works.

Thx!

[2022-06-17 22:13] martinfleis commented on #2445
Duplicate of #2467

[2022-06-17 22:13] #2445 closed

[2022-06-17 23:53] latot commented on #2445
D: @martinfleis sorry!, I didn't found the issue, and even I forgot I made it! thx for closing it.

[2022-06-20 14:38] martinfleis commented on #2338
I'll close this as the link on `stable` will fix itself when we cut a release.

[2022-06-20 14:38] #2338 closed

[2022-06-21 10:46] m-richards commented on #2465
We now have the 0.11 release which mentions that pyogrio can be used instead of fiona, but we don't actually tell a windows user how they could actually use this information in practice (we still require fiona in the setup.py so `pip install geopandas` will try and build the fiona wheel from source).

A quick test, `pip install pandas shapely pyproj packaging pyogrio pygeos; pip install --no-deps

[2022-06-21 14:03] CNFeffery opened #2469 "0.11.0 still can't be installed from conda-forge"
the latest version `geopandas` is still `0.10.2`:

https://anaconda.org/conda-forge/geopandas
![image](https://user-images.githubusercontent.com/49147660/174818898-361515ae-15a7-4b71-b383-4f8731bca261.png)

[2022-06-21 14:13] martinfleis commented on #2469
We know. It is in progress, conda-forge has some delays currently.

[2022-06-22 00:52] #2469 closed

[2022-06-22 13:54] jorisvandenbossche opened #2471 "Setting color in explore() with color="r" doesn't show anything"
[code]

works, but doing `color="r"` (which you might expect to work from matplotlib) actually makes nothing shows up.

Don't know if this is something on our side or folium, but if it is not a valid color, an error would also be nice.

[2022-06-22 14:48] martinfleis commented on #2471
We just pass it through and I believe that folium also just passes it through to leaflet, which then doesn't recognise `'r'`as a valid colour but the error is not propagated all the way back to us. I think that none of these single character shortcuts work, so we may catch it on this basis and raise an error before it gets passed elsewhere.

[2022-06-23 01:42] RichardScottOZ commented on #1724
Have come across this problem, nothing else had worked, will try the above, thanks.

[2022-06-23 02:18] RichardScottOZ commented on #1724
In this particular example (45K polygons)

GEOSException: IllegalArgumentException: Cannot compute the quadrant for point (0,0)

[2022-06-23 11:38] b-y-f opened #2472 "QST:When covert From NZGD49 to 4326 coordinate float away"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

#### Question about geopanda

[2022-06-23 13:30] b-y-f commented on #2472
It seems like the shape file they gives us are incorrect 🤣

[2022-06-23 13:30] #2472 closed

[2022-06-24 14:43] sutanAE opened #2476 "ENH: explode lines into segments"
#### Is your feature request related to a problem?

QGIS has the feature "[explode lines](https://docs.qgis.org/3.22/en/docs/user_manual/processing_algs/qgis/vectorgeometry.html#explode-lines)" which creates segments for each line in the feature. This is different from ```GeoDataFrame.explode()``` that converts the multi-parts geometries into single parts. I've been encountering linear referencing

[2022-06-24 18:26] martinfleis commented on #2476
Hi,
this would surely be a valuable enhancement! I would probably wait for the 1.0 release that will depend on shapely 2.0 and allows us to avoid that for loop using [`get_coordinates`](https://shapely.readthedocs.io/en/latest/coordinates.html#shapely.coordinates.get_coordinates) and vectorized operations.

[2022-06-24 21:17] martinfleis commented on #2465
Update: the Gohlke's page now says "Archived" but seems to be still available. No idea for how long.

[2022-06-25 12:00] rraymondgh commented on #2476
You can achieve quite simply using a **list comprehension** and `explode()`.  Code below shows with **pandas** and **geopandas** explode.  Clearly to @martinfleis comment this is a looping solution,  would be better done as vectorised solution when **shapely 2.0** is available. Generally I would have thought it would be better to retain index of row that provide *LineString* that has become segmen

[2022-06-25 14:56] rraymondgh commented on #2471
I've checked down call stack,  replacing `red` with `r` means nothing shows.  Additionally at **leaflet** level, there are now errors in the console. Hence no oppertunity to propagate an error back.  Changing `explore()` to validate / modify color abbreviations for folium / leaflet I think is inappropriate.  Could add some notes to documentation, however I have not found an appropriate link defini

[2022-06-26 07:17] MohammadForouhesh commented on #1353
That's right, most of the time the error is caused by GeoPandas strict rules for data types.

[2022-06-26 16:23] rraymondgh commented on #2471
Looking at matplotlib have found

[code]

it would be simple to use `c = matplotlib.colors.to_hex(c) if matplotlib.colors.is_color_like(c) else c` in `explore()` if color is a string and not a column.  Leaves color logic to libraries **geopandas** depends on and means `plot()` and `explore()` work more consistently with `color` parameter.  I'd appreciate some thoughts on https://github.com/geopand

[2022-06-26 16:58] martinfleis commented on #2471
Thanks for the exploration, this looks like a nice solution given `explore` already depends on matplotlib anyway.

#2408 is on the to-do list. But please fix this in a separate PR if possible. Thanks!

[2022-06-27 14:32] paumillet opened #2478 "BUG: AttributeError about datetimelike values when reading file with Fiona engine"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas (on the date of issue, last version is 0.11.0).

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how t

[2022-06-27 22:48] m-richards commented on #2478
Thanks @paumillet (and @martinfleis for tagging me)

This is happening because the datetime data in the source file contains mixed timezone offsets and so doesn't fit into the pandas datetime model
[code]
I guess we can fall back to object dtypes in this case

[2022-06-28 08:02] jamescrowley opened #2480 "BUG: NaN now None when calling df.apply? (0.10.2 -> 0.11)"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of geopandas.

---
y information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Previously when our lambda inside apply returned NaN, the result of `apply` was NaN for all rows. When upgrading to 0.11, it now r

[2022-06-28 12:39] jamescrowley commented on #2480
@martinfleis much appreciated :)

[2022-06-28 12:55] paumillet commented on #2478
It was indeed the behavior in previous versions of geopandas, I feel it was better than raising an error!
Thanks for having a look

[2022-06-30 00:20] vectorcrumb opened #2481 "QST: Enabling KML support in Fiona"
- [X] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

I'm trying to load a KML fil

[2022-07-03 05:36] Zeroto521 opened #2483 "ENH: `geopandas.tools.(geocode|reverse_geocode)` handles rate-limiting problem more flexible"
#### Is your feature request related to a problem?

Currently, `geopandas.tools.(geocode|reverse_geocode)` handles rate-limiting problem use `_get_throttle_time` method.
https://github.com/geopandas/geopandas/blob/28462f8e7fd893e01be52f444e142a1a00c36f8e/geopandas/tools/geocoding.py#L63-L65

This function is based on the provider returning a fixed time.
Except for `Nominatim`, the throttle time of

[2022-07-03 06:14] martinfleis commented on #2483
That sounds like a much better solution than we have. Can you try to draft a PR?

[2022-07-05 07:19] iboates opened #2485 "BUG: Creating an alternate geometry column using a list will probably stop working soon"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-06 10:17] benoit9126 opened #2486 "BUG: Maximum recursion depth reached in `_geodataframe_constructor_with_fallback`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-06 10:48] m-richards commented on #2486
Hi @benoit9126, thanks for the report (and minimal example to reproduce), I can confirm this is the case, and also that it is a regression introduced in 0.11. We'll add it to the list for a bug fix release.

[2022-07-06 11:40] benoit9126 commented on #2434
I am also interested in such feature available from geopandas.

As far as I understand, the `STRTree` C++ implementation of `geos` does not have a `k_nearest_neighbours` or an equivalent method. See [documentation](http://libgeos.org/doxygen/classgeos_1_1index_1_1strtree_1_1STRtree.html). Thus, the feature is not available in `pygeos` `STRTree` class and then not available directly in GeoPandas vi

[2022-07-06 12:16] brendan-ward commented on #2434
This is on hold until k nearest neighbor functionality is available in GEOS.  It is implemented in [JTS](https://locationtech.github.io/jts/javadoc/org/locationtech/jts/index/strtree/STRtree.html) (from which many GEOS algorithms are derived), so it is primarily waiting on that to be ported from JTS to GEOS.

[2022-07-07 10:11] MordorianGuy commented on #1179
Could this behavior be noted at least in the documentation on the official site up until then it is fixed?

[2022-07-08 07:11] CNFeffery opened #2487 "BUG: parameter encoding not work when engine='pyogrio'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-08 10:54] jorisvandenbossche commented on #2487
@CNFeffery Thanks a lot for the report!
Would you be able to create a small file that reproduces the issue and upload it here? (or post the code to create such a file)
That will make it easier to test this / test a possible fix.

We should be passing the `encoding` keyword to `pyogrio`, but it seems that we have some logic for `encoding` there where we _first_ try to use the encoding inferred from

[2022-07-08 11:35] jorisvandenbossche commented on #2486
A even a bit smaller reproducer (just to better understand where the issue is coming from, the minimal example to reproduce was already great!):

[code]

While looking into this, I also noticed some other regressions (note that the below are not really "valid" GeoDataFrames, I accidentally created a GeoDataFrame with two object dtype columns (not geometry dtype), so this is very much a corner case

[2022-07-08 11:46] jorisvandenbossche commented on #2486
This patch seems to do the trick:

[code]

So that we basically assume that if you have a MultiIndex, there is by definition never a column exactly called "geometry" (and thus we don't have to access that data to try to convert it to a array of geometry dtype). We actually already had a comment there about recursion.

This fixes my simpler case, and also seems to fix the original reported case.

[2022-07-09 07:48] oderofrancis opened #2489 "ENH:"
#### Is your feature request related to a problem?

I wish I could use geopandas to merge data which has geometry and which doesn't have a geometry, for same columnname.

#### Describe the solution you'd like

[this should provide a description of the feature request, e.g. "`GeoDataFrame.foo` should get a new parameter `bar` that [...]", try to write a docstring for the desired feature]
'''merge_d

[2022-07-09 14:15] brendan-ward commented on #2489
@oderofrancis Do you mean joining on a non-geometry column?  Than can be done in the same way as [pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html):

[code]

If you meant something else, please reopen this issue and add more information here.

[2022-07-09 14:15] #2489 closed

[2022-07-11 02:55] iamtekson opened #2490 "BUG: Exporting df as a ESRI shapefile error: Object of type 'float' has no len()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The problem is occurred when the column name is an `float` type. Below is the Traceback,

[2022-07-11 02:57] iamtekson commented on #2490
Hi, I send the PR(#2491) for this issue. I hope it can be merged.

[2022-07-11 09:07] Zeroto521 opened #2492 "BUG: `GeoSeries` constructor will change the CRS of inputting data"
- [ ] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-12 16:49] benoit9126 opened #2493 "BUG: CRS lost after merge"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-14 15:57] TomAugspurger opened #2495 "BUG: Can't set parquet version in `GeoDataFrame.to_parquet`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

The `version` argument in `to_parquet` clashes between the geoparquet version and the parquet file format version.

#### Code Sample, a copy-pastable example

[code]

[2022-07-14 16:01] jorisvandenbossche commented on #2495
Ah, good catch, that was an oversight when we added that keyword.

That sounds good.

Yeah, indeed, the version numbers shouldn't overlap I think, so that should allow us to infer when a deprecation warning should be raised.

cc @brendan-ward

[2022-07-14 16:24] brendan-ward commented on #2495
Yeah, that was an oversight, and hopefully not a keyword that has been used heavily.  It seems like in this case geopandas-specific keywords should be additive rather than duplicative to the underlying `write_table` / `write_feather` functions.

Once (if?) the GeoArrow schema diverges from the GeoParquet, it seems like we would not want to use `geoparquet_version` for the `to_feather` method.

Wha

[2022-07-14 18:44] jorisvandenbossche commented on #2495
I don't know if we have any intention to do so, but even then, it's a bit strange to use "geoparquet_version" for a non-parquet method. So using a different name like `schema_version` is indeed better (or `metadata_version`, `geo_metadata_version`, ...)

[2022-07-14 18:50] brendan-ward commented on #2495
I'd prefer `schema_version` because it encapsulates both the metadata and the geometry encoding.

[2022-07-14 21:57] TomAugspurger commented on #2495
`schema_version` sounds good to me too.

[2022-07-16 09:23] m-richards commented on #2493
Hi Benoit, thanks for the report, I can confirm this behaviour. Yet to dig into the details but likely to do with how pandas calls .__finalize__ after a merge. In lieu of a fix for now, a simple workaround is to use the merge method on a GeoDataFrame:
[code]

[2022-07-16 19:57] #2495 closed

[2022-07-16 20:05] jorisvandenbossche commented on #2493
I was going to say: I don't see this behavior locally, both with the latest main (basically 0.11 release) as with geopandas 0.10.2.
But so it appears I was still using pandas 1.4.1 in my dev environment (and 1.3.5 together with gpd 0.10.2), and after updating to 1.4.3, I can now see the bug.

[2022-07-16 20:27] jorisvandenbossche commented on #2485
@iboates it will actually still work fine, so you will not have to change anything. I know a warning is raised, and that's annoying / confusing. But the _result_ will actually still be the same with the next version of Shapely (which makes the warning even more confusing here).
(and constructing the GeoSeries explicitly is indeed a way to not have the warning right now, and is also perfectly fine

[2022-07-17 12:08] jorisvandenbossche commented on #2493
I opened a PR to pandas to fix this: https://github.com/pandas-dev/pandas/pull/47762

[2022-07-18 09:05] benoit9126 commented on #2493
@jorisvandenbossche @m-richards Thanks a lot.

[2022-07-18 22:47] #2486 closed

[2022-07-18 23:40] khushi02 opened #2499 "BUG: Invalid projection error when setting CRS to EPSG:4326"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-07-19 02:57] mroeschke opened #2500 "BUILD: importing geopandas 0.11.0 on MacOS causes dlopen ImportError"
- [x] I have read the [documentation on installation](https://geopandas.org/install.html) and followed the instructions provided.

- [x] I have looked through [issues labeled "installation"](https://github.com/geopandas/geopandas/labels/installation) in the geopandas repo.

- If your issue is related to installation using the `conda-forge` channel, please open an issue in [geopandas-feedstock repo

[2022-07-19 06:54] martinfleis commented on #2499
This is not a bug, this is an incorrectly installed `pyproj` library. How did you install geopandas and pyproj?

[2022-07-19 10:19] jorisvandenbossche commented on #2500
Ah, I see the backport PR is failing (although not the other ones ..): https://github.com/pandas-dev/pandas/runs/7399157018?check_suite_focus=true#step:6:77
I commented about this at https://github.com/conda-forge/libwebp-feedstock/pull/39#issuecomment-1188869308

Going to close here, as this is a conda-forge issue, not a geopandas one.

[2022-07-19 10:19] #2500 closed

[2022-07-19 15:30] khushi02 commented on #2499
I used conda-forge to install geopandas and pygeos. I did not install pyproj independently. Specific command: `conda install -c conda-forge geopandas=0.11.0`

[2022-07-19 16:49] mroeschke commented on #2500
Thanks for addressing quickly @jorisvandenbossche!

[2022-07-19 21:44] dazza-codes commented on #621
[code]
Then try using `geopandas` to read it again.

[2022-07-20 06:23] martinfleis commented on #2499
@snowman2 do you know what could be causing this?

[2022-07-20 11:35] jpm5375 opened #2501 "GeoDataFrame explode with non-default active geometry name"
I'm running into an issue when calling explode on a geodataframe with an active geometry named something other than "geometry". After looking through the source code, this seems to be because the active geometry is renamed to "geometry"; however, `_geometry_column_name` does not get updated.

Example:
[code]
A workaround is to call `gdf.set_geometry(gdf.geometry.name, inplace=True)` after the call

[2022-07-20 11:41] jpm5375 commented on #2501
[code]
Installed as `conda create -n test-geopandas -c conda-forge geopandas`

[2022-07-20 12:09] snowman2 commented on #2499
It looks to me like `conda activate <env name>` needs to be run to properly setup the conda environment.

[2022-07-20 12:12] martinfleis commented on #2501
Thanks! I actually wasn't on main (my bad). This is a regression introduced in 0.11.0, the older 0.10.2 works correctly.

[2022-07-20 16:09] khushi02 commented on #2499
`conda activate <env name>` just allows me to operate within the virtual environment, which I have already run.

[2022-07-20 16:14] danlewis85 opened #2502 "BUG: OutOfBoundsDatetime on read of faulty datetimes"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of geopandas.

- [x ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example
Expected behaviour converting 'fully corrupt' datetime to NaT.
[code]
Unexpected(?) behaviour erroring 'partially corrupt

[2022-07-20 17:12] snowman2 commented on #2499
Can you provide the output of:
[code]
[code]

[2022-07-20 18:26] jorisvandenbossche commented on #2499
(and maybe also a `conda list`)

[2022-07-20 18:47] jorisvandenbossche commented on #2444
Given that we have a few regressions, we should try do a 0.11.1 bug fix release sooner rather than later.

There are currently three open issues remaining, each with an open PR: https://github.com/geopandas/geopandas/milestone/21
Once those are merged, let's cut 0.11.1 (we just need one additional PR to update the release notes date / cleanup)

[2022-07-20 20:33] khushi02 commented on #2499
Here is the output of `conda list`:
[code]

Here is the output of `pyproj.show_versions()`:

[code]

Here is the output of `geopandas.show_versions()`:
[code]

[2022-07-21 00:46] snowman2 commented on #2499
Based on the location of the data directory, I am assuming that you have a different version of PROJ in your root environment that is being discovered. After activating your conda environment, what is the value of the environment variable PROJ_LIB?

[2022-07-21 00:55] khushi02 commented on #2499
I just checked and PROJ_LIB is not an environment variable in this virtual environment.

[2022-07-21 14:26] cyrchi commented on #1265
I ran into this problem as well. My use case is counting crashes (points) in census tracts (polygons), and I discovered that using ```sjoin``` predicate="within" was undercounting crashes and predicate="intersects" was overcounting crashes, presumably because some of the crashes are right on the boundary of multiple census tracts.

Perhaps this is helpful: googling around, I discovered an old [ESR

[2022-07-21 15:22] AI-Tax opened #2504 "BUG: CPLE_AppDefinedError: SQLite error on SELECT, cannot read the dbf/shp after installing in a separate environment -"
- [OK ] I have checked that this issue has not already been reported.

- [ OK] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---
[code]

#### Problem description
Hi All - first of all: I've checked literally all the solutions for the problem that are online accessible (spent more than 10 hou

[2022-07-21 15:30] brendan-ward commented on #1265
@cyrchi you can first do `sjoin_nearest` then apply additional predicates to the pairs of geometries from your source and target data frames to further filter the results to remove those that only intersect at the boundary, or use a centroid (or some other representative geometry) of your source and target geometries and take the one with the least distance per source (left) geometry.

We'd have t

[2022-07-21 15:56] AI-Tax commented on #2439
Hi @DanielIAvila I have exactly the same problem, after reading tons of topics online I think everything should go well. Could you please let me know if you managed to solve the issue?

@jorisvandenbossche yes, this code raise an error as well.

[2022-07-21 16:06] DanielIAvila commented on #2439
Noup. The problem continues, very annoying to be honest. I have to finalize the analysis with QGIS + SQL. I hope the @geopandas team can solve this ASAP.

[2022-07-21 16:10] AI-Tax commented on #2439
@DanielIAvila thanks for a hint what to use as a workaround! I spend more than 10 hours trying to solve the issue and read literally the whole Internet - including going deeper into the source code of pyproj and fiona... Keeping my fingers crossed for the geopandas team as well!

[2022-07-21 16:28] brendan-ward commented on #2504
@AI-Tax those are quite old versions of some of the dependencies to install in a new conda environment, are you specifically pinned to those?  Are you able to create a new conda environment with the latest versions of those?

You could also try using `pyogrio` to read the shapefile:

`conda install pyogrio pygeos`

Then in Python:

[code]

(because the version of Geopandas in your env is too old;

[2022-07-21 16:48] brendan-ward commented on #2504
This might work (I'm not a conda expert!); it worked for me to read a local shapefile on MacOS 10.15 (using miniconda):

[code]

This gives me the latest versions:

[code]

[2022-07-21 17:10] AI-Tax commented on #2504
@brendan-ward once again thanks for your support! Unfortunately, the commands are executed but after
`conda list`
I receive...
[code]

the first one is - I suppose - the old one that can be easily removed with
`conda uninstall geopandas`

But it is surprising that also geopandas-base is installed in the version of 0.9.0.... I suppose the reason is I am using Wind10 (the worst env ever for data sci

[2022-07-21 17:19] martinfleis commented on #2439
To clarify, this is not a bug in geopandas and we are unable to change this behaviour. If there is something to be done, it should be done in pyproj.

Also, the issue #2504 @AI-Tax opened and probably refers to here, is a different one. That one is related to fiona and again, if there is something to be done, it is in fiona.

However, I believe that none of these are bugs in these packages but ins

[2022-07-21 17:21] martinfleis commented on #2504
@AI-Tax Your geopandas is not coming from the `conda-forge` channel. Try following [our documentation ](https://geopandas.org/en/stable/getting_started/install.html#creating-a-new-environment) and creating a new environment using strict channel priority.

[code]

[2022-07-21 22:21] AI-Tax commented on #2504
@martinfleis you are a genius!!!!! This solved my problem, after - I think - 20 hours of trying to solve that issue. I am really grateful and hope this topic can help people in the future:) Thanks guys for the great job you are doing here, it is simply amazing!!!!

[2022-07-22 05:34] #2504 closed, assigned to nobody

[2022-07-22 16:19] snowman2 opened #2506 "ENH: from_features - allow not passing in "properties""
https://github.com/geopandas/geopandas/blob/5c8ae832e030228b5deec02588c4e1b78dee0f18/geopandas/geodataframe.py#L651

It checks if `properties` is None. Any issues changing it to feature.get("properties") so this scenario could be supported:
[code]

[2022-07-24 07:08] #2480 closed

[2022-07-24 09:10] #2478 closed

[2022-07-24 09:11] #2501 closed

[2022-07-24 10:44] #2502 closed

[2022-07-24 11:24] jorisvandenbossche commented on #2444
Tagged 0.11.1 -> https://github.com/geopandas/geopandas/releases/tag/v0.11.1

[2022-07-24 11:45] martinfleis commented on #2444
Thanks!

[2022-07-24 21:57] nicosacco opened #2509 "BUG: Dissolve might not preserve ordering when building new geometry"
#### Problem description

If you have  a geopandas dataframe lake the one below:
[code]
and you apply `dissolve("user")` on it, the resulting multipoint does not preserve the order given by the rows:
[code]

#### Expected Output

The output should preserve the ordering given by the rows within each group.

#### Output of ``geopandas.show_versions()``

<details>

SYSTEM INFO
-----------
python

[2022-07-25 07:19] m-richards commented on #2057
This was fixed by #2497

[2022-07-25 07:19] #2057 closed

[2022-07-25 16:24] ozzalel commented on #2372
Hi, just ran into thie issue myself, including seeing pygeons on pip list and not seeing it on geopandas.show_versions().
I've installed pygeos using pip install, but I guess I've updated gepadnas using
`conda install -c conda-forge geopandas=0.10`
The solution was pip uninstall pygeos and then installing pygeos using conda forge
`conda install pygeos --channel conda-forge, from the geopandas docs

[2022-07-25 19:41] brendan-ward commented on #2509
@nicosacco I think this is expected; under the hood dissolve performs a unary union, which is a substantive modification of the input geometry.  The order of sub-geometries in the resultant geometry collection (MultiPoint in this case) is based on what GEOS produces; I wouldn't be surprised at all if GEOS first reorders input geometries to optimize the unary union operation, which is fairly comput

[2022-07-26 15:14] sjabarnia commented on #2372
I'm having the same problem, pygeos is installed but geopandas fails to use it.

Following the steps in this [notebook](https://gist.github.com/brendan-ward/245727ecaf511f742c0e3be9de8fa030) :

[code]

Still when trying to use sjoin_nearest, I get this error:

[2022-07-26 15:18] martinfleis commented on #2372
@sjabarnia have you tried the solutions described above?

[2022-07-26 18:34] ZeroCool2u commented on #1027
Just want to mention this really tripped me up recently. All of our data is read in from GDB files that have a CRS explicitly set and we re-save them as geojson just after reading them in for compatibility reasons. We were working on trying to load some of these geojson files into Snowflake recently, which strictly follows the GeoJSON spec. We only realized that our data wasn't automatically re-pr

[2022-07-27 03:54] mwtoews opened #2510 "ENH: passing on sindex to objects that have same geometry array"
#### Issue

A spatial index aka "sindex" property should be preserved and passed down to copies of objects that have the same geometry array.

For instance, using the [`has_sindex` examples](https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoSeries.has_sindex.html) shows how a GeoDataFrame checks and creates `sindex`:
[code]
firstly, here are some examples where `sindex` is kept:
[cod

[2022-07-28 18:52] brendan-ward commented on #2510
My first instinct is that with pygeos / shapely 2.0, it is relatively quick to create an sindex, and I'm concerned that either the implementation complexity (developer time) or performance impact of getting the equality checks in place would be greater than the performance hit of generating the sindex again.

[code]

Maybe there is a faster way to do the equality check than the above?

I think the

[2022-07-28 19:52] martinfleis commented on #2510
I am with @brendan-ward here. The timings for polygons are slightly different but the overall story is still the same.

[code]

It is 50x faster to create the index than to check for equality of arrays.

[2022-07-28 21:26] mwtoews commented on #2510
Thanks for adding some metrics to the discussion, and I'll agree that checking geometry equality is much more expensive than generating sindex. Perhaps there are two things to consider:

1. Only consider very simple cases where sindex could be passed on, like `copy()` (any others?)
2. Checking two indexes (size and order) should be cheaper than creating sindex, so consider passing on sindex if the

[2022-07-29 09:55] m-richards commented on #1653
I think this can be closed as a consequence of the changes in 0.11 (but it's not tested in a direct sense). `geopandas/tests/test_op_outputs_types.py` ensures that slices / drop column subsets of geodataframes become dataframes, and thus cannot write to file with the GeoDataFrame to_parquet method - it will be the pandas one instead.

[2022-07-29 10:27] m-richards commented on #1027
Hi @ZeroCool2u, thanks for the feedback on this. We are hopefully (finally) going to merge #416 in an upcoming release which will will add `to_wgs84` as a keword argument to `to_json` and the default behaviour (`to_wgs84=None`) will be not to project, warn that this is not compliant with the GeoJSON spec and indicate that in future the default behaviour in geopandas will be to project to WGS84.

(

[2022-07-29 11:24] #1653 closed

[2022-07-30 09:57] forestbat opened #2511 "QST:How to get a correct group in my geopandas project?"
I'm making a project which find the nearest linestring(simulate a river) to points or a single point,looks like this:
[code]

And it looks like this in intellij idea:

![图片](https://user-images.githubusercontent.com/23413915/181905193-c7813b92-f276-4763-ba20-4703e224a95d.png)

I want to group the dataframe by linestrings to insert points,like this:
[code]

So that I can snap linestring1 to point 1

[2022-07-30 15:59] nicosacco commented on #2509
Hi! Thank you for the detailed information and the clarification. In the end, I used standard `groupby` with `list` as aggregation function, on top of which I applied the transformation to the desired geometry.

[code]

What I found confusing is that `dissolve` is based on `groupby`, which specifies that the order is preserved. I get that the problem is not on the aggregation rather in the geometr

[2022-07-30 18:06] martinfleis commented on #2509
Can you make a PR clarifying the actual behaviour?

[2022-07-31 21:01] brendan-ward commented on #2511
It looks like your viewer is showing the `dtypes` property of the groupby object, not the actual results.

My suggestion is to install `pygeos` and try [sjoin_nearest](https://geopandas.org/en/stable/docs/reference/api/geopandas.sjoin_nearest.html)

This gives the nearest line(s) per point; multiple lines if they are equidistant or intersecting the point:

[code]

(the `geometry` field of the line

[2022-08-01 07:05] forestbat commented on #2511
@brendan-ward Thanks for your reply，now I will close this issue and when I have other problems about GeoDataFrame，I will reopen it.

[2022-08-01 07:05] #2511 closed

[2022-08-02 06:11] jorisvandenbossche commented on #1653
Given the changes with that we still keep it as a GeoDataFrame if there is any geometry column, and thus more explicitly allow a GeoDataFrame without active geometry column, we should probably still test that case (to ensure we write this correctly, and can read the resulting file)

[2022-08-03 05:14] forestbat opened #2513 "QST:How to limit digits when read data from shapefiles with geopandas？"
I'm using GIS data which length unit is degree，such as

You can see the coord has 14 digits behind its decimal dots. This is enough "exact"，however too many digits will bring error and it has suffered me for a long time.

So how to limit digits of coords when read from .shp file like this：

Thank you for very much.

[2022-08-03 14:49] brendan-ward commented on #2513
@forestbat if the question is how to read geometries from a shapefile using a fixed precision, I don't believe there is a direct way to do that using Fiona or Pyogrio engines.

Once geometries are read into a GeoDataFrame, they are stored in GEOS geometries which use double (64 bit) floating point values for storing coordinates.  This does indeed mean that the coordinates can store greater precisi

[2022-08-03 16:17] forestbat commented on #2513
@brendan-ward Thank for your reply，now I want to try mapshaper to do with my GIS data，and I will also consider your answer.

[2022-08-03 16:17] #2513 closed

[2022-08-04 03:57] emayakeerthi commented on #2416
I am interested in getting started with my open source contribution to this issue.  Could you explain this issue deeply?

[2022-08-04 06:55] martinfleis commented on #2416
@emayakeerthi hi, this issue is already being resolved by #2470. There is no need for another pull request. But thanks for the interest! Try to find another issue you'd be happy to resolve ;).

[2022-08-04 08:17] JorgChrist commented on #2506
Hey! Can I work on this?

[2022-08-04 08:35] martinfleis commented on #2506
@snowman2 sounds like a reasonable proposal.

@JorgChrist go for it! Let us know if you'll need any guidance.

[2022-08-04 13:02] martinfleis opened #2514 "CI: incompatibility between numpy 1.23 and shapely 1.7.1"
38-latest-defaults.yaml started resolving with the new numpy 1.23.1 but is still using shapely 1.7.1, causing failures on our CI. Shapely 1.8 is fine with new numpy. Not sure if there's much we can do apart from pinning to older numpy here or installing shapely from PyPI.

[2022-08-05 06:09] jorisvandenbossche commented on #2514
No, we just have to pin to older numpy for old shapely. There were updates in shapely 1.8 to deal with numpy deprecations, so I think this is expected.

[2022-08-05 06:12] jorisvandenbossche commented on #2514
(it also shows that the default channel of Anaconda is quite hopelessly behind .. since they are still on 1.7.1 as the latest version of shapely. Thus it will give problems for users that install using the default channel, unless they also pin numpy to an older version. I will maybe open an issue to ask to update Shapely)

[2022-08-05 06:35] #2514 closed

[2022-08-05 06:53] answerquest commented on #1656
Hi, isn't the title misleading : should be `.to_posgis()` instead of `.read_postgis()`
And this is very much needed!

Quick clarification : so is geopandas expecting the geometry column to be named as 'geom', or 'geometry' by default?

[2022-08-08 06:50] Abdullium commented on #2357
Hi, Is @martinflei still working on this,
if not then please assign the issue to me
I have been doing geo data projects for a while,
I think I can fix it

[2022-08-08 06:54] Abdullium commented on #2357
i think can definitely fix the documentation in hours .
would you assign the issue to me
while you work on something more important

I'm actually new to open source
I'm passionate to serve the community.

[2022-08-08 07:02] Abdullium commented on #529
hmm. you want an example in the documentation about these are:-
* adding a page in docs to construct a geodataframe from dataframe
* adding gallery example for plotting data with folium

[2022-08-08 07:03] Abdullium commented on #529
you can assign the task to me I write brilliant documentation.

[2022-08-08 07:21] martinfleis commented on #2357
@Abdullium feel free to prepare a pull request with this! Thanks!

[2022-08-08 08:52] jorisvandenbossche commented on #1950
Given the lack of a reproducible example, I am going to close this issue.
@jtamerius if you still have this issue and could provide more information, we can certainly reopen the issue.

[2022-08-08 08:52] #1950 closed

[2022-08-08 08:55] jorisvandenbossche commented on #1069
Closing this issue as there is nothing directly actionable for geopandas

[2022-08-08 08:55] #1069 closed

[2022-08-08 12:18] m-richards opened #2517 "QST/ API/BUG:"
I've been looking at following up the active geometry column changes and looking at the removal of `__getitem__`. In updating the error messages in #2329 I've noticed that introduces another inconsistency (taken from `test_geodataframe.py::test_get_geometry_invalid`):
[code]
specifically that the new getitem error refers explicitly to the active geometry column not being set, rather than the last

[2022-08-08 13:43] mousey92 commented on #1852
Repeatedly running into the same issue and constantly have to convert Series to GeoSeries in my custom apply functions. Would be great if this can be solved on the geopandas side.
Would it also apply to the .iterrows() function?

[2022-08-09 09:31] Zeroto521 opened #2518 "BUG: `GeoDataFrame` constructor will mutate the inputting data"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`GeoDataFrame` constructor will mutate the inputting data `df`.
This behavior happened in

[2022-08-09 09:42] martinfleis commented on #2518
Thanks for the report. Thought this is a duplicate of #1179.

[2022-08-09 09:42] #2518 closed

[2022-08-09 11:49] m-richards commented on #1852
@mousey92 just looking at this now, this appears to be resolved as of geopandas 0.11. Could you check the version of geopandas you're using? If you're still seeing this behaviour in a different way however - or you're expecting different behaviour with `.iterrows()` it would be great if you could open another issue describing the behaviour you're expecting to see.

(With iterrows however (and the

[2022-08-09 14:19] lodo1995 opened #2520 "BUG: to_crs(): SWEREF99 to WGS84 sets latitude to zero"
#### Code Sample

[code]
|  | geometry | address |
| -- | -- | -- |
| 0 | POINT (18.07109 59.32512) | Stockholms kommun, Sverige |
| 1 | POINT (11.96702 57.70723) | Göteborg, 411 10, Sverige |

[code]
|  | geometry | address |
| -- | -- | -- |
| 0 | POINT (18.07109 0.00000) | Stockholms kommun, Sverige |
| 1 | POINT (11.96702 0.00000) | Göteborg, 411 10, Sverige |

#### Problem description

When d

[2022-08-09 22:42] and-viceversa commented on #2481
Here's the GIS StackExchange [answer](https://stackoverflow.com/questions/72960340/attributeerror-nonetype-object-has-no-attribute-drvsupport-when-using-fiona) (which essentialy mirrors your own).

[2022-08-10 06:47] jorisvandenbossche commented on #2481
The `drvsupport.supported_drivers` dict is an object from the fiona package, so you should edit this through fiona, and not through geopandas. As mentioned on the StackOverflow answer, we changed to import fiona dynamically (on first use of read_file), so `geopandas.io.file.fiona` is None initially.

To repeat the solution here:

[code]

This is also how it is documented in our user guide: https:/

[2022-08-10 06:47] #2481 closed

[2022-08-10 07:06] #1852 closed

[2022-08-10 07:20] jorisvandenbossche commented on #2520
@lodo1995 that's indeed strange, but a behaviour we get from PROJ / pyproj:

[code]

So that might be something to ask or report to https://github.com/pyproj4/pyproj/ or https://github.com/OSGeo/PROJ/

[2022-08-10 07:29] Enthdrive opened #2521 "Error opening Geojson format with geopandas.readfile()"
Hi, I have trouble opening a geojson file with geopandas.readfile(). The geojson file I checked and it's utf-8 encoded, furthermore every single online visualization tool is able to open it. On the other hand when I am trying to open just a couple of rows it works perfectly fine, but above 800 rows it crashes.
I have installed geopanda through conda.
Fiona version is 1.8.13
Shapely version is 1.7.

[2022-08-10 07:35] jorisvandenbossche commented on #2520
Hmm, from testing with cs2cs, it seems this has something to do with ignoring z (EPSG:4976 defines a Z axis):

[code]

So also with pyproj I can reproduce that (using the same snippet as above):

[code]

So it's actually geopandas here that is not passing through z values (that's currently a limitation of `to_crs`), but I also find it surprising that this gives such a difference in result.

cc @sn

[2022-08-10 07:38] martinfleis commented on #2521
Hey, this is an issue with your environment. You most likely have shapely 1.7 (instead of the recent 1.8) and the latest numpy 1.23. These specific versions are incompatible. You either need to update shapely or downgrade numpy.

[2022-08-10 11:36] mousey92 commented on #1852
@m-richards Reading through this and thinking about it again, I guess it makes a lot more sense that `iterrows()` would return Series since a 'row' will include more than the geometry...
I guess I'll have to use `gdf.geometry` more!

[2022-08-10 15:21] Enthdrive commented on #2521
Thank you for the quick response. Is there an easy way to upgrade to the shapely 1.8? since `conda upgrade shapely` doesn't seem to do the trick neither another solution i found on twitter: `conda install -c conda-forge/label/shapely_dev shapely=1.8a1`

[2022-08-10 16:26] and-viceversa commented on #1552
@andhuang-CLGX solution worked for me on a simple single layer point .kml

It also works on @AlexanderJuestel kml snippet showing "formation" as an attribute field.

[code]

Not to say this is a solved issue, but some version of the base case lets you get by. Maybe the multi layer kml is the sticking point as others have mentioned.

System info below (conda installed yesterday)

[code]

[2022-08-10 20:07] ebebpl opened #2522 "Geopandas conda install UnsatisfiableError glibc"
This is a new anaconda3 installation on centos 7.9 and geopandas is not getting installed due to UnsatisfiableError.
$ conda --version is conda 4.13.0

Please see the discussion in the below link:
https://stackoverflow.com/questions/73297278/geopandas-conda-install-unsatisfiableerror-glibc/73309293#73309293

[2022-08-11 02:51] snowman2 commented on #2520
When Z is not provided, PROJ sets the value of Z to 0 internally.

[code]
[code]
SWEREF99 is a Geocentric CRS (https://desktop.arcgis.com/en/arcmap/10.7/map/projections/geocentric-coordinate-system.htm
):
[code]
A Z with a value of 0 likely causes some strange behavior with the calculations. It may be worth bringing the issue up in the PROJ repository (https://github.com/OSGeo/PROJ/) as they may h

[2022-08-11 06:30] martinfleis commented on #2521
`conda install -c conda-forge shapely=1.8` doesn't work?

[2022-08-11 06:36] Enthdrive commented on #2521
It gives me proxy error sadly. Does that have someting to do with the .condarc setup?
ProxyError: Conda cannot proceed due to an error in your proxy configuration.
Check for typos and other configuration errors in any '.netrc' file in your home directory,
any environment variables ending in '_PROXY', and any other system-wide proxy
configuration settings.

[2022-08-11 06:43] martinfleis commented on #2521
I don't know, have never seen this error. It may be easiest for you to downgrade numpy in the end.

[2022-08-11 06:44] Enthdrive commented on #2521
Which version do you recommend?

[2022-08-11 06:46] martinfleis commented on #2521
numpy=1.22 should work. We internally pin for numpy=1.21 on our CI.

[2022-08-11 06:48] jorisvandenbossche commented on #2522
For issues with the Anaconda distribution or packages from the default channel, you can report something at https://github.com/ContinuumIO/anaconda-issues/issues (we don't have any control over that ourselves)

We typically recommend to use the conda-forge channel, because this has more up to date packages for geopandas and its dependencies.
The safest and most robust way to do this is to create a

[2022-08-11 06:48] #2522 closed

[2022-08-11 06:54] Enthdrive commented on #2521
Seems to be working just fine now, thank you so much :)

[2022-08-11 07:41] #2521 closed

[2022-08-11 08:37] jeanbaptisteb commented on #1887
From this answer, I assume there is no other solution than using conda. The problem is that it's apparently impossible to have conda without Anaconda (https://stackoverflow.com/questions/67312469/how-to-install-conda-without-anaconda-or-miniconda-installer), and Anaconda is no longer free for many users, per their new terms of service. It would be great to have another solution that does not rely

[2022-08-11 08:42] martinfleis commented on #1887
@jeanbaptisteb You can use `conda` without `Anaconda` with `miniconda` or its alternatives like `miniforge` or `mambaforge`. You can also use `micromamba` and use mamba instead of conda.

This is false.

[2022-08-11 08:43] lodo1995 commented on #2520
@jorisvandenbossche @snowman2 thanks for your investigation. I switched to a different projected CRS as suggested to avoid the issue.

I am not an expert on the topic, so I don't know if this is an isolated issue with SWEREF99, or whether this kind of issue may appear with other projected CRS that require a Z axis for the calculation, given that geopandas ignores it. In any case, it might be usefu

[2022-08-11 08:44] jeanbaptisteb commented on #1887
Oh ok, my bad. Thanks for the explanation.

[2022-08-11 09:13] jorisvandenbossche commented on #1887
And to be clear, you don't have to use conda, you _can_ use pip. In this specific issue however it's mixing of conda and pip that gave problems.

[2022-08-11 19:26] liuhyhit opened #2523 "BUG: Multi-part geometries do not themselves provide the array interface"
[code]

#### Problem description

Cannot read some shapefile correctly. Error pop up saying: "NotImplementedError: Multi-part geometries do not themselves provide the array interface". This will occur when reading shapefiles from an intersection result by QGIS. I saw people post similar errors elsewhere: https://stackoverflow.com/questions/73059949/geopandas-not-reading-shapefiles. The code used t

[2022-08-11 19:46] martinfleis commented on #2523
See #2521

[2022-08-11 19:46] #2523 closed

[2022-08-11 20:59] raybellwaves opened #2525 "ENH: DOC: add source button for functions in docs"
#### Is your feature request related to a problem?

Adding a source button for functions in the docs will make it easier to navigate the codebase.

#### Describe the solution you'd like

Match pandas documentation e.g. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html compared to https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoSeries.bounds.html

![Screen Sh

[2022-08-12 08:16] jorisvandenbossche commented on #2517
Yeah, I noticed that inconsistency recently as well. Thanks for the write up.

I also don't have a strong opinion on which of the two is correct. If you start from a GeoDataFrame with a geometry column set, and then drop this column in some way (eg by not selecting that column, as in the examples above), it's maybe indeed a bit more informative to say that the active geometry column is not present

[2022-08-12 08:20] jorisvandenbossche commented on #2517
While looking at the above example, I was also wondering, if the geom2 and geometry names are switched (geom2 is active) and then drop geom2, should `.geometry` then raise the error? Currently we then return the non-active "geometry" column:

[code]

(same happens in case of `__getitem__` when `_geometry_column_name` of `gdf3` is None)

[2022-08-12 11:01] RicardoGomesIST opened #2527 "spatial join polygon within polygon does not work using sjoin on python"
I am trying to perform a spatial join using sjoin
leftdf: OSM_with_INE_ESPG32729_6_BGRI

[code]

right df: BGRI

[code]

Both dfs have polygons. the left are buildings and the right are administrative areas.
(buidings are within the admnistrative areas)

When I run:

`    OSM_with_INE_ESPG32729_6_BGRI = OSM_with_INE_ESPG32729_6.sjoin(BGRI, how="left", predicate='within')`

the resulting dataframe

[2022-08-12 11:13] martinfleis opened #2528 "DOC: spatial index query docs do not include all predicates"
Our docstring for query and query bulk contains only a subset of predicates pygeos supports. See https://geopandas.org/en/latest/docs/reference/api/geopandas.sindex.SpatialIndex.query_bulk.html#geopandas-sindex-spatialindex-query-bulk does not list all supported predicates. Compare to https://pygeos.readthedocs.io/en/stable/strtree.html#pygeos.strtree.STRtree.query_bulk

[2022-08-12 11:28] m-richards commented on #2517
From my perspective it seems like having `_geometry_column_name` defaulting to None is sensible (but keeping keeping the same behaviour that if `geometry` isn't specified in the constructor and a column called `"geometry"` is present then that is detected and set as `_geometry_column_name`.

I think this is clearly confusing behaviour - I've noticed this before as well. Taking a closer look, we ac

[2022-08-12 11:45] martinfleis commented on #2527
Thanks for the report!

This does look like an issue with the evaluation of spatial predicate. Could you share this part of the data by any chance? There may be some issue with the geometry causing the `within` predicate return False in this case.

Also, can you post the output of
[code]
?

[2022-08-12 14:51] thomcom opened #2529 "QST: What polygon ring nesting standard??"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

Hey all. We're having an int

[2022-08-12 15:01] jorisvandenbossche commented on #2529
On this front, GeoPandas actually has no "opinion" and is flexible to work with whatever, as that is what the underlying GEOS library does.

GEOS doesn't care about the orientation or rings and can work with either orientation standards (or even something in between, like both outer and inner rings having the same orientation). However, when it produces new geometries itself during operations, it

[2022-08-12 15:06] jorisvandenbossche commented on #2529
There was recently some conversation about this on the GEOS matrix/element.io chat channel: https://matrix.to/#/!xiBlfkzpldcIeZqgQI:osgeo.org/$0_WKaXLAm4rq3mwc6WAsGGmC3MHED0HPhaGVzYltd1g?via=libera.chat&via=matrix.org&via=osgeo.org

Quoting one of the answers of Martin Davis:

When it creates polygonal output, it does enforce an orientation - CW for exterior rings, CCW for holes.
This is opposite

[2022-08-12 15:22] thomcom commented on #2529
Thanks for the quick response! Judging from your answer and opinions internally, I'm going to leave it open and undefined in my mind despite what the "accepted answer" in [the gis.stackoverflow.com post](https://gis.stackexchange.com/questions/119150/order-of-polygon-vertices-in-general-gis-clockwise-or-counterclockwise) claimed. An undefinable standard, albeit a small one. :) I call those towers-

[2022-08-12 15:37] RicardoGomesIST commented on #2527
Hi,
thanks for your fast response. I really don't know what happened because I replicated all the way to get to those files and now it runs...I am so sorry, but I cannot find why it didn't worked before... Sorry for you lost time

1st df predicates:
[code]
2nd df predicates:

[code]

geopandas.show_versions()

[code]

[2022-08-12 15:45] martinfleis commented on #2527
Happy to hear it works as expected now!

[2022-08-14 23:51] StevenLi-DS commented on #1816
@martinfleis
It doesn't seem like geopandas has a `osx-arm64` label on conda-forge. Am I missing something?
https://anaconda.org/conda-forge/geopandas
![image](https://user-images.githubusercontent.com/33796896/184559420-be34067a-03e8-4588-b488-6214bd112928.png)

[2022-08-15 02:36] m-richards commented on #1816
@StevenLi-DS (I'm not across the M1 packaging situation particularly closely) I think the noarch install is all you need - geopandas itself is pure python, it just has compiled dependencies, note that the linux/ windows / osx specific architecture versions are for v0.3 which is well out of date.

[2022-08-15 23:53] samuelbasilio commented on #1114
Nice! Any idea how to switch the full map with the zoomed map? I would like to leave the full map small in a corner and the zoomed map occupying the entire plot.

[2022-08-16 19:09] #2525 closed

[2022-08-17 13:19] DirkEilander opened #2531 "BUG: CRS ValueError with read_file using shapely 1.8.3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-08-17 13:33] martinfleis commented on #2531
Thanks for the report! I think that we see the similar behaviour on our CI here https://github.com/geopandas/geopandas/runs/7879591422?check_suite_focus=true#step:5:4136 It is triggered in a very specific situation though. Have you ran any other code before the snippet shown above?

[2022-08-17 13:49] DirkEilander commented on #2531
Thanks for the fast response! I have not run any other code before and can locally reproduce the error with just that code snippet.

[2022-08-17 14:46] martinfleis commented on #2531
@jorisvandenbossche are you aware of any changes in shapely 1.8.3 that could've caused this? From the changelog, I am not sure where to look.

[2022-08-17 14:48] theroggy commented on #2531
In my case at least it seems to be triggered by upgrading underlying dependencies of geopandas. When creating a pull request on https://github.com/geofileops/geofileops this afternoon I had (many) of these errors but I couldn't reproduce locally till I upgraded shapely...
But: upgrading shapely triggered a whole lot of other dependencies to be upgraded, so not sure what the initial culprit is/was.

[2022-08-17 14:59] martinfleis commented on #2531
There are only 4 changes on our CI

[code]

Out of these, only shapely makes sense to cause a trouble here.

[2022-08-17 15:10] theroggy commented on #2531
pinning shapely to <1.8.3 indeed solves the issue for me...

[2022-08-17 16:40] Coulorful commented on #2372
请问这个问题解决了吗？have sovled?

[2022-08-17 16:55] martinfleis commented on #2372
@Coulorful I am sorry, you will have to post your question in English.

[2022-08-17 20:16] jorisvandenbossche commented on #2531
We will do a quick 1.8.4 to fix this

[2022-08-18 01:18] Coulorful commented on #2372
Thanks for your reply. I have solved my problem, maybe due to pip install pyges ,  import pygeos from .lib import GEOSException # NOQA....ImportError: DLL load failed: The specified procedure could not be found.  Then I unintall it and install from [pygeos‑0.12.0‑cp39‑cp39‑win_amd64.whl]  finally it worked to import pygeos and  now I can use gpd.sjoin_nearest.

[2022-08-18 21:25] rraymondgh commented on #2408
cleaning up things that have been pending > 3 months

[2022-08-19 07:08] martinfleis commented on #2408
We currently don't have a capacity to fully deal with all the issues and PRs in here. If we don't react for some time, that does not mean that it is not relevant, only that it has lower priority and we haven't had enough time to get to it.

I have reopened the issue as it is potentially relevant but I haven't thought it through yet.

[2022-08-19 13:20] jack89roberts commented on #2217
Could there be (or is there already) a way to set the default engine across all calls via an environment variable/similar?

[2022-08-19 15:22] bidhya commented on #2531
Update 1.8.4 seems to fix the issue

[2022-08-19 15:27] #2531 closed

[2022-08-19 17:37] brendan-ward commented on #2217
Having something like a `GEOPANDAS_DEFAULT_FILEIO_ENGINE` variable might be helpful for this, though it would still depend on what I/O engines are installed.

Right now Geopandas defaults to Fiona if available and then Pyogrio if available and Fiona is not, so (in theory) if you want to default to Pyogrio you can just uninstall Fiona from your environment.  But if you have a use case where you nee

[2022-08-19 19:19] jack89roberts commented on #2217
Thanks. Geopandas itself specifies Fiona as a dependency, but I could do `pip install geopandas pyogrio && pip uninstall fiona` I suppose. I don't have a reason beyond curiosity to be trying pyogrio, though, so having to modify all my `read_file` calls or add extra steps to my environment creation is probably enough for me to just skip it for now.

[2022-08-19 19:19] jack89roberts commented on #2217
Thanks. Geopandas itself specifies Fiona as a dependency, but I could do `pip install geopandas pyogrio && pip uninstall fiona`, I suppose. I don't have a reason beyond curiosity to be trying pyogrio, though, so having to modify all my `read_file` calls or add extra steps to my environment creation is probably enough for me to just skip it for now.

[2022-08-20 04:23] m-richards commented on #2217
I've also wondered about this myself, having switched over to using pyogrio on a project myself while collaborators are still using fiona, and wanting to be able to toggle back and forth if necessary.

Another option may be to add something like `geopandas.options.use_pygeos` to control the global default of `engine` in read_file and to_file. (But I guess the environment variable has the advantage

[2022-08-20 07:30] martinfleis commented on #2217
I'd mirror what we have for pygeos here.

[2022-08-20 08:14] jorisvandenbossche commented on #2217
An option to set the default file IO engine sounds good indeed (and actually for `use_pygeos`, we also allow you to set the default for that option through an environment variable ..)

[2022-08-23 07:26] 1996HZP opened #2534 "QST:Using geopandas in flask, the program ends directly"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---   my question

A simple code

[2022-08-23 09:18] Zeroto521 opened #2535 "ENH: `(GeometryArray|GeoSeries).fillna`'s `value` supports array-like type input"
#### Is your feature request related to a problem?

pandas's `fillna` has a feature, we could do `fillna` to a Series with another Series.

[code]

So I want to apply to GeoSeries, but failed.

[code]

related to #1604

Error stack:

<details>

[code]

</details>

#### Describe the solution you'd like

Based on `GeometryArray.fillna` docstrings, it says its value could receive `array-like`. But ac

[2022-08-23 09:23] afernando79 commented on #2217
To chime in here, (forgive me if I am totally off) I would love to be able to use an engine that supports reading a file in chunks, achieved using pyshp.Reader().shapeRecord() for a list of records.

My use-case is to be able to split a massive shapefile into smaller chunks and persist each to disk for loading into BigQuery therefore avoiding blowing memory and CPU limits when running in a GCP Clo

[2022-08-23 10:27] afernando79 commented on #2217
I just had a look at the pyogrio library and notice it does potentially provide the functionality I am after. I am having issues with getting an environment working with the correct versions etc so I think I should look into that further before going any further with pyshp. If anyone has a link to a dockerfile definition that provides a working container and includes all libraries etc necessary, t

[2022-08-23 10:39] m-richards commented on #2217
@afernando79 just in case you haven't already seen it, pyogrio runs tests on top of a gdal docker image, this might help you getting started with a Dockerfile:
https://github.com/geopandas/pyogrio/blob/main/.github/workflows/docker-gdal.yml

[2022-08-23 10:50] martinfleis commented on #2217
Here's the geo stack Docker we use for teaching and research https://github.com/darribas/gds_env. It includes pyogrio but I'd recommend building it rather than pulling the last tag as it is a bit dated now.

[2022-08-23 10:51] afernando79 commented on #2217
Thanks @martinfleis and @m-richards! a great help

That will save me a whole load of effort 👍🏾

[2022-08-23 11:55] brendan-ward commented on #2217
@afernando79 your chunked approach should work with pyogrio using the `skip_features` / `max_features`.

Here's a lightweight Dockerfile I've used for local testing of pyogrio; it assumes that you are building it from within that repo:

[code]

Then build it for whatever version of GDAL is appropriate for you:

[code]

As you can see from the comments above, it is possible to either copy the code

[2022-08-23 22:52] afernando79 commented on #2217
@brendan-ward That is awesome and after the comments from earlier today, I had taken a look at the Dockerfiles and was going to attempt what you have kindly done for me! Even less work for me to do - I feel guilty but grateful.

I will feed back once I have tried the approach you all have suggested. Thanks again

[2022-08-24 09:23] yyandgg opened #2536 "QST:how to use within func with set tolerance = 1e-8"
hello, i have a question, can i set tolerance  when use within func or contains func

[2022-08-25 19:09] #2528 closed

[2022-08-26 14:34] jorisvandenbossche commented on #2535
@Zeroto521 yes, that would certainly be a welcome improvement! (I don't think there was a reason in the past to no add this, except for that we just started with the simplest case)

[2022-08-27 09:19] jorisvandenbossche opened #2538 "Deprecate GeoSeries.almost_equals (deprecated in shapely)"
The `almost_equals` method in Shapely is deprecated (and will be removed in a future version): https://github.com/shapely/shapely/blob/6c896a7fb0348f46630e4045e1fdc3e54212dc42/shapely/geometry/base.py#L666-L669

So we should probably follow suite in geopandas as well and deprecate our almost_equals method in favor of its alias `equals_exact`

[2022-08-27 15:32] slumnitz opened #2540 "BUG: no matching CRS warning for overlay"
When using geopandas.overlay no warning is issued when the data frames are not using the same crs.

"""
import dask_geopandas
import geopandas
import libpysal.examples as exp
NYC = exp.load_example('NYC Education')
NYC.get_file_list()
df1 = geopandas.read_file('/home/codespace/.local/share/pysal/NYC_Education/NYC_2000Census.shp'
)

df2 = geopandas.read_file(
        geopandas.datasets.get_path("ny

[2022-08-27 18:55] martinfleis commented on #2540
It does raise a warning on my side, coming from this check:

https://github.com/geopandas/geopandas/blob/4d29fcfeb065bdcd7fc69968dd647140772cd5cf/geopandas/tools/overlay.py#L253-L254

Can you check if you are not suppressing warnings? It has been there for a while now.

[2022-09-01 05:58] shraddhafalane commented on #2538
Would like to take this up

[2022-09-01 06:11] martinfleis commented on #2538
@shraddhafalane Go for it ;)

[2022-09-01 07:37] shraddhafalane commented on #2538
Could you please elaborate more on task. I can see  `geom_almost_equals` instead of `almost_equals`.

[2022-09-01 10:07] m-richards commented on #2538
Hey @shraddhafalane sorry unless I'm missing something this has already been done as #2267.

There is however one small follow up, https://github.com/geopandas/geopandas/blob/4d29fcfeb065bdcd7fc69968dd647140772cd5cf/geopandas/_vectorized.py#L720-L724

this `almost_equals` in `_vectorized.py` was missed in that pull request and seems to be dead code now.

[2022-09-01 14:18] jorisvandenbossche commented on #2538
@m-richards I think that was an internal deprecation in geopandas we where we had "geom_almost_equals" on GeoSeries and "almost_equals" on GeometryArray, so we deprecated `GeometryArray.almost_equals` for `GeometryArray.geom_almost_equals` to make that consistent internally.
But so this is another issue, in shapely "almost_equals" was deprecated in favor of "equals_exact", and that change is not y

[2022-09-01 21:36] m-richards commented on #2538
Right, don't know how I missed that, sorry @shraddhafalane for the confusion.

[2022-09-03 17:17] rraymondgh commented on #2408
@martinfleis is it worth me doing a PR to change this behaviour?  Sort of expect it to go to `/dev/null`.  Did I incorrectly label it as bug when it should be an enhancement and hence would not need triage before commencement of a PR?

[2022-09-03 17:27] rraymondgh commented on #2471
@martinfleis @jorisvandenbossche I'm recommending this issue gets closed.   I did a PR that would provide this capability [2477](https://github.com/geopandas/geopandas/pull/2477) and closed it.  I concluded it is a bad idea - **folium** is not **matplotlib** and **geopandas** managing enhancements to behaviour or **folium** becomes an unsustainable maintenance burden.   Users really should be limi

[2022-09-03 17:33] martinfleis commented on #2408
Hey, sorry for the delay. This is indeed a bug.

Yeah, I guess that we just need this line to be a bit smarter when dealing with missing values. https://github.com/geopandas/geopandas/blob/1821b6d72791ce1f7da32db5b22e8803a3dc44b9/geopandas/explore.py#L425

I am not super excited about not being able to plot a legend in this case but unless we find an easy way, setting it to False is the best choic

[2022-09-03 17:34] martinfleis commented on #2471
Agree. If this should be implemented somewhere, it should be on `folium` side.

[2022-09-03 17:34] #2471 closed

[2022-09-03 21:58] zaneselvans opened #2544 "BUG: overlay union raises ValueError with pandas 1.5.0rc0"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of geopandas.
- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

### Code Sample, a copy-pastable example
[code]

### Problem description

While trying to get [some of our code](https://github.com/catalyst-cooperative/pudl/issues/190

[2022-09-04 03:29] m-richards commented on #2544
Hi @zaneselvans thanks for reporting this, seems to be the same issue as what's causing issues on the CI for main.

Looking a bit deeper, this is caused by https://github.com/pandas-dev/pandas/pull/48082 and it seems @jorisvandenbossche had already noted it.

It seems like this could be fixed in geopandas, but to do so we'd have to avoid using suffixes in `pd.merge` in `overlay` and `sjoin` and in

[2022-09-05 19:55] jorisvandenbossche commented on #2395
@brendan-ward nice overview!

The same `geom::bytea` approach doesn't work when using `pd.read_sql` ? (your second example above)

---

Some other options we could consider are other postgres drivers that provide columnar access directly (instead of the python objects for each row when using psycopg2). In the Arrow ecosystem, I am aware of https://github.com/0x0L/pgeon.
And a colleague of mine is

[2022-09-06 13:37] ldesousa opened #2545 "BUG: CRS not found exception loading data frame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-09-06 18:09] jorisvandenbossche commented on #2544
Yes, I was planning to fix this on the pandas side, but only opened a PR now with some delay (https://github.com/pandas-dev/pandas/pull/48416)

In general I would certainly prefer that we handle this in pandas (although it's a patch just for us), because while we can workaround it in the sjoin code, that also means that any end-user doing a merge with suffices would have to do the same workaround

[2022-09-07 10:27] m-richards commented on #2544
The only case I could find was this one: https://github.com/geopandas/geopandas/pull/2296#issuecomment-1024841891 which is actually a bit different, it's about default column labels being updated with correct labels, rather than suffixes not being applied. I don't think is actually an issue any more in this particular case, as that PR eventually did not change the behaviour as described - and the

[2022-09-07 11:11] jorisvandenbossche commented on #2545
@ldesousa thanks for the report!

Indeed, we currently too naively assume that whather ID we get is from the EPSG authority:

https://github.com/geopandas/geopandas/blob/1821b6d72791ce1f7da32db5b22e8803a3dc44b9/geopandas/io/sql.py#L87-L91

(that has been done this way since this was added in https://github.com/geopandas/geopandas/pull/627)

We should maybe do a second query to `spatial_ref_sys` to

[2022-09-07 16:52] eyalmor commented on #955
I'm not sure this is the same issue at all since the census_blocks data mentioned above isn't available anymore on dropbox.

I ran into an explosion of memory usage when performing an sjoin, where one side is a geodataframe with a large number of columns. The result match geodataframe has millions of rows, and I suspect the data from the non-geometry-extra-columns is duplicated in memory instead o

[2022-09-07 17:23] rraymondgh opened #2546 "BUG: explore() invalid value encountered in double_scalars"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
If all values in `column` are zero results in warning:
[code]
Have not investigated where

[2022-09-07 17:30] martinfleis commented on #2546
That is just a warning, right? That is stemming from the fact that we are trying to create color bins using map classify and all your values are the same. We can probably check that case and skip the binning code.

[2022-09-07 17:33] rraymondgh commented on #2546
@martinfleis yes just a warning.  Surprised me when I saw it for first time, wasting time on looking for other data quality issues ...

[2022-09-07 17:37] martinfleis commented on #2546
It is most likely coming from this part. Which can be skipped for invariant arrays like the one above and `color` array can be created directly.

https://github.com/geopandas/geopandas/blob/1821b6d72791ce1f7da32db5b22e8803a3dc44b9/geopandas/explore.py#L448-L455

[2022-09-08 16:24] RicardoGomesIST opened #2547 "clip does not work on the case of polygon that crosses more than one clip area"
Hi,
I have two shapefiles with polygons. One with buildings (zone.shp) and other with municipalities (munic.shp).
I would like to clip the zone.shp using the municipality polygons.
lets assume:
zone: geodf with all the buildings (from zone.shp)
muni: geodf with all the mun (from munic.shp)
And I would like to have the buildings from the municipality "Lisbon"

buildings_Lisbon=zone.clip(muni.loc[mu

[2022-09-09 12:21] RicardoGomesIST commented on #2547
I found that I can explode and then drop duplicates

[2022-09-09 14:35] martinfleis commented on #2547
Exploding is one way. The other would be to do the spatial join, not clip. You would want sjoin with the "within" predicate in this case.

[2022-09-09 14:35] #2547 closed

[2022-09-10 09:46] rth opened #2548 "ENH: better user experience when fiona is not installed"
As discussed in https://github.com/pyodide/pyodide/issues/1569#issuecomment-1242680806 it's possible to install geopandas in Pyodide, though fiona is for now not available there.

As @jorisvandenbossche mentioned in https://github.com/pyodide/pyodide/issues/1569#issuecomment-1242680271 loading GeoJSON

however, most people likely worn't be aware of it.

In the [Pyodide REPL](https://pyodide.org/en

[2022-09-10 10:53] martinfleis commented on #2548
Hi, this is actually on the roadmap. The aim is to have pure python IO for GeoJSON, SHP (#1580) and GPKG (https://github.com/geopandas/pgpkg) exposed in `read_file` and `to_file` when you don't want or cannot install GDAL, like in this case. I think that with the boom of WASM, it may be more relevant now.

[2022-09-14 08:37] RicardoGomesIST opened #2549 "creating a polygon that covers other polygon layer using python"
I  have a layer with polygons (buildings) and I would like create a polygon that limits the area where the polygons are using geopandas or other python module

SO I have this buildings:
![image](https://user-images.githubusercontent.com/52715280/190103539-1cc6a996-4bd4-4cbb-8654-6af22ecbd962.png)

 and I would like to have a new layer with a polygon that covers all buildings:
![image](https://user

[2022-09-14 09:38] jorisvandenbossche commented on #2549
One option is to create a "convex hull" of all buildings (https://shapely.readthedocs.io/en/stable/manual.html#object.convex_hull). This will not use exactly the vertices of the outside buildings, but should still cover all buildings (in your example above, the two left side vertices of the building on the right would not be included, as those create segments that are not convex but concave).

(si

[2022-09-14 09:52] martinfleis commented on #2549
If you want to use the concave hull, you can have a look at the implementation in libpysal called `alpha_shape` (https://pysal.org/libpysal/generated/libpysal.cg.alpha_shape.html) (https://geographicdata.science/book/notebooks/08_point_pattern_analysis.html#extent)

[2022-09-14 13:14] RicardoGomesIST commented on #2549
Thank you both, Worked perfectly. Also, from stack overflow obtained the following but using "unary_union"

gdf1 = gpd.read_file(r"C:\Users\X\Desktop\testpoly.shp")
gdf2 = gpd.GeoDataFrame(geometry=[gdf.unary_union.convex_hull], crs="EPSG:4326")

[2022-09-14 13:35] martinfleis commented on #2549
The MultiPolygon solution shown above will be faster than `unary_union` to get the same result.

[2022-09-14 23:35] gerardbarbalich opened #2550 "."

[2022-09-16 11:33] rraymondgh opened #2551 "BUG: pygeos 0.13 overlay() fails tests"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of geopandas.

- [X] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**pygeos** v0.13 (current version on **pypi**) fails `overlay()` tests with packaged version of **geos** 3.10.3.  This is also replicated when installing without whee

[2022-09-16 12:07] martinfleis commented on #2551
If the issue gets resolved by updating GEOS, it is most likely that the issue was in upstream and has been already fixed. Given all seems to be working correctly on latest versions of all dependencies, I am not sure if there is anything we should do about it.

[2022-09-16 12:53] rraymondgh commented on #2551
@martinfleis I tend to agree, however currently if you install **geopandas** v0.11 and **pygeos** v0.13 `overlay()` does fail.  Should be a point in time issue...  **pygeos** tests succeed on wheels version of v0.13.  Could be the case there is not awareness of this downstream issue.  similar issue https://github.com/pygeos/pygeos/issues/456

[2022-09-18 19:51] rraymondgh opened #2554 "ENH: consistent natural earth datasets"
#### **geopandas** distributes country and cities data from natural earth

These are currently inconsistent releases of datasets.  Update so both use same version

#### API breaking implications

None

[2022-09-18 22:47] gerardbarbalich opened #2556 "Running gpd.read_file() kills my Jupyter kernel"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

---
The kernel of my Jupyter Notebook crashes whenever I try to run gpd.read_file() on a package dataset or local shapefile. The package installed fine, and I can access the package's modules, but running this code snipped crashes my kernel:

[code]

I in

[2022-09-18 22:50] #2550 closed

[2022-09-19 12:03] rraymondgh opened #2557 "QST: read_file() with mask and sjoin() different results"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

#### Question about geopanda

[2022-09-20 18:36] rraymondgh commented on #2551
@jorisvandenbossche I've redirected `pytest geopandas/tests/test_overlay.py` and then pulled out the exceptions.

They all are this:
[code]

There is no more to the stack trace in the output.

<details>

[code]
</details>

[2022-09-21 21:44] martinfleis opened #2558 "BUG: clip messes the order of attributes with pandas 1.5.0"
There is a bug somewhere that affects `clip` in special cases that may be a regression in pandas but I wasn't able to create a MRE without geopandas and can't dig further so reporting what I know now.

In some cases (not entirely sure which), `clip` breaks the relationship between geometries and their attributes. See the MRE below as an illustration. I was able to track it down all the way to this

[2022-09-21 22:14] jorisvandenbossche commented on #2558
@martinfleis I can take a further look.
But do you have another way to share the data? I get *"OSError: When getting information for key 'sample.parquet' in bucket 'martinfleis-public': AWS Error ACCESS_DENIED during HeadObject operation: No response body."* when trying to read the file.

[2022-09-21 23:13] jorisvandenbossche commented on #2558
OK, based on your sdss22-workshop, I was able to reproduce it:

[code]

It turns out this is because pandas ends up in a code path that (I assume) expects a non-boolean indexer (it does `np.argsort` on it, which then returns a random order for all-True boolean array): https://github.com/pandas-dev/pandas/blob/71fc89cd515c3c19230fbab64e979118858b808a/pandas/core/indexing.py#L1990
Based on where thi

[2022-09-22 05:39] martinfleis commented on #2558
It was in the meantime reported to pandas by someone else as well https://github.com/pandas-dev/pandas/issues/48701

[2022-09-22 16:49] rraymondgh commented on #2557
The answer is https://github.com/Toblerity/Fiona/issues/905

on MacOS:
[code]

[2022-09-22 16:49] #2557 closed

[2022-09-22 21:54] jorisvandenbossche commented on #2551
Hmm, that's a strange error .. How did you install shapely in those envs? Maybe it's some pygeos/shapely compatibility issue.

[2022-09-23 14:18] rraymondgh commented on #2551
@jorisvandenbossche
in all cases `pip install shapely`.  It's definitely compatibility issues between **shapely** and **pygeos**.  Have also had compatibility issues between **Fiona** and **shapely**.  Have had to use work around at bottom on this issue https://github.com/Toblerity/Fiona/issues/905 to make `mask` work as mask not bounding box

[2022-09-23 16:26] rraymondgh opened #2561 "DOC: fix doc build failing with pydata-sphinx-theme 0.10.1"
`make html` fails with below error when using **pydata-sphinx-theme** 0.10.1

[code]

re-create in a highly cut down env
[code]

[2022-09-23 21:10] numeric-lee opened #2562 "CRSError: Invalid projection: EPSG:4326 :"
Re closed issue #1887
[code]

[2022-09-23 21:26] jorisvandenbossche commented on #2562
Can you give some more information? Show the result of `geopandas.show_versions()`, and the output of `conda info` and `conda list` could be helpful. Are you running this in a notebook or in a terminal? (and if in notebook, can you also check in a terminal?)

[2022-09-23 21:35] numeric-lee commented on #2562
Joris, thanks for the qucik response

From the command line, the same command did NOT give an error!

Running form a notebook

GEOPANDAS

SYSTEM INFO
-----------
python     : 3.9.13 | packaged by conda-forge | (main, May 27 2022,
16:56:21)  [GCC 10.3.0]
executable : /home/le/.conda/envs/folium/bin/python
machine    : Linux-4.14.252-195.483.amzn2.x86_64-x86_64-with-glibc2.24

GEOS, GDAL, PROJ INFO

[2022-09-24 20:32] william-chu-github opened #2563 "Minor typo in docs"
https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoSeries.boundary.html

"Returns a GeoSeries of lower dimensional objects representing each geometries’s set-theoretic boundary."

"geometries’s" ought to be "geometry's"

[2022-09-25 01:45] wybert opened #2564 "explore with marker_kwds radius sequence support"
I wish I could use geopandas to plot some point data, mapping one of the columns as the maker `radius`. The function is similar as the `.plot` function with the makersize parameter. It would be nice if we can use the `.explore` function to do the same.

For example, with `.plot`
[code]
I want the same with `.explore` ,
[code]
For now, the first one will work but the second one is not working. I ca

[2022-09-25 07:46] mcsoini opened #2565 "QST: to_file fails if the geometry column does not have the exact name `geometry`"
I just documented an issue with `to_frame` [on SO](https://stackoverflow.com/questions/73842773/typeerror-when-writing-geopandas-geodataframe/73842774#73842774): Am I correct in my interpretation that `to_file` only works if the geometry column is called `geometry`, hence excluding the possibility to write GeoDataFrames with mulitlevel columns? If so, could this be caught a bit earlier with a more

[2022-09-25 11:05] m-richards commented on #2565
Hi @mcsoini, to_file can write any single level column name provided it is correctly set with `set_geometry`. We don't however support writing multiindex column names - there's not a great way of serialising that information, and such serialisation would be format dependent.

I believe however this might be possible with `to_parquet` (not at a computer to check), noting that other tools that can r

[2022-09-25 11:23] mcsoini commented on #2565
Thanks for the reply!

Is that really the case? If I try writing an example from the [docs](https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.set_geometry.html) using `set_geometry`, it also fails as soon as the geometry column is not called "geometry":

[code]

[2022-09-25 11:37] m-richards commented on #2565
As you'll see in the docs, `set_geometry` takes a column label or array as it's first parameter - if I take your case from SO:
[code]

Hope this helps, a little more on the concept of active geometry column is in the docs at https://geopandas.org/en/stable/docs/user_guide/data_structures.html#geodataframe which you might also find useful.

[2022-09-25 11:55] mcsoini commented on #2565
Thanks, very helpful, that explains my SO example. Yet I still don't see why my other example above would not work, as the geometry attribute of `df2` is correctly set to `buffered` right before `to_file` fails.

[2022-09-25 12:03] m-richards commented on #2565
Sorry I missed this separate point, the issue in this case is that you're trying to write a geodataframe with multiple geometry columns to file. As far as I'm aware, geoparquet is the only format natively supporting this, writing with `gdf.to_parquet`, any other format involves serialising via wkt, wkb. But your example does point out that the error message doesn't indicate that at all.

[2022-09-25 12:06] #2565 closed

[2022-09-25 12:14] m-richards opened #2566 "ENH: Improve error message for attempting to write multiple geometry columns using `to_file`"
xref #2565

[code]

[2022-09-25 12:50] Kevin-Wettaka opened #2567 "BUG:"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-09-25 16:35] rraymondgh commented on #2561
cloning main and installing - no error

[2022-09-25 18:39] martinfleis commented on #2561
This is an upstream issue with the theme that has been fixed in the meantime in https://github.com/pydata/pydata-sphinx-theme/pull/938.

[2022-09-25 18:40] martinfleis commented on #2567
Hello, I will close this issue as it contains no information. Feel free to edit the first issue to fill the "form" and reopen it.

[2022-09-25 18:40] #2567 closed

[2022-09-25 18:43] martinfleis commented on #2564
Hi, yes, this is a bit inconsistent. The workaround would be passing your own `style_function` that would retrieve the radius from the json properties. See the example in the docs - https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.explore.html#geopandas.GeoDataFrame.explore

[2022-09-25 20:55] rraymondgh commented on #2561
@martinfleis - I think this is better left open until **pydata-sphinx-theme** v0.11 is released.  Also https://github.com/geopandas/geopandas/pull/2560 should be backed out when v0.11 is released.  i.e. leave this open so that necessary simple actions are completed at appropriate time

[2022-09-26 08:11] jorisvandenbossche commented on #2562
In the output of `geopandas.show_versions` SYSTEM INFO, you can see that you are using a conda environment with the name "folium". However, the PROJ data that is being used is coming from a different environment ("lex"). The output you show for `conda info` and `conda list` is actually also for this "lex" env, and not "folium".

Which environment did you intent to use?

In general, loading librari

[2022-09-26 09:26] rraymondgh commented on #2564
As noted it is straight forward to code behaviour you want:

[code]

I'm a bit torn between make `plot()` and `explore()` arguments work in a more similar manner. This means moving further away from way **folium** works.  For example `folium.Marker(**marker_kwds)` is how parameter is used currently.    Changing behaviour would mean recoding private style functions to effectively do same as code ab

[2022-09-27 00:19] wybert opened #2569 "ENH: Markersize Legend"
It would be nice to have a marker size legend function like below,
![image](https://user-images.githubusercontent.com/5254627/192402931-ca429e42-f74c-4cd8-9d42-21a5d47d4f27.png)
see [plotly example](https://plotly.com/python/bubble-maps/)

The legend mark size will be scaled according to the real value

[2022-09-27 22:53] wybert commented on #2569
That's really cool

[2022-09-29 14:40] idantene opened #2573 "ENH: Allow fallback to DataFrame when geom column does not exist"
#### Is your feature request related to a problem?

In cases where there is no geometry column, it would be great if we could have fine control over a returned value vs raising exception.
The use case is that not all postgis tables have a geometry, and when making a user-facing SDK, it'd be great to avoid having to do the following:
[code]

This is especially true since `gpd.read_postgis` essentia

[2022-10-01 17:28] hibicustea123 commented on #622
@lecardozo may I know how did you plot the 3D figure? did you use geopandas to read the shapefile?

[2022-10-02 06:37] m-richards opened #2574 "BUG: behaviour of `gdf.geometry` is inconsistent when `"geometry"` is not the active geometry column name"
While looking at the above example, I was also wondering, if the geom2 and geometry names are switched (geom2 is active) and then drop geom2, should `.geometry` then raise the error? Currently we then return the non-active "geometry" column:

[code]

(same happens in case of `__getitem__` when `_geometry_column_name` of `gdf3` is None)

_Originally posted by @jorisvandenbossche in https://github.c

[2022-10-03 13:39] martinfleis opened #2579 "API/COMPAT: unary_union behaviour with shapely 2.0"
shapely 2.0 will return GeometryCollection instead of None for empty result of unary_union (https://github.com/shapely/shapely/pull/1553). Do we want to override this to get a consistent behaviour of GeoPandas or do we want to propagate this change?

I am a bit unsure what is the best approach but I would rather override this now and follow shapely 2.0 in geopandas 1.0 or at least with some deprec

[2022-10-03 13:51] jorisvandenbossche commented on #2579
You mean depending on whether you have pygeos installed or not?

[2022-10-03 13:54] jorisvandenbossche commented on #2579
Ah, no, we apparently customized shapely's behaviour .. I didn't check this when doing that change in shapely

https://github.com/geopandas/geopandas/blob/3993bd178abed309a75d1f79a80c325fd111ed7d/geopandas/_vectorized.py#L999-L1009

So because of this custom code, shapely <2 did actually return None as well, as you will get with pygeos. So it is only shapely >=2 that now gives something different.

[2022-10-03 17:33] martinfleis commented on #2579
Yeah, that's what I meant. I suppose we should ideally transition to empty collection as well. It makes more sense as a result than None. But I would do that gradually, hence overriding behaviour of shapely 2.0 as we do for shapely 1.7/8.

[2022-10-05 07:54] kadyb opened #2581 "QST: How does `to_crs()` work?"
Does `to_crs()` perform CRS transformations directly by PROJ or indirectly through GDAL?

[2022-10-05 08:12] kadyb commented on #2581
Thanks for the answer!

[2022-10-05 08:12] #2581 closed

[2022-10-05 08:24] kai-tub opened #2582 "BUG: _delgate_binary_method warning misleading"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Problem description

Hey,
I personally find that the warning generated by any binary method with `align=True` is a bit unintuitive.
I was wondering why I was get

[2022-10-05 14:04] zeltpsi commented on #2212
Installation still fails on MacPro-M1 with Monterey 12.5. However, it does install on Windows 11

[2022-10-06 17:53] EricaDallatomasina opened #2583 "BUG:"
Hi, I am trying to pass a custom colormap to the explore() function. As shown in the doc (https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.explore.html) I am defining a function that returns a named color.

A sample code is here:

[code]

#### Problem description
Running this code I obtain the following error:

ValueError: <function <lambda> at 0x7f4ef9298050> is not a val

[2022-10-06 19:46] martinfleis commented on #2583
Custom cmap defined as a callable does not support legend apparently. The error comes from the code creating a legend, not the one creating the map. If you pass `legend=False`, it will work. Since the custom function can be very complex, I am not sure if there is an easy way of creating a legend in such a case. But in any case, we should at least turn off legend automatically.

[code]

[2022-10-06 20:58] timothyslau opened #2584 "QST: How to plot Lat Lon point with geometry"
- [X] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

*I have geometry data that I

[2022-10-07 06:57] martinfleis commented on #2584
You need (ideally) to create a GeoSeries out of coordinates to properly work with it.

[code]
![3e4c741d-c99b-43ab-9d33-b43b501c4e73](https://user-images.githubusercontent.com/36797143/194486724-148f0d52-ce5a-4ef0-a09f-cc7aed57baf5.png)

[2022-10-07 10:49] martinfleis commented on #2212
@zeltpsi neither Fiona or pyogrio have wheels for Mac ARM architecture at the moment. Please follow this guide if you want to install geopandas and its dependencies using pip https://github.com/geopandas/geopandas/issues/1816#issuecomment-1003093329

[2022-10-07 14:57] #2584 closed

[2022-10-07 16:59] rraymondgh commented on #2583
@martinfleis I've started coding up a fix.  Looking at permutations of `cmap`, `scheme` and `legend`.  I believe some restrictions are needed
- cannot have `scheme` and a **branca** `cmap`
- cannot have `scheme` or `legend` with a user defined function `cmap`

Thoughts?

[2022-10-07 19:15] martinfleis commented on #2583
@rraymondgh Thanks a lot for looking into that! I would probably go with a warning, no need to be super strict here.

[2022-10-08 22:27] adamekcerv opened #2585 "Geopandas on android"
Hi,

Is it possible to install geopandas on android (pydroid app).
Thank you.

[2022-10-09 16:16] shogohida commented on #2566
@m-richards
Hi Richards, can I work on this? It might take some time for me to understand the issue but I want to contribute to this because it has a good first issue label (I'm new to OSS community)

[2022-10-09 16:19] shogohida commented on #2563
Hi @william-chu-github @martinfleis
Can I work on this? I haven't contributed to any issues so far but this looked easy as my first one.

[2022-10-09 16:29] william-chu-github commented on #2563
@shogohida, please do. I'm new to github and haven't had time to figure out how to properly do updates.

[2022-10-10 11:51] olsgaard commented on #2378
@raybellwaves why do you propose that timestamps should be removed?

It would make more sense if they are converted to numeric if the `column` argument points to a Timestamp column and otherwise, they should be converted to a string before serialization (or during serialization).

This way, you can read the date on the pop-up, and you can get a color change indicating how far along the timeline yo

[2022-10-10 14:29] olsgaard opened #2587 "BUG: `.explore()` fails when `column` is passed a non-numerical list"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of geopandas.

- [x ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us t

[2022-10-10 14:36] olsgaard commented on #2587
I have a fix in a fork. Should I just start a PR? "It works on my machine", but I am unsure how to run all tests against CI

[2022-10-10 15:54] ygversil opened #2588 "BUG: .to_postgis() unwantedly convert empty strings as NULL"
#### Problem description

When trying to append a GeoDataFrame into a Postgis table, empty strings are all converted to NULL values. This is not always wanted.

For example, say you have a simple Postgis table with a `comments` column having type `text`, with constraint `not null` (design decisions may be poor, but I don't have permissions to change table definition. In this design, having no comm

[2022-10-11 00:14] fbunt opened #2589 "BUG: Clipping with empty shape produces cryptic error"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem

[2022-10-11 07:01] martinfleis commented on #2589
Hi, thanks for the report! I agree that we should catch this situation and raise an error. Would you be willing to try a making a fix?

[2022-10-11 07:26] fbunt commented on #2589
@martinfleis yeah, I can work on a fix. Is ValueError appropriate?

[2022-10-11 07:29] martinfleis commented on #2589
Yes, I would say that a ValueError is the best option here. Note that the error that shows up now is coming from the bounds check, so there may be some other cases to cover than a simple empty geom.

[2022-10-11 10:27] m-richards commented on #2563
Fixed in #2586

[2022-10-11 10:27] #2563 closed

[2022-10-11 10:29] #2416 closed

[2022-10-11 10:38] m-richards commented on #2566
Hi @shogohida, thanks for wanting to contribute (and also @DamyanBG, I would suggest however we let shogohida have a go at this first - but you are most welcome to take a look at any of the other open issues, perhaps one of #2357, #2357 would other good places as first contributions as the original contributors there haven't seen those issues through to completion)!

In terms of this specific issu

[2022-10-11 10:57] aaryan-verma commented on #2534
I want to work on this issue. Pls assign it to me.

[2022-10-11 11:06] martinfleis commented on #2534
@aaryan-verma it is a question. If you know what is happening feel free to answer it. Unless it uncovers a bug on geopandas side, there's nothing to do code-wise.

@1996HZP do you have a traceback? I believe that a server should print one. How did you install geopandas and its dependencies?

[2022-10-11 11:06] DamyanBG commented on #2566
@m-richards Thank you, now I will take a look !

[2022-10-11 11:07] DamyanBG commented on #2357
Hello, if this issue is still open, please, assign it to me !

[2022-10-11 11:23] martinfleis commented on #2357
@DamyanBG I cannot formally assign it but go on! Thanks!

[2022-10-11 21:38] EwoutH opened #2592 "ENH: Support Python 3.11"
Python 3.11 is expected to be released as stable around October 24th, with many new features including:

The state of the Python 3.11 ecosystem is already great:

- ✅ The regular scientific computing stack is in excellent shape. NumPy and Pandas support Python 3.11 and have wheels available, as do SciPy, Matplotlib and Seaborn. Tools like, Black and pre-commit and pytest also support Python 3.11.

[2022-10-12 08:15] martinfleis commented on #2592
Given geopandas is pure python, it should be straightforward as soon as all dependencies have 3.11 support. If you'd like to figure out a CI env that may test it right now, go for it!

[2022-10-12 09:15] EwoutH commented on #2592
Thanks for getting back! I think aside from the GeoPandas dependencies, the CI relying on Conda will be the hold up. Conda is quite slow with adopting new Python versions. I don't think Conda is needed if all dependencies have wheels on PyPI available, right?

I think moving the dependencies and the optional docs/dev dependencies to the [`pyproject.toml`](https://github.com/geopandas/geopandas/blo

[2022-10-12 09:39] martinfleis commented on #2592
Yes, it can be a bit cumbersome initially. You don't need conda to install geopandas so we should also be able to create a CI env without it if we really want. It just adds some complexity to our  CI setup I am not sure I am happy about.

See https://github.com/geopandas/geopandas/pull/2512

[2022-10-12 11:05] DamyanBG commented on #2357
Okay, I will give a try !

[2022-10-12 12:41] Moddy2024 commented on #529
@jorisvandenbossche  I can help make interactive plot with ipyleaflet. Can you show some example of it ?

[2022-10-12 12:42] martinfleis commented on #529
@Moddy2024 you can check how current examples stored in [`doc/source/gallery`](https://github.com/geopandas/geopandas/tree/main/doc/source/gallery) look like and how ipyleaflet examples on their documentation are designed.

[2022-10-12 12:49] KarenChen9999 opened #2593 "QST: clip runs so slow"
Is there an alternative method that I can speed up running geopandas.clip function. I am trying to clip linestrings from polygons. Both input data are quite large e.g. Polygons 86 million and linestring 1 million. I have created spatial index but it is still very slow even when running some small subsets. Any suggestions?

[2022-10-12 15:00] jorisvandenbossche commented on #2593
I assume part of the bottleneck here is that you are clipping with a mask consisting of many geometries. Our current implementation is converting that to a single geometry object using `unary_union`, and this is known to be a (inherently) slow operation.

That part will also not be helped by using dask-geopandas (and that's actually even not yet implemented, for dask-geopandas you need to create t

[2022-10-12 15:05] knaaptime commented on #2593
xref https://github.com/geopandas/geopandas/issues/1803

[2022-10-12 15:09] jorisvandenbossche commented on #2593
@knaaptime good catch, thanks for the link, I forgot about that one. It is indeed about the same bottleneck, and @KarenChen9999 it might be interesting to test the different alternative solutions mentioned there

[2022-10-12 15:28] FenderJazz commented on #1464
I haven't really got my head around the modular sjoin, but @adriangb's options 2 and 3 seem quite complicated for an average user, who just wants to provide a performance hint, without learning about sjoin internals and writing code to fit it.

Documentation is good, of course, but I don't think it's true that this issue is resolved by documentation alone.  Swapping the order of the GDFs in the sj

[2022-10-12 19:30] EwoutH commented on #2592
shapely just released version [1.8.5](https://github.com/shapely/shapely/releases/tag/1.8.5), with 3.11 wheels on PyPI! Only Fiona is left of the direct dependencies!

Conda is working on it, see tracking issue https://github.com/conda/conda/issues/11170.

[2022-10-12 22:19] fbunt commented on #2589
Looking at the code, I noticed a few things:

* All possible types for the input mask have the potential to be invalid. An invalid shapely geom is the only one that causes issues, however, because then `box_mask` becomes an empty tuple rather than a 4-tuple.
* Invalid or all-empty mask inputs (other than an invalid shapely geom) work fine and simply produce an empty series/dataframe.
* There are n

[2022-10-12 22:28] fbunt commented on #2589
The first option also doesn't warn or alert the user that something potentially erroneous is happening.

[2022-10-13 02:43] KarenChen9999 commented on #2593
Thanks for all the good suggestions. I have created sindex and also installed pygeos. I also tried to use sjoin to work out corresponding intersecting ids, then only apply clip with those matched subsets but it still runs slow with clip function.

I initially tried overlay function, but I miss placed the order of linestring and polygon e.g. geopandas.overlay(polygon, linestring), which returned an

[2022-10-13 16:18] rraymondgh commented on #2587
@olsgaard I'm working on https://github.com/geopandas/geopandas/pull/2590 to improve this type of behaviour.  Have identified this issue,  haven't fixed yet...  Post into a comment fix that you have identified rather than two of us generating PRs that fix same thing

[2022-10-13 17:29] fbunt commented on #2589
Can do. Thanks!

[2022-10-13 19:00] martinfleis commented on #2573
Hi, thanks for the suggestion. Though I am not sure I am in favour here. We generally prefer not to fall back to pandas methods when geometry is not present. You can see the same behaviour in `read_parquet` or `read_feather`. The questions on "why my geometry method does not work if I read the table with geopandas" would probably come quickly.

The `_df_to_geodf` is an internal function and given

[2022-10-13 19:13] martinfleis commented on #2556
Hello, thanks for the report. It is a bit hard to debug this one... Have you fixed that in the meantime? Can you try installing `pyogrio` and trying to read a file with that engine?

[code]
I believe this is an installation issue on `fiona` side. It may be already fixed on conda-forge side.

[2022-10-13 19:54] martinfleis commented on #2588
Hey, thanks for the thorough report!

I would vote for this solution. Consistency with pandas is always preferable. It solves the issue you describe and retains full backwards compatibility. And does not add a lot of complexity on our side. Would you be willing to draft a PR?

[2022-10-13 21:42] Leviob commented on #1896
Hi, I'm going to make a pass through the docs and fix a few style issues.

[2022-10-14 10:39] rraymondgh commented on #2587
@olsgaard did you find `elif pd.api.types.is_categorical_dtype(gdf[column]):` should be **if** ?  changing that tests still pass and passing a series now works

[2022-10-14 14:45] deeplook opened #2597 "QST: Serving geodataframe via matplotlib crashes flask server"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

#### Question about geopanda

[2022-10-15 09:47] #2561 closed

[2022-10-16 08:21] kapoor1992 commented on #2325
Saw this one was open for a while and submitted a PR @martinfleis.

[2022-10-17 09:35] idantene commented on #2573
I understand your concerns, which is why both of the above suggestions do not change how geopandas fundamentally works.

That would be odd, since the user would have to specify explicitly that they want the current behaviour changed (if using the `on_missing_geometry` flag), or explicitly know they have a dataframe and are _trying_ to create a geodataframe from it (if using the second suggestion).

[2022-10-17 12:47] rraymondgh opened #2601 "DEP: matplotlib 3.5 deprecates `get_cmap()`"
matplotlib 3.5 generate deprecation warnings. Removing from https://github.com/geopandas/geopandas/pull/2572

This just shows a working approach.  Will generate a PR

[code]

[2022-10-17 12:48] jorisvandenbossche commented on #2601
There is already a PR! -> https://github.com/geopandas/geopandas/pull/2596 (didn't check in detail, but assuming it is the same)

[2022-10-17 13:06] rraymondgh commented on #2601
dealt with in https://github.com/geopandas/geopandas/pull/2596

[2022-10-17 13:06] #2601 closed

[2022-10-17 14:52] juseg opened #2602 "ENH: Allow autolim keyword argument in plots"
#### Is your feature request related to a problem?

I use geopandas to reproject global (e.g. Natural Earth) data and plot it for small regions. This causes axes limits to update to encompass the global (and often badly distorted) data

[code]

I wish I could prevent geopandas from updating axes limits when plotting a dataframe.

#### Describe the solution you'd like

`GeoDataFrame.plot` should ge

[2022-10-17 20:03] darshanip commented on #2538
Seems nobody is working on this, i'll grab it. @m-richards

[2022-10-18 08:06] jorisvandenbossche commented on #2597
In what way does it crash? (the message about starting a matplotlib GUI is only a warning?)

I am not familiar with flask, but one thing might be to instruct matplotlib to not use a graphical backend before calling the geopandas plot method (so before importing matplotlib.pyplot).

xref https://github.com/matplotlib/matplotlib/issues/12628

[2022-10-18 08:11] #2444 closed

[2022-10-18 08:19] jorisvandenbossche opened #2603 "Release 0.12"
We discussed this in one of the previous community meetings to do a 0.12 release to have a GeoPandas release that works together with Shapely 2.0:

Shapely 2.0 beta 1 was released yesterday, so maybe we should also try to release GeoPandas 0.12 shortly. This will make it much easier for people to actually test shapely 2.0 in environments where they also use geopandas (without having to install the

[2022-10-18 09:11] olsgaard commented on #2587
@rraymondgh , Yes, `elif pd.api.types.is_categorical_dtype(gdf[column]):` should be `if pd.api.types.is_categorical_dtype(gdf[column]):`

[2022-10-18 11:27] deeplook commented on #2597
Indeed, if I use `matplotlib.use("pdf")`, say, then flask will do the job, else it seems like another process is spawned, resulting in the (shortened) traceback below. And then, using fastapi insteaad with its `async` labels, there is no need for providing an alternative matplotlib backend.

[code]

[2022-10-18 12:46] procyonlun commented on #1867
hello，I updated geopandas and pygeos, but the issue is still not resolved . can u
help me ~

[2022-10-18 14:02] martinfleis commented on #1867
@procyonlun if you see this issue, then you are using very old version of GeoPandas. You will not see it in any release since 0.8.2. Note that the latest version is 0.11.

[2022-10-19 02:25] procyonlun commented on #1867
thx, but now my current version of Geopandas is 0.11.1 (crying..)

[2022-10-19 02:28] procyonlun commented on #1867
![bug](https://user-images.githubusercontent.com/114399524/196582963-0b9037fb-c1bb-4b42-813c-4a511acb4c1d.jpg)
this is my pip list

[2022-10-19 08:47] procyonlun commented on #1867
thx ,I reinstalled geopandas and the problem was solved. Really thx

[2022-10-19 16:18] shogohida commented on #2566
@m-richards
Sorry for the delay. I think the error message should be like "GeoDataFrame has to have single columns" but I'm not sure where the part you indicated (along the lines of `(gdf.dtypes==geometry).sum()>1` ) is....

Can you give me more guidance please?

[2022-10-19 17:23] raphaelquast opened #2606 "QST: Recommended way for appending to a GeoDataFrame? (`df.append` is depreciated in pandas)"
- [x] I have searched the [geopandas] tag on [StackOverflow](https://stackoverflow.com/questions/tagged/geopandas) and [GIS StackExchange](https://gis.stackexchange.com/questions/tagged/geopandas) for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com) or [GIS StackExhange](https://gis.stackexchange.com).

---

#### Question about geopanda

[2022-10-21 08:15] benoit9126 opened #2607 "BUG: Method `duplicated` performances on geometry column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-10-21 11:35] PluT00 commented on #2566
@shogohida if I'm not mistaken, it's here:
https://github.com/geopandas/geopandas/blob/503330b32fe93f71761a4e611f6063db34711b29/geopandas/io/file.py#L616

[2022-10-21 16:06] jorisvandenbossche commented on #2607
@benoit9126 thanks for the report!
I can confirm this, and from taking a quick look, it seems most of the slow performance can be attributed to the pygeos->shapely conversion. So what happens under the hood is that pandas is converting the geometry column to a numpy array `np.array(gdf["geometry"]`). And if you have PyGEOS installed and enabled (by default), then in this conversion to numpy array,

[2022-10-21 16:11] benoit9126 commented on #2607
Thanks for the answer @jorisvandenbossche. I will convert my columns into WKB as you suggested for the moment. I am eager to see Shapely 2.0+GeoPandas compatible version released. ^^

[2022-10-21 16:16] jorisvandenbossche commented on #2603
I am planning to do a release tomorrow. Are there specific PRs that are more or less ready you would prefer to see included?

[2022-10-21 18:53] martinfleis commented on #2603
I would include #2578, the rest can wait.

[2022-10-21 19:16] PluT00 commented on #2538
Could I take this issue?

[2022-10-21 20:51] martinfleis commented on #2603
Ah, and #2596 to get rid of matplotlib warnings.

[2022-10-21 20:54] martinfleis commented on #2538
@PluT00 It already is being resolved in #2604.

[2022-10-22 02:04] m-richards commented on #2606
Hi @raphaelquast, the recommendation would be to just use pd.concat:
[code]
`concat` will produce an output of the type of the first argument, so as long as gdf1 is already a geodataframe it will work fine (which is the same as the requirements for using append in the past)

[2022-10-22 02:11] m-richards commented on #2597
Running your gist, I'm not able to replicate the crash you describe (with or without setting the matplotlib backend). However I'm running windows, rather than macos.

[2022-10-22 02:22] m-richards commented on #2566
Hi @shogohida, the current error (see the example in the first comment of this issue) comes from inside `infer_schema` here:
https://github.com/geopandas/geopandas/blob/174b38c5e379deb7b771102019af42b9b0de7330/geopandas/io/file.py#L552-L555

But given this issue will affect python the pyogrio and fiona io engines we should add a check for multiple geometry columns in the shared `to_file` method, p

[2022-10-22 04:30] m-richards commented on #2603
Seems like CI failures on main might need to be resolved first - fiona doesn't appear to import correctly: https://github.com/geopandas/geopandas/actions/runs/3300337184/jobs/5444725744

Looking at the latest commits, we seem to have had successful builds with fiona 1.8.22 when #2575 was merged, but the latest commit seems to install it then show fiona =None in `geopandas.show_versions` (it's also

[2022-10-22 08:58] MaxDragonheart commented on #1035
Any solution? In my project `fid` is very important because contains unique values that I use for a lot of processes.

[2022-10-22 09:04] WaelJRD commented on #1887
Hello, I don't understand why I still have the same problem. last year it worked and not now :

import geopandas as gpd
pyproj.datadir.get_data_dir()_
=> 'C:\\Users\\Users\\Anaconda3\\lib\\site-packages\\pyproj\\proj_dir\\share\\proj'

gpd.read_file('file.shp')

=> Invalid projection: epsg:4326: (Internal Proj Error: proj_create: SQLite error on SELECT name, type, coordinate_system_auth_name, coor

[2022-10-22 09:12] jorisvandenbossche commented on #1887
Can you show the output of `geopandas.show_versions()` and `pyproj.show_versions()`?

[2022-10-22 09:16] WaelJRD commented on #1887
@jorisvandenbossche  :
pyproj version :  2.6.1.post1
geopandas version : 0.9.0

[2022-10-22 09:18] jorisvandenbossche commented on #2603
The CI issues are an upstream conda-forge pinning issue (in tiledb, which is one of the dependencies of GDAL), so not our concern directly, but of course we want green CI before releasing to verify our own tests are passing. I am trying to temporary fix with pinning to an older version in https://github.com/geopandas/geopandas/pull/2609

[2022-10-22 09:19] jorisvandenbossche commented on #1887
Please show the full output of those functions, not just the versions

[2022-10-22 09:23] WaelJRD commented on #1887
gpd.show_versions() :

SYSTEM INFO
-----------
python     : 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
executable : C:\Users\wael\Anaconda3\python.exe
machine    : Windows-10-10.0.19041-SP0

GEOS, GDAL, PROJ INFO
---------------------
GEOS       : None
GEOS lib   : None
GDAL       : 3.0.2
GDAL data dir: None
PROJ       : 6.2.1
PROJ data dir: C://Users/wael/Anaconda3/Lib/sit

[2022-10-22 09:34] jorisvandenbossche commented on #1887
@WaelJRD it seems you have a mixture of pip and conda packages. If you are using Anaconda, we strongly recommend installing geopandas and all its dependencies (pyproj, fiona, shapely) using conda from conda-forge (see https://geopandas.org/en/stable/getting_started/install.html#using-the-conda-forge-channel).
In your case, I can see that pyproj is installed as a wheel, but based on the GDAL versio

[2022-10-22 10:41] raphaelquast commented on #2606
Hey @m-richards  thanks for the response!

If this is the recommended way now, does it mean that `gpd.append` will be deprecated as well?
If so, how about providing a direct accessor to `pd.concat` in geopandas (e.g. `gpd.concat`) so that
one can avoid the explicit import for pandas and also to ensure users that the operation actually
results in a properly concatenated `GeoDataFrame`.

[2022-10-22 10:46] MaxDragonheart commented on #1035
This is my workaround, hope it can be usefull https://gist.github.com/MaxDragonheart/46445a150aac9d528dadd2ec877203a5

[2022-10-22 13:48] #2056 closed

[2022-10-22 13:54] #2589 closed

[2022-10-24 02:48] sunny3287358580 commented on #1812
thank you

[2022-10-24 03:45] rmGFW opened #2612 "BUG: to_postgis not work when specify dtype in order to insert multi geometry columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-10-24 06:58] #2554 closed

[2022-10-24 07:53] jorisvandenbossche commented on #2603
Released! -> https://github.com/geopandas/geopandas/releases/tag/v0.12.0 (https://pypi.org/project/geopandas/0.12.0/)

Will announce if conda-forge is ready

[2022-10-24 08:11] theroggy commented on #1803
For people running in a performance issue with (very) large/complex input files this is yet another option. It needs (geopackage) files as input and writes the result to a file as well: [geofileops.clip](https://geofileops.readthedocs.io/en/stable/api/geofileops.clip.html#geofileops.clip)

[2022-10-24 09:34] martinfleis commented on #2603
Thank you @jorisvandenbossche!

[2022-10-25 06:43] m-richards commented on #2606
Hi @raphaelquast,

yes, GeoPandas doesn't actually implement gpd.append, it is inherited from pandas, so it will be deprecated at the same time as the pandas method.

Others may have different views on this, but I personally don't see a reason to expose a `gpd.concat`, we already depend on pandas so I don't see adding an import as a huge issue. Given that we do not have any special implementation

[2022-10-25 07:34] martinfleis commented on #2606
Fully agree with @m-richards here. If anything, we should stress more that geopandas is an extension of pandas and all the pandas methods and functions work on geopandas objects as you would expect with pandas.

[2022-10-25 08:24] WaelJRD commented on #1887
Thank you @jorisvandenbossche :-)

[2022-10-25 10:31] rraymondgh opened #2613 "BUG: shapely 2.0b1, geopandas 0.12 unary_union fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2022-10-25 10:57] jorisvandenbossche commented on #2613
The error traceback shows that pygeos is being used, not shapely. Did you set the env variable? (the line is commented out in the example code snippet)

[2022-10-25 11:06] rraymondgh commented on #2613
@jorisvandenbossche it works with shapely enabled, fails when pygeos is used.  That line is commented as I was testing both cases

[2022-10-25 11:14] jorisvandenbossche commented on #2613
Ah, but I was confused because the title indicates shapely 2.0b1, so I was assuming it was happening when using shapely as the engine.
So it's updating shapely from 1.8 to 2.0b1 that triggers pygeos to fail? If so, that sounds like a compatibility issue with the GEOS versions both use (we've run into mysterious failures before wen using wheels and not conda, where both packages actually use the sa

[2022-10-25 11:19] jorisvandenbossche commented on #2613
Similar issues: https://github.com/pygeos/pygeos/issues/447, https://github.com/pygeos/pygeos/issues/377, https://github.com/pygeos/pygeos/issues/122, and also https://github.com/geopandas/geopandas/issues/2551 you opened a while ago ..

We should probably have chosen to only use the "fastpath" in pygeos when we could detect that conda is being used, to avoid those failures when using wheels that

[2022-10-25 11:22] martinfleis commented on #2613
Do you want to make a patch with this?

For a record, I am not able to reproduce the reported behaviour on M1 when installing all from PyPI.

[2022-10-25 18:09] rraymondgh commented on #2613
Based on comment from @martinfleis I created a new **venv** on a new ubuntu vm.  Everything installs fine with `pip` and I did not receive this error.  Went back to my Mac and have removed all **brew** installs of **geos** and **glad**.  Now everything works just warnings about **shapely** and **pygeos** compiled with different versions of **geos**.  This is something obscure and difficult to re-p

[2022-10-25 18:44] #2613 closed

[2022-10-25 20:57] thomcom opened #2614 "BUG: Problem with polygon.contains(linestrings)"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---
#### Code Sample, a copy-pastable example

[code]
The expected result is four `True`s, as all four lines are inside of the square polygon, but only the first value is

[2022-10-26 00:49] thomcom commented on #2614
Curious, it sounds like `polygon.contains(linestring)` is a pairwise operation only. It works if one polygon is specified per linestring. It seems like the True False False False I'm getting is a bug, though.

[2022-10-26 06:16] jorisvandenbossche commented on #2614
Indeed. If you run this code, it should show a warning:

[code]

So in pandas (and we did that in geopandas as well), (binary) operations between two Serieses will align those two objects on their index. So basically under the hood it first does:

[code]

and only then the `contains()` operation. And because this introduced missing values, that's where the `False` results come from. So it's not a

[2022-10-26 07:39] m-richards commented on #2573
From my perspective, I don't think the convenience of your second snippet warrants the additional complexity within the GeoDataFrame init method - it's not as if it dramatically simplifies the situation from the first snippet.

Re  `gpd.from_pandas`, I'm a bit lost on what this would do / how this differs from the standard geodataframe constructor which already takes a pandas dataframe and returns

[2022-10-26 08:44] idantene commented on #2573
Indeed for this minimal example, it does not make an impact. In the scope of SQL queries though, it can, especially in terms of access time. One could then read from postgres using pandas, and _attempt_ to convert to geopandas, catching any exceptions:
[code]

In LBYL manner (checking for arguments, as in my original post), one can still fail to read a geodataframe, and would then have to query th

[2022-10-26 13:38] thomcom commented on #2614
Thanks for the detailed rundown @jorisvandenbossche . I had assumed that 1 to many, many to 1, and pairwise were supported. Thanks for your time!

[2022-10-26 15:32] raybellwaves opened #2615 "ENH: DOC: improved contributing guide"
In https://geopandas.org/en/stable/community/contributing.html

I don't see the benefit of explaining "Creating the environment manually" (https://geopandas.org/en/stable/community/contributing.html#creating-the-environment-manually) and "3) Installing Dependencies". (https://geopandas.org/en/stable/community/contributing.html#installing-dependencies)

I think it makes more sense just to have user

[2022-10-26 16:05] josephko91 commented on #2593
I have an issue that seemed to be related to this. I am clipping ~2 million grid cells (represented as polygons) with one single polygon mask. I've run this many times before with geopandas clip operation and it always executed on the order of seconds. But recently, after some different package installations in my conda environment, the clip operation (and some other geopandas operations as well,

[2022-10-26 18:01] martinfleis commented on #2615
I disagree with that. I don't use it myself and want to know which dependencies I need to install to the env of my choice.

Yeah, that should be changed.

[2022-10-26 18:35] raybellwaves commented on #2615
can't argue with a core developer here. I don't see much harm in having multiple options. Similarly, pandas give multiple options e.g. with docker/without docker

[2022-10-26 18:36] raybellwaves commented on #2615
Closed via #2617

[2022-10-26 18:36] #2615 closed

[2022-10-26 19:35] martinfleis commented on #2573
I think that what we could potentially do is to add `GeoDataFrame.from_wkb` method that would expose `_df_to_geodf`. Would that work for your use case @idantene? You can then read SQL database with pandas and call `GeoDataFrame.from_wkb` afterwards.

[2022-10-26 19:49] raybellwaves commented on #1179
Can confirm in user code adding a `.copy()` works.

[code]

[2022-10-27 06:50] martinfleis commented on #2573
That would probably be a separate method as we have for GeoSeries.

[2022-10-27 18:44] martinfleis commented on #2546
Fixed in https://github.com/pysal/mapclassify/pull/131

[2022-10-27 20:25] martinfleis commented on #1832
We should make the warning more explicit and explain what happens apart from just saying that the indices are different.

[2022-10-28 03:56] rosepearson commented on #2558
Glad to see this has been reported this is impacting me as well. I'm just updating to pandas 1.5.1 to see if the pandas related cases that have already closed resolve this behaviour. They do see to resolve the behaviour I was experiencing. Thank-you :)

[2022-10-28 06:43] jorisvandenbossche commented on #1832
First attempt:

If this alignment is the expected (or desired?) behaviour, you can silence this warning by passing 'align=True'. If you don't want alignment and protect yourself of accidentally aligning, you can pass 'align=False'.

[2022-10-28 06:47] #2558 closed

[2022-10-28 06:47] martinfleis commented on #2558
Fixed in upstream.

[2022-10-28 14:36] brendan-ward commented on #2603
In `setup.py`, we have a constraint of Shapely < 2 added in #2323; this makes it somewhat more difficult to test 0.12 with Shapely 2.0b1 in tools that strictly check against this (e.g., Poetry).  It is possible to get around this by using pip to uninstall Shapely 1.8.x and reinstall 2.0b1, but in the case of Poetry it tends to revert this anytime you add / remove another dependency.

Now that #227

[2022-10-28 14:45] jorisvandenbossche commented on #2603
Oh no, I forgot about that .. Yes, that should have been removed. I suppose I will do a 0.12.1 with that then.

[2022-10-29 07:31] jorisvandenbossche commented on #2603
v0.12.1 with the pin removed is released!

[2022-10-29 14:35] brendan-ward commented on #2603
Thanks @jorisvandenbossche !  Now able to install Shapely 2.0b2 alongside GeoPandas 0.12.1 without difficulty via Poetry.

[2022-10-30 10:23] operte commented on #2551
I'm having issues with overlaying two GeoDataFrames that only have Polygons. I believe I am using the most recent versions of all packages.

[code]

My system info:
- python 3.10.4
- macOS, arm64
- gdal 3.5.2
- geos 3.11.0
- shapely 1.8.5.post1
- pygeos 0.13
- geopandas 0.12.0
- fiona 1.8.22

Not sure if relevant, but I have installed my environment using `poetry`.

[2022-10-31 18:16] snowman2 opened #2626 "QST: geometry as index column?"
Priority: Very low. Just wanted to post before I forgot for awareness. Behavior is likely fine as is.

Take any given geodataframe:

[code]
Then, set the `geometry` column as the index and attempt to access the `crs` attribute. Previously, the `crs` attribute worked as the `_crs` as an attribute of the dataframe, With that removed, accessing the `crs` attribute now checks for the `geometry` and it

[2022-10-31 19:53] josephko91 commented on #2593
@jorisvandenbossche @martinfleis
If you have any suggestions or comments, it would be greatly appreciated!

[2022-10-31 20:04] martinfleis commented on #2593
@josephko91 are you able to figure out what has changed in your environment?

[2022-10-31 20:08] josephko91 commented on #2593
@martinfleis Yes, I used `conda list --revisions` to check the changes to my environment than I used 'conda install --revision N' to revert back to when I recall it was still working quickly. This did not solve the problem. I also tried fresh install of GeoPandas in a new Conda environment as well. Didn't work.

[2022-10-31 20:11] martinfleis commented on #2593
So even if you run the same code in the same environment, it now runs much slower than before? No idea how to debug that...

[2022-10-31 20:15] josephko91 commented on #2593
@martinfleis Yes, it is quite perplexing. From a big picture perspective, I'm confused why this would take over 10 minutes, even with a fresh install of GeoPandas in a new environment. Yes, 2 million grid cells may be "a lot" but should it really be taking that long to clip those grid cells with a single polygon? That is what is confusing to me. For example, if I did this in QGIS or ArcGIS I know

[2022-10-31 20:20] brendan-ward commented on #2593
@josephko91 to confirm: do you have PyGEOS or Shapely 2.0b1 or 2.0b2 installed in your updated environment?

[2022-10-31 20:21] martinfleis commented on #2593
@josephko91 well, to be fair, our implementation is not ideal as you can understand from the discussion here and in #1803 linked above. We currently do intersection even on polygons that are fully within a mask and a use of spatial index is not super efficient.

@brendan-ward points in a right direction. What may be happening is that before, GeoPandas was using PyGEOS engine and now is using shape

[2022-11-01 11:04] m-richards commented on #2612
Hi @rmGFW, would you be able to update your example to include something that is reproducible?

Looking at it I'm not exactly sure what you're attempting to do - it's not clear where `Geometry` comes from (geoalchemy perhaps?). In any case, this specification of the GeoDataFrame using `dtype`, is not going to work - perhaps look at the documentation for GeoDataFrame for some guidance: https://geop

[2022-11-01 11:38] m-richards commented on #2626
This is an interesting question. Retrieving the CRS on GeoDataFrames without a valid geometry column was deprecated in 0.11 and removed in 0.12. In that sense this behaviour is expected - however (at least speaking for myself) I don't think we considered this case where the geometry column is lost by setting it as the dataframe index - I've never had a reason to do this before. If this pattern is

[2022-11-01 11:43] martinfleis commented on #2626
Index cannot be considered an active geometry column. I would say this is expected behaviour. If you set geometry as an index, you will need to retrieve CRS from the underlying array within the Index object. I would personally leave this as it is. You cannot expect any other geometry-specific method to work, why would CRS should work?

[2022-11-01 13:18] snowman2 commented on #2626
I wouldn't say that this behavior is recommended :smile:

That works.

Thanks all - this should be helpful in case someone else runs into this.

[2022-11-01 13:18] #2626 closed

[2022-11-01 16:19] josephko91 commented on #2593
@brendan-ward
In my new environment, I have pygeos 0.13 and shapely 1.8.5 installed. Full list of packages in my conda environment attached.
[geo_test_packages.txt](https://github.com/geopandas/geopandas/files/9912162/geo_test_packages.txt)

@martinfleis
Understood. I'm just trying to figure out how why it seemed to be working much faster previously. Will do some more tests and let you know if I f

[2022-11-02 13:47] #2592 closed

[2022-11-02 15:24] forestbat opened #2631 "QST: How to find geometries in a dynamic buffer quickly?"
I want to get the nearest `LineString` with an appointed `Point`, so I wrote these codes:
[code]
But when I test the code I knew `clip_by_rect` will return a series or dataframe which contains `GEOMETRYCOLLECTION EMPTY` (Note: empty geometries or geometries that do not overlap with the specified bounds will result in GEOMETRYCOLLECTION EMPTY), so I probably should write:
`while gpd_df_clip.all() i

[2022-11-02 15:26] martinfleis commented on #2631
Would `sjoin_nearest` solve your problem? https://geopandas.org/en/stable/docs/reference/api/geopandas.sjoin_nearest.html

[2022-11-03 07:51] martinfleis commented on #2582
Hey, thanks for the suggestion! Some of this has already been discussed. See #1832.

[2022-11-03 07:51] #2582 closed

[2022-11-03 08:35] martinfleis commented on #2607
I will close this as it there is no action to be taken. This will gets resolved by switching to shapely 2.0 backend.

[2022-11-03 08:35] #2607 closed

[2022-11-03 08:36] martinfleis commented on #2603
Release and the follow-up patch are out. Closing.

[2022-11-03 18:46] rraymondgh opened #2637 "COMPAT: pandas numeric_ony dissolve()"
#### Is your feature request related to a problem?

Currently in **ci** there are multiple warnings of the form:
[code]

#### Solution

I see two approaches to extending `dissolve()`
1. add `egg_kwargs` argument
2. add `numeric_only`  argument that is then passed to `agg()` similar to other arguments that are passed to `groupby()`3.

Obviously 2 also needs to consider other arguments - TBD.  I'm i

[2022-11-04 04:51] derinwalters commented on #1345
Will this issue resolution include Shapely 2.0 compatibility as well? I have currently worked around by making my own to_crs method with include_z=True argument to get_coordinates and z-axis values to the transform method, but it would be great to see in the main release.

[2022-11-04 08:42] jorisvandenbossche commented on #1345
Ah, yes, this is something we need to fix for Shapely 2.0 as well.

I think what we could do by default is infer from the data (for example from the first geometry) whether it is 3D or not, and based on that include z or not in the transformation, and then we could also expose such a `include_z` keyword in `to_crs` that allows to override this default inference.
I opened a draft PR to explore such

[2022-11-04 08:51] derinwalters commented on #1345
Thanks! I added a comment to the draft PR about exposing include_z to GeoDataFrame and GeoSeries to_crs definitions as well.

[2022-11-07 05:23] rmGFW commented on #2612
the Geometry is comes from `from geoalchemy2 import Geometry`

[2022-11-07 12:46] marcopiani commented on #2382
Hi,

I am glad I had correctly understood the source of the issue, particularly that the NE dataset that comes with geopandas adopts the standard NE borders.

My suggestion is that of introducing a warning upon loading the dataset, pointing to the NE policy and to the fact that NE offers alternative views. In this way, the user is made aware of the potential issue and also of potential "solutions"

[2022-11-09 10:30] m-richards commented on #2612
Without a code snippet it's still a little hard to help, you should supply geometry to the GeoDataFrame constructor using the `geometry=` argument and supply a `GeoSeries`, instead of using `dtype=`.

[2022-11-10 03:48] rouault commented on #2253
This was a defect of the GDAL OpenFileGDB driver (probably of the dataset itself) that will be fixed per https://github.com/OSGeo/gdal/pull/6652. Do not hesitate to report upstream such issues.

[2022-11-11 10:18] batpad commented on #2612
Ran into this recently. Similar to the OP here, we wanted to over-ride the default type definition for the geometry field, and assumed we could do this via the `dtype` parameter with something like this:

[code]

What I expect:

This forces the `geometry` column in the PostGIS database to have the geometry type as `GEOMETRY` instead of being auto-detected by GeoPandas.

What occurs:

Regardless of

[2022-11-13 11:12] m-richards commented on #2612
Hi @batpad thanks for the detailed write up here and follow on. Looking at your snippet, I see you're trying to pass values to `dtype` in `to_postgis`, rather than in the `GeoDataFrame` constructor. I think in this context it's entirely reasonable we should support feeding through geoalchemy geometry types where specified.

I think your analysis of why this happening is correct - and suggested fix

[2022-11-13 13:49] alex-translation commented on #2357
is there any work on this? currently working on some things and would benefit from an implementation. would love to help/test if someone has a good start.

[2022-11-15 15:01] redhog commented on #2002
Heyas! I'd like to add here that in the general case with many shapes on both sides, you will probably need a sparse matrix. Here is my implementation using `scipy.spatial.cKDTree`. It has a similar api to `scipy.spatial.cKDTree().sparse_distance_matrix()`, and the same return value type(s) as that function (however, it obviously only works with euclidean distance :):

[code]

[2022-11-22 15:07] ocefpaf opened #2652 "BUG: Not really a bug but a problem with the docs when plotting with cartopy"
- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of geopandas.

- [ ] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

The documentation is probably mixing a bad cartopy/matplotlib version. You can either downgrade mpl or pin cartopy to >=0.21.

![Screenshot from 2022-11-22 11-58-39](

[2022-11-22 15:48] martinfleis commented on #2652
That seems to be fixed on the latest version of the docs - https://geopandas.org/en/stable/gallery/cartopy_convert.html

[2022-11-22 16:12] ocefpaf commented on #2652
Awesome. I was sure I tried the latest version but maybe I had a cache or something. Closing this.

[2022-11-23 15:35] himikof opened #2653 "BUG: empty GeoDataFrame writes invalid JSON (NaN bbox) as parquet metadata"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Standard RFC 8259 JSON does not allow NaN numbers, so utilities with strict parsers will

[2022-11-23 16:12] himikof opened #2654 "BUG: GeoDataFrame.to_parquet writes geometry in EWKB instead of ISO WKB required by spec"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of geopandas.

- [x] (optional) I have confirmed this bug exists on the main branch of geopandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The [0.4.0 GeoParquet specification](https://github.com/opengeospatial/geoparquet/blob/v0

[2022-11-23 16:21] tfardet commented on #2606
@m-richards is the pandas support complete, though?
I've been using ``pd.concat(gdf_list)`` to combine ``GeoDataFrame`` objects but I get a

[code]

despite the fact that all the ``GeoDataFrame`` objects in ``gdf_list`` have a valid ``crs`` attribute (epsg:4326)...
That's in gpd 0.12.1

[2022-11-23 19:39] tfardet commented on #2606
@martinfleis thanks for the quick reply, it took me a while but I think I found the problem, it's not directly related I guess but it comes from my used of ``sjoin_nearest`` with saved geometries.

The shortest MWE I could come up with was:

[code]

[2022-11-23 19:57] martinfleis commented on #2606
If you dissect it a bit further, you can see that while this doesn't warn

[code]

this does

[code]
That it is because when concatenating non-active GeoSeries, pandas creates an empty one on the side of `nearest` to have something to concatenate. And that does not have a CRS. So in this particular case, the warning is a bit misleading and we should probably filter the warning when this happens. F

[2022-11-23 23:44] jorisvandenbossche commented on #2652
I _think_ the latest versions work together, but you might not always get the latest versions depending on other dependencies in your environment (at least I ran into this last week: https://github.com/SciTools/cartopy/issues/2086#issuecomment-1256677646). But maybe that is solved now.

Should we still try to rebuild the stable docs (or add small patch) to get rid of the error?

[2022-11-23 23:44] jorisvandenbossche commented on #2652
I started with just triggering a new build on readthedocs: https://readthedocs.org/projects/geopandas/builds/18722662/

[2022-11-24 07:42] jorisvandenbossche commented on #2652
That looks good now -> https://geopandas.org/en/stable/gallery/cartopy_convert.html

[2022-11-24 15:59] ocefpaf commented on #2652
I meant the latest version of the docs. Sorry I was not clear. Yes, the latest version of cartopy works well with mpl.

[2022-11-24 16:36] jorisvandenbossche commented on #2652
That was clear, it's probably my wording that was unclear ;)

It's still good you reported this and that we rebuilt the _stable_ docs to not have the error

[2022-11-24 16:39] ocefpaf commented on #2652
PS: I want to get rid of that proj "ERROR" message now but I'm failing to reproduce it locally. It doesn't affect the docs but make them a bit hard on the eyes.

[2022-11-25 22:31] jorisvandenbossche commented on #2652
Yeah, I noticed that error message as well, and I also can't reproduce it locally. It's strange, also on the readthedocs build, all the packages come from conda-forge.

[2022-11-28 21:23] flowerboyworld opened #2656 "Import Error "Symbol not found: ____chkstk_darwin""
- [ ] I have read the [documentation on installation](https://geopandas.org/install.html) and followed the instructions provided.

- [ ] I have looked through [issues labeled "installation"](https://github.com/geopandas/geopandas/labels/installation) in the geopandas repo.

- If your issue is related to installation using the `conda-forge` channel, please open an issue in [geopandas-feedstock repo

[2022-11-28 21:36] jorisvandenbossche commented on #2656
This is an installation issue with one of our dependencies, i.e. `pyproj` (https://github.com/pyproj4/pyproj/).

Now, you have a mixture of binary packages installed using conda and pip. This is not recommended, and a recipe for failures (eg pyproj is installed with pip, which means it vendors libtiff, but that library is also installed with conda).
Since you are using conda already, best to insta

[2022-11-29 00:09] wybert opened #2657 "Escape special characters to avoid TemplateSyntaxError in explore"
The following code has the error `TemplateSyntaxError: expected token ':', got 'a'BUG:`,

[code]

I guess because of the {} brakets in `gdf`:

The bug can be reduplicated[ at colab](https://colab.research.google.com/drive/1fVtTDl1SkE1DzmPd_VvQqRe56vwmGz5Q?usp=sharing)

[2022-11-29 08:56] martinfleis commented on #2657
Thanks! The issue comes from conversion of gdf to geojson before sending it to folium/leaflet. We should escape special characters here to avoid invalid json, like in this case.

[2022-11-29 19:44] felix-ht commented on #972
any updates on this?

[2022-11-29 20:22] martinfleis commented on #972
@felix-ht There is a draft PR and a related discussion in https://github.com/geopandas/geopandas/pull/1674 I need to update whenever I have more time for that. If you need to use it now, you can get the code from that PR.